.header {
  padding: 10px 15px;
  background: #000;
  color: #fff;
  overflow: hidden;

  input[type="submit"] {
    font-size: $font-small;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    background: transparent;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    text-transform: capitalize;
  }

  .languages {
    margin-top: 15px;
  }
}

.header-nav {
  .logo {
    height: 100%;
    display: block;
  }
}

.header-nav__item {
  height: 100%;
  line-height: 40px;
  text-decoration: underline;
  padding: 0 20px 0 0;
  font-weight: bold;
  color: #fff;
  font-size: $font-small;
}

.header__search-title {
   margin: 0 0 15px 0;
  font-size: $font-large;
}
