.menu {
  background: #fff;
  color: #000;
  border-top: 2px #e7e7e7 solid;

  a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
  }

  .languages {
    color: #8d8d8d;
  }
}

.menu__item {
  border-bottom: 2px #e7e7e7 solid;
}

@each $name, $color in $color_list {
  .menu__item--#{$name} {
    border-bottom-color: $color;
  }
}

.menu__item--alt {
  border: 0;
  a {
    color: #8d8d8d;
  }
}
