.menu {
  background: #fff;
  color: #000;
  border-top: $border;

  a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
  }

  .languages {
    padding: 1.2em;
    color: #8d8d8d;
  }
}

.menu-items li {
  padding: 1em 1.25em;
  border-bottom: $border;
}

@each $name, $color in $color_list {
  .menu__item--#{$name} {
    border-bottom-color: $color;
  }
}

.menu-items--alt {
  margin-top: 1.25em;
  li {
    border: 0;
    padding-top: .25em;
    padding-bottom: .25em;
    a {
      color: #8d8d8d;
    }
  }
}
