
// here we declare some global padding rules.

.l-dent {
  padding: 20px;
}

.l-dent--no-height {
  padding-top: 0;
  padding-bottom: 0;
}

.l-dent--short {
  padding-top: 5px;
  padding-bottom: 5px;
}

@import "_l-header";
@import "_l-menu";


// and we implement them here.

.heading {
  @extend .l-dent;
  @extend .l-dent--short;
}


.article-list {
  padding-top: 5px;
  padding-bottom: 10px;
}
.article-list__item {
  @extend .l-dent;
  @extend .l-dent--short;
}

.polls {
  @extend .l-dent;
}
