.l-dent {
  padding: 20px;
}

.l-dent--no-height {
  padding-top: 0;
  padding-bottom: 0;
}

.l-dent--short {
  padding-top: 5px;
  padding-bottom: 5px;
}


// I'm trying something new, where I'm adding the layout styles
// directly on the elements.

.heading {
  padding: 5px 20px;
}

.article-list__item, .breadcrumbs {
  padding: 10px 20px;
}


.polls {
  padding: 20px;
}

.article__title, .article__subtitle, .article__image, .article__content {
  padding: 5px 20px;
}

.article__content .article__image {
  padding-left: 0;
  padding-right: 0;
}
