
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300);

html, body {
  background: #fff;
  position:relative;
  width: 100%;
  @media screen and (min-width: 600px) {
    background: #333;
  }
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin: 0 auto;
  color: $black;
  line-height: 1.333333333;
  height: 100%;
  max-width: 320px;
  @media screen and (min-width: 600px) {
    font: normal 17px 'Quicksand', Arial, Helvetica, sans-serif;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $black;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.author {
  font-style:italic;
  font-size:85%;
}

.numbered-list {
  margin: 0;
  padding: 0 25px;
}

.numbered-list__item {
  padding: 5px 0 5px 0;
}

blockquote {
  padding:0 0 15px 0;
  background:white;
  color:black;
  font-size:115%;
  line-height:130%;
}

img {
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

.banner {
  img {
    width: 100%;
    max-width: 100%;
    margin-bottom: -3px
  }
}

//Form
input {
   font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.submit-button {
  cursor: pointer;
  outline: none;
  display: block;
  border-radius: 25px;
  margin: 10px 0;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  width: 90%;
  padding: 13px;
  text-align: center;
  font-size: 15px;
  &:focus {
    opacity: 0.5;
  }
}

a.button.inverted {
  color: #666666;
  background:white;
  padding:9px;
  border:1px solid #666666;
}

//To Review - Content blocks
hr {
  display: none;
  height:10px;
  margin:10px 0 0; width:100%;
  border:0;
  background: url(/tuneme/static/img/hr.gif) 0 0 repeat-x;
  background-size:20px;
}
