html, body {
  background: #fff;
  position:relative;
  width: 100%;
  @media screen and (min-width: 600px) {
    background: #333;
  }
}

body {
  background: #fff;
  font: normal 17px 'Quicksand', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  color: $black;
  line-height: 1.333333333;
  height: 100%;
  max-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $black;
}

.f-tiny {
  font-size: 80%;
}

.f-small {
  font-size: 100%;
}

.f-bigger {
  font-size: 120%;
}

.f-medium {
  font-size: 150%;
}

.f-large {
  font-size: 200%;
}


.author {
  font-style:italic;
  font-size:85%;
}

ul,li,ol {
  margin: 0;
  padding: 0;
}

input {
  width:90%;
  padding:10px;
  margin:5px 0;
  display:inline-block;
  background:#f7f7f7;
  font-size: 0.9em;
  border:1px solid #ddd;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

select {
  min-width:90%;
  margin:0 0 10px;
  display:inline-block;
  font-size:125%;
  text-align:center;
}

input:focus {
  background:#eee;
  color:black;
}

textarea {
  width:94%;
  font-size:100%;
  padding:10px;
  display:block;
}

label {
  font-size: 15px ;
}

.error {
  color: red;
}

.input-error {
  border: solid 1px red;
}

.btn {
  padding: 0.75em 1em;
  border: none;
}

.btn-wide {
  display: block;
  text-align: center;
}

input.btn-wide {
  width: 100%;
  font-size: 0.9em;
  cursor: pointer;
}

textarea {
  display: block;
  width: 100%;
  font-size: 0.9em;
}

.label-wide, .input-wide {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

blockquote {
  padding:0 0 15px 0;
  background:white;
  color:black;
  font-size:115%;
  line-height:130%;
}


img {
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

.banner {
  img {
    width: 100%;
    max-width: 100%;
    margin-bottom: -3px
  }
}

.radios div {
  display:block;
  text-align: left;
  clear: both;
}

.radios input[type="radio"]:checked + label {
  font-weight:bold;
}

.radios label {
  text-align:left;
  font-weight:bold;
}

//To Review - Content blocks
hr {
  display: none;
  height:10px;
  margin:10px 0 0; width:100%;
  border:0;
  background:url(/static/img/hr.gif) 0 0 repeat-x;
  background-size:20px;
}


input[type='submit'],
a.button {
  cursor:pointer;
  outline:none;
  text-decoration:none;
  padding:10px;
  display:inline-block;
  border:0;
  margin: 40px 0 15px;
  font-weight:bold;
  text-transform:uppercase;
  color:white;
  background: $purple;
  border-radius: 25px;
  -webkit-appearance:none;
}

a.button.inverted {
  color:#666666;
  background:white;
  padding:9px;
  border:1px solid #666666;
}

input[type='submit']:focus,
a.button:focus {
  opacity:0.5;
}
