
html, body {
  background: #fff;
  position:relative;
  text-align:center;
  width: 100%;
  -webkit-overflow-scrolling : touch;
  -webkit-tap-highlight-color : lighten(#333, 75%);
  @media screen and (min-width: 600px) {
    background: #333;
  }
}

body {
  background: #fff;
  font: normal 17px 'Quicksand', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  color:#666666;
  line-height: 1.5;
  max-width: 320px;
  height: 100%;
  @media screen and (min-width: 600px) {

  }
}


h1 {
  color:white;
  font-size:200%;
}

h2 {
  font-size:150%;
  padding:15px;
  font-weight:bold;
  color:white;
  background:black;
}

h3 {
  font-size:150%;
}

h4 {
  font-size:200%;
}

h5 {
  font-size:100%;
}

h6 {
  font-size:100%;
}

.left{text-align: left}

p {
  padding:10px 15px;
}

strong {font-weight:bold;}

.author {
  font-style:italic;
  font-size:85%;
}

hr {
  height:10px;
  margin:10px 0 0;
  width:100%;
  border:0;
  display:block; background:url(/static/img/hr.gif) 0 0px repeat-x;
  background-size:20px;
}

.turq h4 {color:#21e0d8u;}
.purple h4 {color:#d127fc;}
.pink h4 {color:#f82353;}
.orange h4 {color:#ff7c44;}
.yellow h4 {color:#fad400;}
.grey h4 {color:#666666;}
.magenta h4 {color:#e60382;}


.bold {font-weight: bold;}


ul,li,ol {
  margin: 0;
  padding: 0;
}

input {
  padding: 0.5em;
  font-size: 0.9em;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

.error {
  color: red;
}

.input-error {
  border: solid 1px red;
}

.btn {
  padding: 0.75em 1em;
  border: none;
}

.btn-wide {
  display: block;
  text-align: center;
}

input.btn-wide {
  width: 100%;
  font-size: 0.9em;
  cursor: pointer;
}

textarea {
  display: block;
  width: 100%;
  font-size: 0.9em;
}

.label-wide, .input-wide {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}






:not(a):focus {
  outline: none;
}

/* Cancels out Firefox Mobile's gradient background */
button {
  background-image: none;
}

.main {
  padding: 1em;
}

// img

img {
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

.banner {
  img {
    width: 100%;
    max-width: 100%;
  }
}


svg:not(:root) {
  overflow: hidden;
}

// https://github.com/mrmrs/fluidity

canvas, iframe, video, svg {
  max-width: 100%;
  height: auto;
}

/* Wrap tables or pre elements in a div with this class */
.overflow-container { overflow-y: scroll; }

// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

@-webkit-viewport {
  width : device-width;
}

@-moz-viewport {
  width : device-width;
}

@-ms-viewport {
  width : device-width;
}

@-o-viewport {
  width : device-width;
}

@viewport {
  width : device-width;
}