
.f-tiny {
  font-size: 8px;
}

.f-small {
  font-size: 13px;
}

.f-medium {
  font-size: 18px;
}

.f-bigger {
  font-size: 20px;
}

.f-large {
  font-size: 27px;
}

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300);
