// Variables

$white                :           #ffffff;
$black                :           #000000;
$alto                 :           #dddddd;
$grey                 :           #333333;
$turquoise            :           #21e0d8;  //#32a6a6 turquoise
$green                :           #124f52;
$gold                 :           #fad400;  //gold
$violet               :           #d127fc;  //electric violet
$red                  :           #f82353;  //redical red
$coral                :           #ff7c44;  //coral
$rose_pink                :       #e60382;  //coral

$color_list: (
  turquoise : $turquoise,
  violet    : $violet,
  red       : $red,
  orange    : $coral ,
  pink      : $rose_pink,
  gold      : $gold
);


// Typography

$open-sans-sans-serif                         :                   "Open Sans", Helvetica, Arial, sans-serif;
$times-new-roman-serif                        :                   Georgia, "Times New Roman", Times, serif;



