// Variables

$white                :           #ffffff;
$black                :           #000000;
$grey                 :           #333333;
$turquoise            :           #32a6a6;
$green                :           #124f52;
$yellow               :           #c4d131;




// Typography

$open-sans-sans-serif                         :                   "Open Sans", Helvetica, Arial, sans-serif;
$times-new-roman-serif                        :                   Georgia, "Times New Roman", Times, serif;

