
#search-form:before,
#search-form:after {
    content: "";
    height: 10px;
    width: 100%;
    display: block;
    background: url(../img/white-wave.png) 0 bottom repeat-x;
    background-size: 20px;
}

#search-form:after {
    background: url(../img/white-wave.png) 0 0 repeat-x;
    background-size: 20px;
}

.signin-form {
    color: black;
}

.signin-form input.error {
    border: 2px solid red;
}

.signin-form label.error {
    color: red;
}

.title.profile {background-color:#21e0d8;}
.title.profile h3:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 30px;
    height: 35px;
    background: url(../img/user-black.png) center center no-repeat;
    background-size: 30px;
}

.title:after {
    content: "";
    height: 10px;
    width: 100%;
    display: block;
    background: url(../img/white-wave.png) 0 0 repeat-x;
    background-size: 20px;
}

/* Content Blocks */
.block.servicedirectory {
    display: none;
}

.author {
    font-style:italic;
    font-size:85%;
}

/* Blockquotes */
blockquote {
    padding: 10px 20px;
}

/* Articles - article-copy blockquote color style hint to apply & article-image p color*/
.article-copy {
    text-align: left;
    padding: 0;
}

.article-copy .comments-count {
    margin: 10px 15px;
}

.article-copy a {
    padding: 10px 15px;
}

.article-copy blockquote {
    text-align: left;
    padding: 15px;
    font-weight: bold;
}

.readmore {
    text-align: left;
    padding: 10px 15px;
    color: black;
    font-weight: bold;
}

/* Comments Count  - comments-count a style hint
comments-count a - background:#e60382; color:white;
comments-count a:after - border-top-color:#e60382;
*/
.post-comment {
    text-align:center;
}

.comment {
    padding:10px 15px;
    border:0;
}

.comments-count {
    display: block;
    font-weight: bold;
}

.comments-count a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    height: 25px;
    width: 30px;
    padding: 0;
    line-height: 25px;
    text-align: center;
    background: #666666;
    color: white;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.comments-count span {
    display: none;
}

.comments-count a:after {
    top: 100%;
    left: 65%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #666666;
    border-width: 4px;
    margin-left: -4px;
}


/* Links */
.block .more,
.block .back {
    font-size: 85%;
    font-weight: bold;
    display: block;
    clear: both;
    padding: 20px;
    width: 100%;
    margin: 0 -20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.block.grey .back {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.block .more a,
.block .back a {
    color: #20364d;
    text-decoration: underline;
}

a.white-link {
    color: white;
    padding: 20px 0;
    display: inline-block;
}

/* Poll Results */
.poll-result {
    padding: 15px
}

.grey {
    font-size: 200%;
    font-weight: bold;
    color: grey;
    padding: 0px 0 10px 0;
}

.result-line {
    padding: 5px 0;
}

.result-line .option {
    text-align: left;
    display: block;
    margin-right: -5px;
    vertical-align: middle;
}

.result-line .bar {
    opacity: 0.4;
    font-weight: bold;
    text-align: left;
    width: 75%;
    margin-right: -5px;
    display: block;
    vertical-align: middle;
    height: 27px;
    font-size: 18px;
    color: #ff7c44;
}

.result-line .bar span {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    height: 27px;
    line-height: 27px;
    margin-right: 5px;
    background: #ff7c44;
}

.result-line.winner .bar {
    opacity: 1;
}

/* search Pages */
.title.search {
    background-color: #21e0d8;
    padding: 75px 0 0;
}

.title.search h3 {
    padding: 20px;
    text-align: left;
}

.title.search h3:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 30px;
    height: 35px;
    background: url(../img/search-black.png) center center no-repeat;
    background-size: 30px;
}

/* search Results */
.search-result .icon {
    display: inline-block;
    width: 18%;
    vertical-align: top;
}

.search-result .icon img {
    max-width: 100%;
}

.search-result .copy {
    display: inline-block;
    width: 75%;
    padding-left: 5%;
    vertical-align: top;
}

.search-result h6 {
    padding: 0;
    font-size: 100%;
    color: black;
}

.search-result h3 {
    padding: 0;
    font-size: 125%;
}

/* Your Words */
.yourwords {
    display: block;
    text-align: left;
    clear: both;
    padding: 10px 20px;
}

.yourwords input {
    width: 90%;
    margin: 10px 0;
    display: inline-block;
    font-size: 95%;
    background: white;
    border: 2px solid #ddd;
}

.yourwords input[type="submit"] {
    width: 99%;
}

.yourwords input[type="checkbox"] {
    width: auto;
}

.yourwords textarea {
    width: 90%;
    border: 2px solid #ddd;
    margin: 10px 0 20px 0;
}

.yourwords ul {
    list-style-type: square;
}

.yourwords ol {
    list-style-type: decimal
}
.centent h5 {
    padding: 10px 0;
}

.centent p {
    padding: 10px 0;
}

.centent ul {
    padding: 10px 20px;
}

.centent ol {
    padding: 10px 20px;
}

.centent li {
    padding: 10px 0;
}

.alert-error {
    color: red;
    padding: 0;
    font-style: italic;
}

/* Footer */
.terms_and_conditions label {
    display: block;
    padding: 0;
    text-align: left;
}

/* Service Directory */
.sd-heading.category-grouping a {color:#FF8E1E; text-decoration: underline; font: bold 20px 'Quicksand', Arial, Helvetica, sans-serif; text-transform: none}
.sd-heading.category-grouping a.sd-cat-keyword {font-size: 18px; text-decoration: none; font-weight: normal;}
.sd-banner {background: #FF8E1E; padding: 70px 0 0 0}
.sd-banner:after {content:""; height:10px; width:100%; display:block; background:url(../img/white-wave.png) 0 0 repeat-x; background-size:20px;}
h1.sd-heading.find-a-service {color: white; text-decoration: none; font: bold 125% 'Quicksand', Arial, Helvetica, sans-serif; text-transform: none; padding: 10px 20px 20px}
.sd-img-container {background: no-repeat center/35% url(../img/Find-a-clinic.png); height: 100px;}
.sd-search-form input[type="text"] {width: 82%; color: #FF8E1E; font: bold 100% 'Quicksand', Arial, Helvetica, sans-serif; height: auto;}
.sd-search-form input[type="submit"] {color: #fff; width: 90%; margin: 0 0 15px 0; background-color: #FF8E1E; text-decoration: none; padding: 10px 0; font: bold 15px 'Quicksand', Arial, Helvetica, sans-serif;}
.sd-search-form input[type="text"]::-webkit-input-placeholder {color: #FF8E1E; font: bold 100% 'Quicksand', Arial, Helvetica, sans-serif;}
.sd-search-form input[type="text"]:-moz-placeholder {color: #FF8E1E; font: bold 125% 'Quicksand', Arial, Helvetica, sans-serif;}
.sd-search-form input[type="text"]::-moz-placeholder {color: #FF8E1E; font: bold 125% 'Quicksand', Arial, Helvetica, sans-serif;}
.sd-search-form input[type="text"]:-ms-input-placeholder {color: #FF8E1E; font: bold 125% 'Quicksand', Arial, Helvetica, sans-serif;}
.sd-categories {padding: 0 10px 15px 10px;}
h1.sd-heading.category-grouping {padding-left: 8px; margin-bottom: 5px;}
.sd-back {text-align: left; font-weight: bold; padding: 15px 0 0 10px; font-size: 100%;}
.sd-back a {text-decoration: none;}
h6.sd-heading.choose-location {color: #FF8E1E; font: bold 125% 'Quicksand', Arial, Helvetica, sans-serif; text-align: left; padding: 10px 15px;}
ul.sd-search-results {padding: 0 15px 15px;}
ul.sd-search-results li {text-align: left; padding: 5px 0}
.sd-current-address {text-align: left; color: #FF8E1E; font: bold 100% 'Quicksand', Arial, Helvetica, sans-serif;}
a.sd-change-area {display: block; padding-left: 15px; text-align: left; font-weight: bold; font-size: 100%;}
a.sd-service-result {text-decoration: none;}
a.sd-service-result h1 {text-align: left; color: #FF8E1E; font: bold 100% 'Quicksand', Arial, Helvetica, sans-serif; padding: 15px 15px 0;}
p.sd-service-keywords {text-align: left; padding-bottom: 0}
p.sd-service-location {float: left; width: 60%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
p.sd-service-location span {text-align: right;}
p.sd-service-distance {float: right; padding: 10px 15px 0;}

button.smiley.sad {margin-left: 0;}

p.sd-org-contact, p.sd-service-tradinghours, p.sd-heading.search, p.sd-help-text.search, p.sd-org-address, p.sd-self-sms
{text-align: left; padding-top: 5px;}

h1.sd-heading.svc-org-name {text-align: left; color: #FF8E1E; font: bold 100% 'Quicksand', Arial, Helvetica, sans-serif; padding: 10px 15px 0; text-transform: none;}

h1.sd-heading.service-keywords, h1.sd-heading.org-contact, h1.sd-heading.service-tradinghours,
h1.sd-heading.org-address, h1.sd-heading.service-rating, h1.sd-heading.report-info, h1.sd-heading.send-sms, h1.sd-heading.org-services
{text-align: left; color: #666666; font: bold 100% 'Quicksand', Arial, Helvetica, sans-serif; padding: 10px 15px 0; text-transform: none;}

h1.sd-heading.send-sms {margin-bottom: 15px;}

h1.sd-heading.service-rating {margin-bottom: 15px;}
a.sd-report-link {text-align: left; display: block; padding-left: 15px; margin-bottom: 10px; font-size: 100%;}

.sd-service-categories {text-align: left; padding-left: 15px;}
a.sd-sms-button {display: block; color:white; padding:15px; text-decoration: none; width: 80%; margin: 15px auto;
    background-color: #FF8E1E; font: bold 15px 'Quicksand', Arial, Helvetica, sans-serif;  -webkit-border-radius: 25px; border-radius: 25px; text-transform: none;}

a.sd-sms-button.secondary {background-color: #fff; border: 1px solid #FF8E1E; color: #FF8E1E;}

.sd-msg {margin: 15px;}

.sd-input, .sd-option {padding: 5px 15px;}
.sd-option label {text-align: left; display: block; padding-left: 15px;}

.sd-input label, span.sd-input-sub {text-align: left; display: block; font-weight: bold;}

span.sd-input-sub {font-weight: normal;}

label.other_detail {text-align: left; display: block; padding: 5px 0 5px 15px;}
textarea#other_detail {width: 85%; display: block; margin: 0 auto;}

.sd-report-btn, .sd-sms-btn {display: block; color:white; padding:10px; text-decoration: none; width: 90%; margin: 15px auto;
    background-color: #FF8E1E; font: bold 15px 'Quicksand', Arial, Helvetica, sans-serif;  -webkit-border-radius: 25px; border-radius: 25px; -webkit-appearance:none; border: 0}


.org-rate-faces {float: left; margin: 0 15px 15px;}
.org-rate-faces span {display: block; font-size: 13px; padding: 0; float: none;  width: inherit;}

