/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;margin:0;padding:0}

article,aside,details,figcaption,figure,footer,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}


/* Fonts */
body {background:white;}
h2 {font-size:150%; padding:15px; font-weight:bold; color:white; background:black; }
h3 {font-size:150%; font-weight:bold; color:black; }
h4 {font-size:200%; font-weight:bold; padding:15px 0px;}
    .turq h4 {color:#21e0d8u;}
    .purple h4 {color:#d127fc;}
    .pink h4 {color:#f82353;}
    .orange h4 {color:#ff7c44;}
    .yellow h4 {color:#fad400;}
    .grey h4 {color:#666666;}
    .magenta h4 {color:#e60382;}
h6 {font-size:100%; font-weight:bold;}

p {font-size:100%;}

.bold {font-weight: bold;}
.small-font {font-size: 160%;}

/* Blockquotes */
blockquote {padding:0 0 15px 0; background:white; color:black; font-size:115%; line-height:130%;}


/* Images */
img {max-width:100%;}
.banner img {width: 100%; margin-bottom: -3px}


/* Radios */
.radios {}
    .radios div {display:block; text-align: left; clear: both; }
    .radios input[type="radio"]:checked + label {font-weight:bold;}
    .radios label {text-align:left; font-weight:bold;}


/* Content Blocks */
.block {display:block; clear:both; overflow:hidden; padding:15px;}


/* Buttons/Links */
a {color:black;}
    .turq h3 a {color:#21e0d8;}
    .purple h3 a {color:#d127fc;}
    .pink h3 a {color:#f82353;}
    .orange h3 a {color:#ff7c44;}
    .yellow h3 a {color:#fad400;}
    .grey h3 a {color:#666666;}
    .magenta h3 a {color:#e60382;}
input[type='submit'], a.button {cursor:pointer; outline:none; text-decoration:none; padding:10px; display:inline-block; border:0; margin:5px 0; font-weight:bold; text-transform:uppercase; color:white; background:#666666; -webkit-appearance:none;}
a.button.inverted {color:#666666; background:white; padding:9px; border:1px solid #666666;}
input[type='submit']:focus, a.button:focus {opacity:0.5;}

    /* Button Colours */
    .turq input[type='submit'], .turq a.button, .signin-form a.button {background-color:#21e0d8; border-color:#21e0d8; color:white;}
        .turq a.button.inverted, .signin-form a.button.inverted {color:#21e0d8; background:white; border-color:#21e0d8;}
    .purple input[type='submit'], .purple a.button {background-color:#d127fc; border-color:#d127fc; color:white;}
        .purple a.button.inverted {color:#d127fc; background:white; border-color:#d127fc;}
    .pink input[type='submit'], .pink a.button {background-color:#f82353; border-color:#f82353; color:white;}
        .pink a.button.inverted {color:#f82353; background:white; border-color:#f82353;}
    .orange input[type='submit'], .orange a.button {background-color:#ff7c44; border-color:#ff7c44; color:white;}
        .orange a.button.inverted {color:#ff7c44; background:white; border-color:#ff7c44;}
    .yellow input[type='submit'], .yellow a.button {background-color:#fad400; border-color:#fad400; color:white;}
        .yellow a.button.inverted {color:#fad400; background:white; border-color:#fad400;}
    .grey input[type='submit'], .grey a.button {background-color:#666666; border-color:#666666; color:white;}
        .grey a.button.inverted {color:#666666; background:white; border-color:#666666;}
    .magenta input[type='submit'], .magenta a.button {background-color:#e60382; border-color:#e60382; color:white;}
        .magenta a.button.inverted {color:#e60382; background:white; border-color:#e60382;}


.step-links a {text-decoration: none;}


/* search Black Box */
#search-form {display:block; clear:both; background:black; padding:15px;}
    #search-form input {width:79%; background:black; border:1px solid white; color:white; font:bold 15px 'Quicksand', Arial, Helvetica, sans-serif;}
    #search-form input[type='submit'] { width:86%; padding:10px 25px; border:0; color:black; background:white;}

    .search-form input {width:79%; background:black; border:1px solid white; color:white; font:bold 15px 'Quicksand', Arial, Helvetica, sans-serif;}
    .search-form input[type='submit'] { margin-top:10px; width:86%; padding:10px 25px; border:0; color:black; background:white;}

    /* search Results */
    .search-result {padding:15px; display:block; clear:both; text-decoration:none; text-align:left;  border-bottom:1px solid #ddd;}
        .search-result .icon {display:block;}
            .search-result .icon img {max-width:20%;}
        .search-result .copy {display:block;}
        .search-result h6 {padding:5px 0 0; font-size:100%; color:black;}
        .search-result h3 {padding:5px 0; font-size:150%;}
            .search-result.turq h3 {color:#21e0d8;}
            .search-result.purple h3 {color:#d127fc;}
            .search-result.pink h3 {color:#f82353;}
            .search-result.orange h3 {color:#ff7c44;}
            .search-result.yellow h3 {color:#fad400;}
            .search-result.grey h3 {color:#666666;}
            .search-result.magenta h3 {color:#e60382;}
        .search-result p {padding:0; font-size:100%;}



/* Form Elements */
input {width:90%; padding:10px; margin:5px 0; display:inline-block; font-size:95%; background:#f7f7f7; border:1px solid #ddd;}
select {min-width:90%; margin:0 0 10px; display:inline-block; font-size:125%; text-align:center;}
input:focus {background:#eee; color:black; }
textarea {width:94%; font-size:100%; padding:10px; display:block;}
label {font:normal 15px 'Quicksand', Arial, Helvetica, sans-serif;}

    /* Radios */
    input[type='radio'] {width:auto; padding:0px; margin:2px 10px 0 0; font-size:15px; float: left}
    .radios label { font-size:15px; min-width:75px; font-weight:normal; display: inline-block; width: 85%; float: left}
        .turq .radios input[type="radio"]:checked + label {color:#21e0d8;}
        .purple .radios input[type="radio"]:checked + label {color:#d127fc;}
        .pink .radios input[type="radio"]:checked + label {color:#f82353;}
        .orange .radios input[type="radio"]:checked + label {color:#ff7c44;}
        .yellow .radios input[type="radio"]:checked + label {color:#fad400;}
        .grey .radios input[type="radio"]:checked + label {color:#666666;}
        .magenta .radios input[type="radio"]:checked + label {color:#e60382;}

    /* Checkboxes */
    input[type='checkbox'] {width:auto; padding:0px; margin:2px 10px 0 0; font-size:15px; float: left}
    .radios label { font-size:15px; min-width:75px; font-weight:normal; display: inline-block; width: 85%; float: left}
        .turq .radios input[type="radio"]:checked + label {color:#21e0d8;}
        .purple .radios input[type="radio"]:checked + label {color:#d127fc;}
        .pink .radios input[type="radio"]:checked + label {color:#f82353;}
        .orange .radios input[type="radio"]:checked + label {color:#ff7c44;}
        .yellow .radios input[type="radio"]:checked + label {color:#fad400;}
        .grey .radios input[type="radio"]:checked + label {color:#666666;}
        .magenta .radios input[type="radio"]:checked + label {color:#e60382;}





/* Poll Results */
.poll-result {padding:0 0 15px}
.result-line .option {text-align:left;  display:inline-block; margin-right:-5px; vertical-align:middle;}
.result-line .bar {text-align:left; width:49%; margin-right:-5px; display:inline-block; vertical-align:middle;}
    .result-line {padding:1px 0;}
    .result-line.winner {font-weight:bold;}
    .result-line.winner {color:#ff7c44;}





/* Comments */
.post-comment {font-weight:normal; }
.post-comment input[type='submit'], a.button {margin: 10px 0 0 0;}
.post-comment textarea {width:90%; font-size:100%; padding:10px; outline:none; margin:0 auto;}
    .post-comment a {font-weight:bold; }
    .post-comment.turq  a {color:#21e0d8;}
    .post-comment.purple a {color:#d127fc;}
    .post-comment.pink a {color:#f82353;}
    .post-comment.orange a {color:#ff7c44;}
    .post-comment.yellow a {color:#fad400;}
    .post-comment.magenta a {color:#e60382;}

    .post-comment a.anon {color:white; margin-left:10px;}
.comment {text-align:left; font-weight:normal; padding:15px; border-bottom:1px solid #ddd;}
    .comment .by .date {font-weight:normal; font-size:85%; font-style:italic; }
    .comment p {padding:5px 0;}
        .comment a {color:#21e0d8;}
        .turq .article-copy blockquote, .comment.turq .by strong, .comment.turq .report {color:#21e0d8;}
        .purple .article-copy blockquote, .comment.purple .by strong, .comment.purple .report {color:#d127fc;}
        .pink .article-copy blockquote, .comment.pink .by strong, .comment.pink .report {color:#f82353;}
        .orange .article-copy blockquote, .comment.orange .by strong, .comment.orange .report {color:#ff7c44;}
        .yellow .article-copy blockquote, .comment.yellow .by strong, .comment.yellow .report {color:#fad400;}
        .grey .article-copy blockquote, .comment.grey .by strong, .comment.grey .report {color:#666666;}
        .magenta .article-copy blockquote, .comment.magenta .by strong, .comment.magenta .report {color:#e60382;}


.navigator {padding-top: 15px; text-align: center;}
  .navigator a {text-decoration:none;}
  .navigator .padding{padding: 0px 15px;}
.pagination {padding:15px; text-align: left;}




/* Service Directory */
/*Should consider moving some shared styling from feature / smart here as well */
button.smiley.sad {background: url(../img/Not-helpful.png); border: 0; width: 60px; height: 60px; background-size: 100%; background-repeat: no-repeat;}
button.smiley.sad:hover {background: url(../img/Active-not-helpful.png); background-size: 100%;}
button.smiley.sad:after{border: 0!important;}
button.smiley.sad:before{border: 0!important;}
button.smiley.neutral {background: url(../img/Im-neutral.png); border: 0; width: 60px; height: 60px; background-size: 100%; background-repeat: no-repeat;}
button.smiley.neutral:hover {background: url(../img/Active-im-neutral.png); background-size: 100%;}
button.smiley.neutral:after{height: 0!important;}
button.smiley.neutral:before{border: 0!important;}
button.smiley.happy {background: url(../img/Very-helpful.png); border: 0; width: 60px; height: 60px; background-size: 100%; background-repeat: no-repeat;}
button.smiley.happy:hover {background: url(../img/Active-very-helpful.png); background-size: 100%;}
button.smiley.happy:after{border: 0!important;}
button.smiley.happy:before{border: 0!important;}


/* Footer */
.footer {padding:15px; font-size:85%; clear:both; display:block;}


ul.errorlist {
  padding-left:0;
  margin-bottom: 16px;
}

.error, .errorlist {
  list-style: none;
  margin: 0;
  text-align: left !important;
  display: block;
  color: #ff4b4b !important;
  background: #fff;
  line-height: 18px !important;
}

.error:before, .errorlist li:before, p.errorlist:before {
  content: " ";
  display: inline-block;
  background: red;
  width: 16px;
  height: 16px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAB3ElEQVR4nL2Wr2+rUBiGHw5VkLQNTerGP0DwiCr01IJAzC6pnJ9YEPjJJrMIBJmaRuOb/gNdZppA2iatgnAFu13vTVfoD/aoL+Q973sOOV/OJ5VlyRGKgumUJGE+J8tIUyQJTUPT0HUsC9NElo8YSD8GrFaEIXHMZnNsB6qKbeO69HqNA/KcKOLtje32mPU+isLdHY5Dp1MXsF7j+8xmTa33MQyenuh2fw74+OD5mcXiHPeK4RDP4+bmUMB6zePjRe67jJeX3TnE19c8x/ev4A4sFvg+ef5vQBSd+d8PMpsRRVUplWXJasXDQ/2deX//rm9va8SKwusrvZ4ACMMTbmRDtlvCEBAUBXF8ZfeKOKYoBNNpTa+ezWbDdCpIklbcK5JEMJ+3GDCfC9K0xYA0FWRZiwFZJupFlyBJAk1rMUDTOgwGfH42Utd276EAga6fvKw5ui6wrKbq0YggIAgYjZousSyBaaKqjdTjMf0+/T7jcSO9qmKaAlnGtpvu6CRsG1kWAK6LotQvmExYLlkumUzqxYqC6/L9ZIYhQXDRfv/j/r4K+NtojoNhXM3dMHCcqvy1Rx/odvE8hsNL3T1vfzT65cGrot3RcUeLw+8+++N7mn49HprGYNBwfP8DIHXTMe4wtWYAAAAASUVORK5CYII=');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 50%;
  vertical-align: middle;
  margin-right: 8px;
}
.versions-header {
  padding-top: 60px;
  background-color: #21e0d8;
}

.versions {
  color: black;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;

}

.versions table {
      border: 1px solid black;
  }

.versions td {
      border: 1px solid black;
      padding: 5px;
      font-size: 13px;
      text-align: left;
  }

.versions th {
      border: 1px solid black;
      padding: 5px;
      font-size: 13px;
      text-align: left;
      font-weight: bold;
  }

.versions  a {
    color: red;
  }


.versions .latest{
    color: #20C320;
  }

.versions .plugin{
    font-weight: bold;
  }

.versions .not-installed{
    color: orange;
  }




@media screen {
    html {
        background-color: #333;
        max-width: 35em;
        margin: 0 auto;
    }
}
@media screen and (min-device-width: 50em) {
    html {
        max-width: 20em;
    }
}
@media screen {
    body {
        background-color: #fff;
    }
}
