.article__title {
  font-size: $font-large;
  font-weight: bold;
  padding: 10px 15px 0;
}
.article__subtitle {
  padding: 0 15px 20px 15px;
}
.article__image {
  display: block;
  img {
    width: auto;
    height: auto;
    float: none;
    margin: 10px auto;
  }
}
.article__content {
  ul, ol, p {
    padding: 0 15px;
    margin: 16px 0;
  }
  a {
    font-weight: bold;
    color: #000;
  }
  h3, h4 {
    padding: 0 15px;
    font-weight: bold;
  }
  ul li {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 20px;
    p {
      padding: 0;
    }
  }
  ol {
    margin-left: 15px;
    padding: 0 15px;
    li {
     list-style-position: outside;
     list-style-type: decimal;
     p {
        padding: 0;
      }
    }
  }
  .featured-articles {
    display: block;
    color: #000;
    padding: 0 15px 6px;
    text-decoration: underline;
  }
  .menu-items .menu__item {
    margin-left: 0;
  }
  .footer-links ul {
    padding: 0;
    li {
      margin-left: 0;
    }
  }
}

.tags-list {
  .tag-list__item {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .tag__item-anchor {
    font-style: italic;
  }
}
