.article-list {
  &__title {
    font-weight: bold;
    padding: 10px 5px 0;
  }
  &--section { border-bottom: $border; }
  &__image--section { width: initial; }
  &__item {
    padding: 5px 10px;
    -ms-word-break: keep-all;
    word-break: keep-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      hyphens: auto;
    &--anchor {
      color: #000;
      font-weight: bold;
    }
    &--more-anchor { color: #cd36f5; }
    &--age-tag {
      background: #000;
      color: #fff;
      display: inline-block;
      padding: 5px;
      margin: 0;
      &:after {
        content: "+";
        display: inline-block;
      }
    }
  }
  &__image {
    display: block;
    img {
      float: none;
      height: auto;
      margin: 10px auto;
      width: auto;
    }
  }
  &--latest-listing {
    .article-list__item:first-child {
      .article-list__title {
        font-size: $font-x-large;
      }
    }
  }
}
