.call-to-action {
  padding: 10px 15px 5px;
  &__nav-item {
    display: block;
    padding: 0 0 10px;
  }
  &__nav-item--link {
    font-weight: bold;
    text-decoration: underline;
    padding: 0;
    display: inline;
  }
  &__nav-item-primary {
    border: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    margin: 20px 0;
    padding: 5px 15px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
  }
  &__nav-item--password-recovery {
    margin: 0 0 5px;
    font-weight: bold;
    text-decoration: underline;
  }
  &__nav-item--surveys {
    font-weight: bold;
    color: #000;
    text-decoration: underline;
  }
  &__nav-item--login {
    padding: 0 15px;
  }
}




//SOCIAL MEDIA SHARING
.call-to-action__item-share {
  display: block;
  margin: 5px 15px;
  padding: 0 10px 0 0;
  text-align: center;
  &-with-image {
    text-align: left;
  }
  &-title {
    font-size: 13px;
    display: inline-block;
    color: #000;
    padding: 6px 5px;
    text-decoration: underline;
  }

  //FOOTER & YOURTIPS
  &--footer,
  &--yourtips {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    .call-to-action__item-share-img {
      border-radius: 50%;
    }
    .call-to-action__item-share-title {
      color: #a3a3a3;
      display: none;
    }
  }
}
