.breadcrumbs {
  padding: 10px 15px;
  text-transform: uppercase;
  color: #777777;
  border-bottom: 1px #000 solid;
  font-size: $font-small;
  font-weight: bold;
}

.breadcrumbs a {
  font-weight: normal;
  color: #777777;
  &:after {
    content: " > ";
    color: #777777;
  }
}
