.profiles {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
      hyphens: auto;
  &__terms {
    display:inline;
    width: auto;
    text-decoration: underline;
  }
  &__forgotten-password {
    display: block;
  }
  &__terms-conditions {
    label, input {
      margin-bottom: 0;
      display:inline;
      width: auto;
      text-decoration: underline;
    }
  }
  &__feeback-title {
    padding: 10px 0 5px;
    font-weight: bold;
    font-size: $font-large;
  }
  &--csrf {
    padding: 0 15px;
  }
}
.profiles--content-body {
  padding: 10px 10px;
  .profiles__form {
    padding: 0;
  }
}

.helptext {
 font-weight: normal;
 color: #999;
 margin: 5px 0 10px;
}

.profiles__terms-conditions {
  input[type=checkbox]+label,
  input[type=radio]+label {
    display: inline;
  }
  input[type=checkbox],
  input[type=radio] {
    visibility: visible;
  }
}

.profiles__form {
  input[type="submit"] {
    width: auto;
    margin: 1em 10px;
    border: 0;
  }
}
