.related-articles-recommended {
  &__heading {
    font-size: $font-x-large;
    text-transform: inherit;
    padding: 15px;
  }
  .related-articles-recommended-list {
    padding: 0;
    margin: 0;
  }
  .article-list__item {
    padding: 15px;
    margin: 0;
    &:last-child {
      border-bottom: none;
    }
    &--anchor {
      display: block;
    }
  }
  .article-list__title,
  .article-list__subtitle {
    padding: 5px 0 0;
  }
  .article-list__subtitle  {
    font-weight: normal;
  }
}
