.surveys,
.polls {
  padding: 0 0 15px;
  margin: 0 0 5px;
  &__title {
    border-top: 2px solid #000;
    padding: 20px 10px 5px;
    font-size: $font-large;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__thank-you {
    padding: 10px 16px;
    font-size: $font-x-large;
  }
  &__intro {
    padding: 0 10px;
    font-weight: normal;
    font-size: $font-large;
  }
  &__question {
    font-weight: bold;
    font-size: $font-large;
  }
  &__results {
    padding: 5px 16px;
    margin: 15px 0;
    border-bottom: 1px solid #DEDEDE;
  }
  &__helptext {
    color: #999;
    font-size: $font-x-small;
    padding-bottom: 10px;
    display: block;
  }
  &__answer {
    color: #000;
    font-weight: bold;
    padding: 5px 0 0;
  }
  &__answer-bar {
    color: #fff;
    border-radius: 20px;
    word-wrap: break-word;
    margin: 5px 0 10px 0;
    padding: 5px 10px;
    &--percent-count {
      margin: 5px auto;
      font-weight: bold;
      padding: 3px 10px;
      display: inline-block;
      text-align: center;
    }
  }
  &__answer-bar-percentage {
    display: inline-block;
  }
  .error--surveys,
  .error--polls {
    padding: 0 15px;
  }
  &__form {
    padding: 0 16px;
    label {
      color: #000;
      padding: 0;
    }
    input[type="submit"],
    .call-to-action__nav-item--surveys  {
      font-weight: bold;
    }
    .error--surveys,
    .error--polls {
      padding: 0;
    }
  }
}
.polls  {
  color: #000;
  &__title {border-top: none;}
  &__helptext {color: #fff;}
  &__form {
    label {
      cursor: pointer;
      display: block;
    }
    input[type="submit"],
    .call-to-action__nav-item--polls {
      font-weight: bold;
    }
  }
}
.error--polls {
  color: $gold;
}
