.service-dir__reaction {
  padding: 10px 15px;
  border-bottom: 1px solid $green;
  &:last-child {
    border-bottom: none;
  }
  label {
    display: block;
    cursor: pointer !important;
  }
}

.smiley {
  border: 0;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  &:after {
    border: none;
  }
  :before {
    border: 0;
  }
}
#good {
  background: url("/static/new/img/green-smile.png")no-repeat  0 0/100%;
  &:hover {
    background: url("/static/new/img/green-smile-hover.png") no-repeat 0 0 / 100%;
  }
}
#average {
  background: url("/static/new/img/green-neutral.png") no-repeat 0 0 / 100%;
  &:hover {
    background: url("/static/new/img/green-neutral-hover.png") no-repeat 0 0 / 100%;
  }
}
#poor {
  background: url("/static/new/img/green-sad.png") no-repeat 0 0 / 100%;
  &:hover {
    background: url("/static/new/img/green-sad-hover.png") no-repeat 0 0 / 100%;
  }
}
