.yourtips {
  .call-to-action {
    padding: 10px 15px;
    &__nav-item-text {
      color: #000;
      text-decoration: underline;
      font-weight: bold;
    }
  }
  &__description {
    padding: 0 15px;
  }
  .heading--yourtips {
    margin: 0;
  }
  .heading--yourtips-title {
    margin: 0;
    font-size: $font-medium;
    text-transform: inherit;
  }
  &--share-cta {
    color: #000;
    padding: 15px;
    .call-to-action {padding: 10px 0;}
    &__description {
      font-weight: 400;
      font-size: $font-large;
    }
  }
  //Form
  &-form {
    padding: 10px 15px;
  }
}

.yourtips-list {
  padding: 30px 15px 20px;
  color: #fff;
  &:nth-child(even) {
    background: $rose_pink;
  }
  &:nth-child(odd) {
    background: $turquoise;
  }
}
