.yourwords, .competition {
  //Bemify Yourwords Templates
  img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px 0;
  }
  border-top: 1px solid #000;
  padding: 10px 0;

  .heading--yourwords {
    border: none;
    padding: 10px;
    margin: 0;
  }
  .heading--yourwords-subtitle {
    padding: 0 10px 20px;
    margin: 0;
  }

  label[for="id_terms_or_conditions_approved"],
  label[for="id_hide_real_name"] {
    display: inline;
  }

  label {
    display: inline-block;
    padding: 0;
  }
  input[type=checkbox] {
    margin-right: 10px;
  }

  .heading-container  {
    img {
      margin: 0;
      border-radius: 0;
      width: 100%;
    }
  }
  &--inner-content {
    padding: 0 10px;
    ul {
      margin: 10px 20px;
      list-style: disc;
    }
    ol {
      margin-left: 20px;
      list-style: decimal;
    }
    fieldset {
      ul {
        margin: 0;
        list-style: none;
      }
    }
    img {
      margin: 0;
      padding: 10px 0;
    }
    .surveys__helptext {
      margin-top: 5px;
    }
  }
  &-form {
    padding: 0 10px 10px;
  }
  .call-to-action {
    padding: 0;
  }
  .call-to-action__nav-item--login  {
    display: block;
    text-align: center;
  }
}
.heading--yourwords-description {
  font-weight: normal;
   text-transform: none;
}
.competition__title {
  font-size: $font-large;
  font-weight: bold;
  margin-bottom: 10px;
}
.competition__title,
.competition__title--description,
.error  {
  padding: 0 10px;
}
.alert-error {
  color: red;
}
