
@media only screen and (min-width: 320px) {
//MENU LIST
.menu__item a {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

//HEADINGS
.yourwords {
  .heading,
  .heading--yourwords {
    text-align: inherit;
  }
}

//SECTION SUBSECTION: ARTICLE LISTING
  .article-list--latest-listing,
  .article-list--section-listing {
    .article-list__image {
      margin-right: 0;
    }
  }
}
