.post-comment {
  font-weight: normal;
}

.post-comment textarea {
    width: 90%;
    font-size: 100%;
    padding: 10px;
    outline: none;
    margin: 0 auto;
}

.post-comment a {
    font-weight: bold;
}

.comment p {
    padding: 5px 0;
}

.navigator {
    padding-top: 15px;
    text-align: center;
}

.navigator a {
    text-decoration: none;
}

.navigator .padding {
    padding: 0px 15px;
}

.pagination {
    padding: 15px;
    text-align: left;
}