.post-comment {
  font-weight: normal;
   text-align: center;
    a {
        text-decoration: none;
    }
}

.post-comment textarea {
    padding: 10px;
    font-size: 16px;
    width: 90%;
}

.navigator {
    padding-top: 15px;
    text-align: center;
}

.navigator a {
    text-decoration: none;
}

.navigator .padding {
    padding: 0 15px;
}

.pagination {
    padding: 15px;
    text-align: left;
}
