molo.core==4.4.6
molo.profiles==3.0.0
molo.commenting==2.0.1
molo.yourwords==2.2.1
molo.servicedirectory==2.1.4
molo.surveys==2.1.0
elasticsearch==1.7.0
django-modelcluster>=2.0,<3.0
psycopg2
gunicorn
django_compressor==2.0
celery<4.0
django-google-analytics-app==2.1.4
