molo.core==6.10.2
molo.commenting==6.3.0
molo.yourwords==6.4.1
molo.yourtips==6.0.1
molo.servicedirectory==6.1.14
molo.surveys==6.9.9
molo.pwa==6.2.0
elasticsearch==1.7.0
django-modelcluster<4.0,>=3.1
psycopg2
gunicorn
django_compressor==2.2
celery<4.0
django-google-analytics-app==4.3.3
Unidecode==0.04.16
django-secretballot==1.0.0
django-likes==1.11
molo.globalsite==6.0.1
django-import-export==1.0.1
# Required by ImageHash, install a working version
scipy==0.19.1
python-cas==1.2.0
google-cloud-storage 
django-storages==1.6.6
