molo.core==7.0.1
molo.commenting==7.0.0
molo.yourwords==7.0.0
molo.yourtips==7.0.0
molo.servicedirectory==7.0.3
molo.surveys==7.0.1
molo.pwa==7.0.0
elasticsearch==1.7.0
django-modelcluster<4.0,>=3.1
psycopg2
gunicorn
django_compressor==2.2
celery<4.0
django-google-analytics-app==4.3.3
Unidecode==0.04.16
django-secretballot==1.0.0
django-likes==1.11
molo.globalsite==7.0.1
django-import-export==1.0.1
# Required by ImageHash, install a working version
scipy==0.19.1
python-cas==1.2.0
