.languages {
   background: $black;
   color: $white;
   overflow: hidden;
   padding: 0 20px 25px;
   display: none;
    @media screen and (min-width: 480px) {
      display: flex;
    }
}

.language-list {
  @at-root #{&}__item {
    display: inline-block;
    margin: 8px 0;
    font-size: 14px;
    a {
      color: white;
      padding: 5px 10px;
      background: $grey;
      border-radius: 12px;
      font-weight: bold;
      text-transform: capitalize;
    }
    a.active {
      background: #cf25f8;
      @media screen and (min-width: 480px) {
          background: #cf25f8;
      }
    }
  }
}

.article-language-container {
  display: none;
  @media screen and (min-width: 480px) {
    display: block;
  }
  .languages {
    background: $white;
    color: $black;
    padding: 0 10px;
  }

  .language-list {
    @at-root #{&}__item {
        margin: 0;
      a {
        padding: 5px 8px;
        background: transparent;
        color: $black;
        font-weight: bold;
      }
    }
  }
}

.article-language-container--feature {
  display: block;
  @media screen and (min-width: 480px) {
    display: none;
  }
  .language-list {
    margin: 10px 0;
      @at-root #{&}__item {
        margin: 0;
          a {
              padding: 2px;
              color: $black;
              background: transparent;
              text-decoration: underline;
              font-weight: normal;
          }
          a.active {
            text-decoration: none;
            font-weight: bold;
          }
      }
  }
}

@each $name, $color in $color_list {
  .article-language-container--#{$name} a.active {
      text-decoration: none;
      @media screen and (min-width: 480px) {
        background-color: $color;
      }
  }

}
