
{% load wagtailcore_tags compress static wagtailuserbar core_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width initial-scale=1">
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% compress css %}

            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/feature.css' %}">
            <link rel="stylesheet" type="text/css" media="screen and (min-width: 20em)" href="{% static 'css/smart.css' %}">
        {% endcompress %}

        {% block extra_css %}

        {% endblock %}

        <script type="text/javascript">
        //<![CDATA[
        var menuItems = new Array();
        function init() {
          // Grab the accordion items from the page
          var divs = document.getElementsByTagName( 'div' );
          for ( var i = 0; i < divs.length; i++ ) {
            // console.log(divs[i].className);
            if ( divs[i].className == 'menuItem' ) menuItems.push( divs[i] );
          }
          // Assign onclick events to the accordion item headings
          // console.log(menuItems)
          for ( var i = 0; i < menuItems.length; i++ ) {
            var span = getFirstChildWithTagName( menuItems[i], 'SPAN' );
            // console.log("hello");
            span.onclick = toggleItem;
          }

    	  // Hide all accordion item bodies except the first
          for ( var i = 0; i < menuItems.length; i++ ) {
            menuItems[i].className = 'menuItem hide';
          }
        }
        function toggleItem() {
          var itemClass = this.parentNode.className;

    	  // Hide all items
          for ( var i = 0; i < menuItems.length; i++ ) {
            menuItems[i].className = 'menuItem hide';
          }

    	  // Show this item if it was previously hidden
          if ( itemClass == 'menuItem hide' ) {
            this.parentNode.className = 'menuItem';
          }
        }
        function getFirstChildWithTagName( element, tagName ) {
          for ( var i = 0; i < element.childNodes.length; i++ ) {
            if ( element.childNodes[i].nodeName == tagName ) return element.childNodes[i];
          }
        }
        </script>
    </head>

    <body class="{% block body_class %}{% endblock %}" onload="init()">

        {% wagtailuserbar %}



        {% block header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        {% block search %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>
