
{% load wagtailcore_tags compress static wagtailuserbar core_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <link href='//fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta property="og:title" content="" />
        <meta property="og:description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimal-ui">
        <meta name="robots" content="all,index,follow" />
        {% compress css %}
            <link rel="stylesheet" type="text/css" media="screen,projection" href="{% static 'css/styles.css' %}">
            <link rel="stylesheet" type="text/css" media="screen,projection" href="{% static 'css/feature.css' %}">
            <link rel="stylesheet" type="text/css" media="screen and (min-width:321px)" href="{% static 'css/smart.css' %}">
        {% endcompress %}

        {% block extra_css %}

        {% endblock %}

        <script type="text/javascript">
        //<![CDATA[
        var menuItems = new Array();
        function init() {
          // Grab the accordion items from the page
          var divs = document.getElementsByTagName( 'div' );
          for ( var i = 0; i < divs.length; i++ ) {
            if ( divs[i].className == 'mainMenu' ||
                divs[i].className == 'mainMenu menuItem hide') {
                  menuItems.push( divs[i] );
            }
          }
          // Assign onclick events to the accordion item headings
          for ( var i = 0; i < menuItems.length; i++ ) {
            var span = getFirstChildWithTagName( menuItems[i], 'SPAN' );
            span.onclick = toggleItem;
          }

        }
        function toggleItem() {
          var itemClass = this.parentNode.className;

    	  // Hide all items
          for ( var i = 0; i < menuItems.length; i++ ) {
            menuItems[i].className = 'mainMenu menuItem hide';
          }

    	  // Show this item if it was previously hidden
          if ( itemClass == 'mainMenu menuItem hide' ) {
            this.parentNode.className = 'mainMenu menuItem';
          }

          if ( this.parentNode.id == "pages") {
            var logos = document.getElementsByClassName("logo");
            for (var i = 0; i < logos.length; i++) {
              if (logos[i].className == "logo") {
                logos[i].className = "logo hide";
              } else {
                logos[i].className = "logo";
              }
            }
          }
        }
        function getFirstChildWithTagName( element, tagName ) {
          for ( var i = 0; i < element.childNodes.length; i++ ) {
            if ( element.childNodes[i].nodeName == tagName ) return element.childNodes[i];
          }
        }
        </script>
    </head>

    <body class="{% block body_class %}{% endblock %}" onload="init()">

        {% wagtailuserbar %}



        {% block header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        {% block search %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>
