{% extends "_base.html" %}

{% load wagtailcore_tags wagtailimages_tags compress static i18n %}

{% block header %}
<div class="header">
  <ul class="menu-list">
            <li class="menu-list--item menu-list--item-left">
                <div style="position: relative; z-index: 12;">
                    <a href="/">
                        <img src="{% static 'img/logo-black.png' %}" alt="{% trans "TuneMe" %}" class="logo">
                        <img src="{% static 'img/logo-white.png' %}" alt="{% trans "TuneMe" %}" class="logo hide">
                    </a>
                </div>
            </li>

            <li class="menu-list--item">
                 <div class="search-block">
                    <a href="#search-form" class="search-icon">{% trans "Search" %}</a>
                 </div>
            </li>
            <li class="menu-list--item">
                <div class="mobile-navigation" style="padding-top: 25px;">
                     <div class="feature-menu">
                        <a href="#feature-menu">{% trans "Menu" %}</a>
                     </div>
                </div>
            </li>
            <li class="menu-list--item">
                  <div class="tablet-navigation" style="padding-top: 25px;">
                      <div class="mainMenu menuItem hide" id="pages">
                            <span class="menu-button">{% trans "Menu" %}</span>
                            <div class="content">
                            <ul>
                                {% for section in language_page.sections %}
                                    <li class="{{ section.get_effective_extra_style_hints }}">
                                        <a href="{% pageurl section %}">
                                            {% image section.image width-40 %}
                                            <div>{{ section.title }}</div>
                                        </a>
                                    </li>
                                {% endfor %}
                                {% if user.is_authenticated %}
                                    <li class="pgrey">
                                        <a href="{% url 'molo.profiles:view_my_profile' %}">
                                            <img src="{% static 'img/profile.png' %}" width="40">
                                            <div>{% trans "Your Profile" %}</div>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="search-form">
                                <form action="{% url 'search' %}">
                                    <input placeholder="{% trans "Looking for something?" %}" name="q" type="text"
                                           value="{{ search_query }}">
                                    <input type="submit" value="{% trans "Search" %}">
                                </form>
                            </div>
                        </div>
                      </div>
                  </div>
            </li>
    </ul>
</div>

{% endblock %}

{% block search %}
  {% include "search/search_block.html" %}
{% endblock %}

{% block footer %}

<div id="feature-menu">
    <ul>
        <li>
            <a href="/">{% trans "HOME" %}</a>
        </li>
        {% for section in language_page.sections %}
        <li class="{{section.get_effective_extra_style_hints}}">
            <a href="{% pageurl section %}">{{section.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div><!-- /feature-menu -->

<div class="footer">
    {% if languages %}
      <ul>
          <strong>{% trans "Site Language:" %}</strong>
          {% for language in languages %}
          <a href="{% url 'locale_set' language.code %}">{{language.title}}</a>
          {% endfor %}
      </ul>
    {% endif %}
    {% for page in language_page.footers %}
        <a href="{% pageurl page %}">{{page.title}}</a>
    {% endfor %}
</div>

{% endblock %}
