{% extends "_base.html" %}

{% load wagtailcore_tags wagtailimages_tags compress static i18n %}

{% block extra_css %}
<style type="text/css">
  .header .logo {
    margin-top: -7px;
    margin-left: 12px;
  }
</style>
{% endblock %}
{% block header %}
<div class="header" id="top">

    <a href="/"><img src="{% static 'img/logo.png' %}" alt="{% trans "TuneMe" %}" class="logo">
      <img src="{% static 'img/logo-white.png' %}" alt="{% trans "TuneMe" %}" class="logo white"></a>	
    <div class="feature-menu">
        {% if not user.is_authenticated %}
        <a href="{% url 'molo.profiles:auth_login' %}">{% trans "Login" %}</a>
        {% else %}
        <a href="{% url 'molo.profiles:view_my_profile' %}">{% trans "Profile" %}</a>
        {% endif %}
        <a href="#feature-menu">{% trans "Menu" %}</a>
    </div>

    <div class="search-icon">
      <a href="#search-form">{% trans "Search" %}</a>
    </div><!-- /search-icon -->

    <div class="menu">
    {% if not user.is_authenticated %}
    <div class="menuItem hide" id="login">
        <span class="menuIcon">{% trans "Login" %}</span>
        <div class="content join">
          <div class="title">
            <h3>{% trans "Sign in" %}</h3>
          </div>

          <div class="block turq">
          <div class="signin-form">
              <h5>{% trans "LOGIN TO YOUR ACCOUNT!" %}</h5>
              <p>{% trans "We’re excited to have you..." %}</p>
              <form method="post" action="{% url 'molo.profiles:auth_login' %}">{% csrf_token %}
                {% if login_form.errors %}
                    <p class="error errorlist">{% trans "Your username and password does not match. Please try again." %}</p>
                {% endif %}
                <p>{% trans "Username" %}</p>
      					{{login_form.username}}
      					<p>{% trans "Password" %}</p>
      					{{login_form.password}}
                <input type="submit" value="{% trans 'Sign in' %}">
                <input type="hidden" name="next" value="{{request.site.root_page.url}}" />
                <a href="{% url 'molo.profiles:user_register' %}" class="button inverted">{% trans "Not a member yet" %}</a>
            </form>
          </div>
          </div><!-- /signin-form -->
        </div><!-- /content -->
      </div><!-- /menuItem -->
      {% else %}
      <div class="menuItem hide" id="login">
        <span class="menuIcon">{% trans "Login" %}</span>
        <div class="content join">
          <div class="title">
            <h3>{% trans "Sign out" %}</h3>
          </div>

          <div class="block turq">
          <div class="signin-form">
            <p>{% trans "Thanks for spending time with us. See you soon!" %}</p>
            <a href="{% url 'molo.profiles:auth_logout' %}" class="button inverted">{% trans "sign out" %}</a>
          </div>
          </div><!-- /signin-form -->
        </div><!-- /content -->
      </div><!-- /menuItem -->
    {% endif %}
        <div class="menuItem hide" id="pages">
          <span class="menuIcon">{% trans "Menu" %}</span>
          <div class="content">
            <ul>
              {% for section in language_page.sections %}
                <li class="{{section.get_effective_extra_style_hints}}">
                    <a href="{% pageurl section %}">{% image section.image width-40 %} {{section.title}}</a>
                </li>
              {% endfor %}
              {% if user.is_authenticated %}
                  <li class="grey"><a href="{% url 'molo.profiles:view_my_profile' %}"><img src="{% static 'img/profile.png' %}" width="35"> {% trans "Your Profile" %}</a></li>
              {% endif %}
            </ul>
          </div>
        </div><!-- /menuItem -->
      </div><!-- /menu -->

</div><!-- /header -->
{% endblock %}

{% block search %}
  {% include "search/search_block.html" %}
{% endblock %}

{% block footer %}

<div id="feature-menu">
    <ul>
        <li><a href="/">{% trans "HOME" %}</a></li>
        {% for section in language_page.sections %}
          <li class="{{section.get_effective_extra_style_hints}}">
            <a href="{% pageurl section %}">{{section.title}}</a>
          </li>
        {% endfor %}
    </ul>
</div><!-- /feature-menu -->

<div class="footer">
    {% if languages %}
      <ul>
      <strong>{% trans "Site Language:" %}</strong>
      {% for language in languages %}
      <a href="{% url 'locale_set' language.code %}">{{language.title}}</a>
      {% endfor %}
      </ul>
    {% endif %}
    {% for page in language_page.footers %}
    <a href="{% pageurl page %}">{{page.title}}</a>
    {% endfor %}
    <br>
    <br>
    <p>&copy; {% now "Y" %} {% trans "UNFPA, Ford Foundation" %}
    <br>
    {% trans "Al rights reserved." %}
    </p>
</div>

{% endblock %}
