{% extends "_base.html" %}

{% load wagtailcore_tags compress static i18n %}

{% block header %}
<div class="header" id="top">

    <a href="/"><img src="{% static 'img/logo.png' %}" alt="{% trans "TuneMe" %}" class="logo"></a>
    
    <div class="search-icon">
        <a href="#search-form">Search</a>      
    </div>

    <div class="menuItem hide" id="login">
        <span class="menuIcon">Login</span>
    </div>
           
    <div class="menuItem hide" id="pages">
        <span>Menu</span>
    </div>        

</div>
{% endblock %}



{% block search %}

    <div id="search-form">
        <input placeholder="{% trans "Search" %}" type="search">
        <input type="submit" value="{% trans "Search"%}">   
    </div>

{% endblock %}

{% block footer %}

<div class="footer">
    {% if languages %}
      <ul>
      <strong>Site Language:</strong>
      {% for language in languages %}
      <a href="{% url 'locale_set' language.code %}">{{language.title}}</a>
      {% endfor %}
      </ul>
    {% endif %}

    {% for page in language_page.footers %}
    <a href="{% pageurl page %}">{{page.title}}</a>
    {% endfor %}
    <br>
    <br>
    <p>&copy; {% now "Y" %} {% trans "UNFPA, Ford Foundation" %}
    <br>
    {% trans "Al rights reserved." %}
    </p>
</div>

{% endblock %}