
.main-menu {
  background: $black;
  input[type="checkbox"] {
   margin: 0 10px;
   display: none;
  }
}

.main-menu input[type="checkbox"] + * {
  display: none;
}

.main-menu input[type="checkbox"]:checked + *  {
  background: $black;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
}
