.menu {
  background: #fff;
  color: #000;

  a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
  }
}

.menu__item {
  border-bottom: 1px #e7e7e7 solid;
}



.languages__item {
  text-decoration: underline;
  color: #8d8d8d;
}

.languages__item--active {
  text-decoration: none;
}
