.heading {
  background: transparent;
  font-size: $font-large;
}

.heading--auth {
  background: #000;
  color: #fff;
  font-size: $font-xx-large;
}

@each $name, $color in $color_list {
  .heading--#{$name}, .heading--#{$name} a {
    color: $color;
  }

  .heading--article.heading--#{$name} {
    border: 0;
  }
}
