.service-directory {
  .call-to-action__nav-item {
    padding: 0 20px;
    font-weight: bold;
  }
  .call-to-action__nav-item--change-search {
    padding: 0;
  }
}

.call-to-action__nav-item--back {
  padding: 0 20px;
}

.service-directory__banner {
  color: $white;
  background: $green;
}
.service-directory__image {
  background: no-repeat center/contain url(../img/Find-a-clinic.png); 
  height: 100px;
}

.service-directory__feedback-message {
  padding: 0 20px 15px;
}

.heading--service-dir-title {
  padding: 0 20px 10px;
  margin-top: 0;
}
.heading--service-dir-subtitle {
  padding: 0 20px 0;
}
.heading--organisation-name {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.service-directory__title {
  padding: 10px 20px 0;
}
.service-directory__form {
  padding: 0 20px;
}
.service-directory__listings {
  padding: 10px 20px;
}

.service-list {
  padding: 0 20px;
}
.service-list--results {
  .service-list__item { 
    padding: 0 20px 10px 0;
  }
}

.service-directory__form--service-rate {
  padding: 0 20px 20px;
  fieldset {
    margin: 20px 0 0;
  }
}
