.service-directory__banner {
  color: $white;
  background: $green;
}

.service-directory__image {
    height: 100px;
}

.heading--service-directory-title {
  padding: 0 20px 10px;
  margin-top: 0;
}

.heading--service-directory-subtitle {
  font-size: $font-large;
  padding: 0 20px 0;
}

.service-direcyory__form {
  padding: 0 20px;
}

.service-directory__listings {
  padding: 0 20px;
}
