.yourwords {
   .heading {
    padding: 10px 20px;
  }
  .heading--yourwords-subtitle {
    padding: 0 20px;
  }

  img {
    margin: 5px 20px 10px;
  }

  .yourwords--inner-content {
   .heading  {
    padding: 0;
   }
  }
}

.competition__title,
.competition__title--description  {
  padding: 0 20px;
}

.yourwords--inner-content {
  padding: 0 20px;
}

.yourwords-form {
  padding: 0 20px;
}
