.yourwords {
   .heading {
    padding: 10px 20px 0;
  }
  .heading--yourwords-subtitle {
    padding: 0 20px;
  }
}

.competition__title,
.competition__title--description  {
  padding: 0 20px;
}

.yourwords-form {
  padding: 20px;
}

