html, body {
  margin: 0;
  background: #fff;
  color: #000;
}

html, body,
h1, h2, h3, h4, h5, h6,
input, select, textarea {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

input[type="submit"] {
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
  color: #fff;
  background: transparent;
  border: 0;
  width: auto;
}

.f-x-small {
  font-size: 9px;
}

.f-small {
  font-size: 13px;
}

.f-large {
  font-size: 18px;
}


//
// blockquote {
//   padding-bottom: 15px;
//   background: $white;
//   color: $black;
// }



//
// hr {
//   height:10px;
//   margin:10px 0 0; width:100%;
//   border:0;
//   background: url(/tuneme/static/img/hr.gif) 0 0 repeat-x;
//   background-size:20px;
// }

// .author {
//   font-style:italic;
//   font-size:85%;
// }

// .numbered-list {
//   margin: 0;
//   padding: 0 25px;
// }
//
// .numbered-list__item {
//   padding: 5px 0 5px 0;
// }

// .banner img {
//     width: 100%;
//     max-width: 100%;
// }
//
// .submit-button {
//   cursor: pointer;
//   outline: none;
//   border-radius: 25px;
//   margin: 10px 0;
//   border: 0;
//   font-weight: bold;
//   text-transform: uppercase;
//   width: 90%;
//   padding: 13px;
//   text-align: center;
//   font-size: 15px;
//   display: block;
//   &:focus {
//     opacity: 0.5;
//   }
// }

// .img-circle {
//     border-radius: 10px;
// }
//
// .icon {
//   text-align: center;
// }
//
.wagtail-userbar {
  display: none;
}
