// Variables

$white                :           #ffffff;
$wild_sand            :           #f4f4f4;
$black                :           #000000;
$alto                 :           #dddddd;
$grey                 :           #333333;
$santas_gray          :           #a3a3a6;
$light_gray           :           #cacaca;
$turquoise            :           #21e0d8;  //#32a6a6 turquoise
$green                :           #124f52;
$gold                 :           #fad400;  //gold
$violet               :           #d127fc;  //electric violet
$purple               :           #cf25f8;  //purple
$red                  :           #f82353;  //redical
$cardinal_red         :           #ce1d43;  //cardinal
$orange               :           #ff8e1f;  //tree poppy
$dark_orange          :           #d46900;  //red stage
$rose_pink            :           #e60382;  //rose

$color_list: (
  purple    : $purple,
  turquoise : $turquoise,
  violet    : $violet,
  red       : $red,
  orange    : $orange,
  pink      : $rose_pink,
  gold      : $gold
);
