
$font-x-small: 9px;
$font-small: 13px;
$font-medium: 16px;
$font-large: 18px;
$font-x-large: 21px;
$font-xx-large: 25px;

$border: 1px #e7e7e7 solid;


$white                :           #ffffff;
$wild_sand            :           #f4f4f4;
$black                :           #000000;
$alto                 :           #dddddd;
$grey                 :           #333333;
$santas_gray          :           #a3a3a6;
$light_gray           :           #cacaca;
$turquoise            :           #21e0d8;
$green                :           #124f52;
$gold                 :           #fad400;
$violet               :           #d127fc;
$purple               :           #cf25f8;
$red                  :           #f82353;
$cardinal_red         :           #ce1d43;
$orange               :           #ff8e1f;
$dark_orange          :           #d46900;
$rose_pink            :           #e60382;

$color_list: (
  purple    : $purple,
  turquoise : $turquoise,
  violet    : $violet,
  red       : $red,
  orange    : $orange,
  rose_pink : $rose_pink,
  gold      : $gold
);
