.header {
  background: #000;
  color: #fff;
  text-align: right;
  overflow: hidden;

  label {
    line-height: 73px; // Magic number warning!
    text-decoration: underline;
  }
}

.logo {
  float: left;
  width: 110px;
}
