
.section-article-list {
  @media screen and (min-width: 480px){
      padding: 10px;
  }
  @at-root #{&}__item {
    overflow: hidden;
    padding-bottom: 10px;
    display: block;
    @media screen and (min-width: 480px) {
      display: flex;
    }
  }
}

.section-article-list__item--image {
  display: none;
  @media screen and (min-width: 480px) {
    padding-right: 20px;
    display: block;
  }
  img {
   @media screen and (min-width: 480px) {
     margin-right:20px;
   }
 }
}

.section-article-list__item-description {
  vertical-align: middle;
  a {
    text-decoration: none;
    color: $black;
  }
  p {
    margin: 0;
  }
}
