{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags mptt_tags comments molo_commenting_tags static i18n %}
{% block content %}
<div class="breadcrumbs">
  {% block breadcrumbs %}
    {% breadcrumbs %}
  {% endblock %}
</div>
{% if self.image %}
  {% image self.image width-280 jpegquality-70 as article_image %}
  <div class="article__image">
    <img src="{{ article_image.url }}" class="article-list__image"/>

  </div>
{% endif %}
<h1 class="article__title">{{ self.title }}</h1>
{% if self.subtitle %}
<h2 class="article__subtitle">{{ self.subtitle }}</h2>
{% endif %}
<div class="article__content article__content{{ self.get_parent_section.get_effective_extra_style_hints }}">
  <div class="article__content--inner">
  {% for block in self.body %}
    {% if block.block_type == 'heading' %}
        <h4>{{ block.value }}</h4>
    {% elif block.block_type == 'image' %}
      {% image block.value width-280 jpegquality-70 as article_image %}
      <div class="article__image">
        <img src="{{ article_image.url }}" class="article-list__image"/>

      </div>
    {% elif block.block_type == 'numbered_list' %}
         <ol>
        {% for item in block.value %}
          <li>{{ item|handle_markdown }}</li>
        {% endfor %}
        </ol>
      {% elif block.block_type == 'list' %}
        <ul>
        {% for item in block.value %}
          <li>{{ item|handle_markdown }}</li>
        {% endfor %}
      </ul>
    {% elif block.block_type = 'page' %}
        <a href="{% pageurl block.value %}" class="featured-articles">{{ block.value }}</a>
    {% else %}
        {{ block }}
    {% endif %}
  {% endfor %}
  {% social_media_article %}
</div>
</div>
{% has_questions self as questions %}
{% if questions %}
  <div class="article__polls">
    {% poll_page_in_section page=self %}
  </div>
{% endif %}
{% include "comments/comment_block.html" %}
{% endblock %}
