{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags static poll_votings i18n %}

{% block content %}

<div class="breadcrumbs">
  <a href="{{request.site.root_page.url}}">{% trans "Home" %}</a>
  <a href="{% pageurl self.get_parent_section %}">{{self.get_parent_section.title}}</a>
  {{ self.title }}
</div>

<h1 class="article__title">{{ self.title }}</h1>
<h1 class="article__subtitle">{{ self.subtitle }}</h1>
{% if self.image %}
  {% image self.image width-280 as article_image %}
  <div class="article__image">
    <img src="{{ article_image.url }}" />
  </div>
{% endif %}

<div class="article__content">
  {% for block in self.body %}
    {% if block.block_type == 'heading' %}
        <h4>{{ block.value }}</h4>
    {% elif block.block_type == 'image' %}
      {% image block.value width-280 as article_image %}
      <div class="article__image">
        <img src="{{ article_image.url }}" />
      </div>
    {% else %}
        {{ block }}
    {% endif %}
  {% endfor %}
</div>



     {% if self.get_parent_section %}
        <h2 class="heading heading--article heading{{ self.get_parent_section.get_effective_extra_style_hints }}">{% trans "Must Read" %}</h2>
        <ul class="section-article-list section-article-list{{ self.get_parent_section.get_effective_extra_style_hints}}">
            {% for block in self.body %}
                {% if block.block_type == 'page' %}
                    <li class="section-article-list__item">
                            <div class="section-article-list__item--image">
                                 <a href="{% pageurl block.value %}"> {% if page.image %}
                                    {% image page.image width-100 as tmp_photo %}

                                {% endif %}
                                 </a>
                            </div>
                            <div class="section-article-list__item-description">
                                <h4><a href="{% pageurl block.value %}"> {{ block.value }}</a></strong>
                                <p>{{ block.subtitle }}</h4>
                            </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    </div>



{% has_questions self as questions %}
{% if questions %}
<div class="questions">
  <div class="title">
    <div class="icon"><a href=""><img src="{% static 'img/polls.png' %}" alt="Have Your Say"></a></div>
      <h6><a href="">{% trans "Have Your Say" %}</a></h6>
  </div>
{% poll_page_in_section page=self %}
</div>
{% endif %}

{% if self.is_commenting_enabled %}
  <div class="heading heading--article heading{{ self.get_parent_section.get_effective_extra_style_hints }}">{% trans "Join the discussion" %}</div>
  <div id="comments-list" class="comments-list">
  {% get_comment_count for self as comment_count %}
  {% get_molo_comments for self as comment_list %}
    {% for node in comment_list %}
      {% recursetree node %}
        {% include "comments/comment.html" %}
          {{ children }}
      {% endrecursetree %}
    {% endfor %}
  {% if comment_count > 5 %}
    <div class="comments-list__pagination">
      <a href="{% url 'more-comments' self.pk %}">{% trans "More" %}</a>
    </div>
  {% endif %}
  {% if self.allow_commenting %}
    {% if request.user.is_authenticated %}
      {% render_comment_form for self %}
    {% else %}
      <a href="{% url 'molo.profiles:auth_login' %}?next={{request.path}}#comments-list" class="submit-button">{% trans "Log in to comment" %}</a>
    {% endif %}
  {% else %}
    <p class="comments-list__disabled">{% trans "Commenting on this article is currently disabled" %}</p>
  {% endif %}
</div>
{% endif %}
{% endblock %}
