{% extends "base.html" %}
{% load static core_tags molo_survey_tags competition_tag tip_tags i18n %}
{% block homepage-signup %}
  {% if user.is_authenticated %}
    <a href="{% url 'molo.profiles:view_my_profile' %}" class="header-nav__item header-nav__item--menu">
      {% trans "Profile" %}</a>
  {% else %}
    <a href="{% url 'molo.profiles:user_register' %}" class="header-nav__item header-nav__item--menu">
      {% trans "Sign Up" %}</a>
  {% endif %}
{% endblock %}
{% block search-button %}{% endblock %}
{% block search %}
 	<h1 class="header__search-title">
    {% trans "Do you have questions on love, sex and relationships?" %}
  </h1>
  {% include "search/search_block.html" %}
{% endblock %}
{% block language %}
  {% include "core/language_block.html" %}
{% endblock %}
{% block content %}
  {% your_tips_create_tip_on_homepage %}
  {% bannerpages %}
  {% latest_listing_homepage num_count=5 %}
  {% surveys_list is_yourwords=True %}
  {% your_tips_on_homepage %}
  {% surveys_list only_direct_surveys=True %}
  {% section_listing_homepage %}
  {% surveys_list only_linked_surveys=True %}
{% endblock %}
