{% extends "base.html" %}
{% load static core_tags poll_votings molo_survey_tags competition_tag i18n %}

{% block search-button %}
  <a href="#search-query" class="header-nav__item header-nav__item--search">{% trans "Search" %}</a>
{% endblock %}
{% block search %}
 	<h2 class="header__search-title">{% trans "Do you have questions on love, sex and relationships?" %}</h2>
  {% include "search/search_block.html" %}
{% endblock %}
{% block language %}
  {% include "core/language_block.html" %}
{% endblock %}
{% block content %}
  {% bannerpages %}
  {% latest_listing_homepage num_count=5 %}
  {% your_words_competition %}
  {% poll_page %}
  {% section_listing_homepage %}
  {% surveys_list %} 
{% endblock %}
