{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags core_tags poll_votings static i18n %}

{% block content %}

<div class="breadcrumbs">
  <a href="{{request.site.root_page.url}}">{% trans "Home" %}</a>
  <a href="">{{ self.title }}</a>
</div>


{% for article in self.articles %}
{% endfor %}





    {% for section in self.sections %}
        <ul class="sub-category-list sub-category-list{{ self.get_effective_extra_style_hints }} l-indent">
            <li class="sub-category-list__item">
                <a href="{% pageurl section %}">{{section.title}}</a>
            </li>
            <li class="sub-category-list__item sub-category-list__item--view-all">
                <a href="{% pageurl section %}">{% trans "View All" %}</a>
            </li>
        </ul>
        {% for page in section.featured_articles %}
            <div class="section-article-list__item section-article-list__item{{ self.get_effective_extra_style_hints }} l-indent">
                <div class="section-article-list__item--image">
                    {% if page.image %}
                      {% image page.image width-98 as tmp_photo %}
                      <img src="{{ tmp_photo.url }}" alt="{{ page.image.title }}" class="img-circle"/>
                    {% endif %}
                </div>

                <div class="section-article-list__item-description">
                    <h3><a href="{% pageurl page %}">{{ page.title }}</a></h3>
                    <p>{{ page.subtitle }}</p>
                </div>
            </div>
        {% endfor %}
      </div>
    {% endfor %}

{% endblock %}
