{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags molo_survey_tags core_tags poll_votings static core_tags i18n %}

{% block content %}

<div class="breadcrumbs">
  <a href="{{request.site.root_page.url}}">{% trans "Home" %}</a>
  {{ self.title }}
</div>

<ul class="article-list article-list{{self.get_effective_extra_style_hints}}">
  {% load_child_articles_for_section self as articles %}
  {% for article in articles %}
  <li class="article-list__item l-indent l-indent--tall">
     <a href="{% pageurl article %}">
        {% if article.image %}
          {% image article.image width-90 height-90 as article_image %}
          <img src="{{ article_image.url }}" alt="{{ article_image.title }}" class="article-list__image" />
        {% endif %}
        <h2 class="article-list__title">{{article.title}}</h2>
        <h4 class="article-list__subtitle">{{article.subtitle}}</h4>
      </a>
  </li>
  {% endfor %}
  <li class="article-list__item article-list__item--more"><a href="{% pageurl self %}">{% trans "More" %}</a></li>
</ul>

{% load_child_sections_for_section self as sections %}
{% for section in sections %}
  <h1 class="heading heading--section-list heading{{section.get_effective_extra_style_hints}}">
    <a href="{% pageurl section %}">{{section.title}}</a>
  </h1>
  <ul class="article-list article-list--section article-list{{self.get_effective_extra_style_hints}}">
    {% load_descendant_articles_for_section section featured_in_section=True as featured_articles %}
    {% for article in featured_articles %}
        <li class="article-list__item l-indent l-indent--tall">
           <a href="{% pageurl article %}">
              {% if article.image %}
                {% image article.image width-90 height-90 as article_image %}
                <img src="{{ article_image.url }}" alt="{{ article_image.title }}" class="article-list__image" />
              {% endif %}
              <h2 class="article-list__title">{{article.title}}</h2>
              <h4 class="article-list__subtitle">{{article.subtitle}}</h4>
            </a>
        </li>
    {% endfor %}
    <li class="article-list__item article-list__item--more"><a href="{% pageurl section %}">{% trans "More" %} {{section.title}}</a></li>
  </ul>
{% endfor %}

{% surveys_list_for_pages page=self %}

{% endblock %}
