{% extends "core/_section_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments molo_survey_tags core_tags poll_votings static core_tags i18n %}


{% block content %}

<div class="title {{self.get_effective_extra_style_hints}}">
  <div class="icon">
      {% if self.get_effective_image %}
          {% image self.get_effective_image width-98 as tmp_photo %}
          <img src="{{ tmp_photo.url }}" alt="{{ self.get_effective_image.title }}"/>
      {% endif %}
    </div>
    <h6>{{self.title}}</h6>
</div>

{% load_child_sections_for_section self as sections %}
{% for section in sections %}
  <div class="block {{self.get_effective_extra_style_hints}}">
    <h5><a href="{% pageurl section %}">{{section.title}}</a></h5>
    {% load_descendant_articles_for_section section count=None featured_in_section=True as featured_articles %}
    {% for page in featured_articles %}
        {% if page.image %}
          {% image page.image width-98 as tmp_photo %}
          <img src="{{ tmp_photo.url }}" alt="{{ page.image.title }}" class="img-circle"/>
        {% endif %}
        <h3><a href="{% pageurl page %}">{{page.title}}</a></h3>
        <p>{{page.subtitle}}</p>
        {% get_comment_count for page as comment_count %}
        {% if comment_count > 0 %}
          <div class="comments-count"><a href="#">{{comment_count}} <span>{% trans "comment" %}{{comment_count|pluralize}}</span></a></div>
        {% endif %}
        <a href="{% pageurl page %}" class="button">{% trans "Read on" %}</a>
    {% endfor %}
    <a href="{% pageurl section %}" class="button inverted">{% trans "View Similar" %}</a>
    <hr>
  </div>
{% endfor %}


{% load_child_articles_for_section self count=None as articles %}
{% for page in articles %}
  <div class="block {{self.get_effective_extra_style_hints}}">
    {% if page.image %}
        {% image page.image width-98 as tmp_photo %}
        <img src="{{ tmp_photo.url }}" alt="{{ page.image.title }}" class="img-circle" />
    {% endif %}
  <h3><a href="{% pageurl page %}">{{page.title}}</a></h3>
  <p>{{page.subtitle}}</p>
  <a href="{% pageurl page %}" class="button">{% trans "Read on" %}</a>
  <hr>
  </div>
{% endfor %}

{% has_questions self as questions %}
{% if questions %}
<div class="block {{self.get_effective_extra_style_hints|default:"orange"}}">
  <div class="title">
    <div class="icon"><a href=""><img src="{% static 'old/img/polls.png' %}" alt="Have Your Say"></a></div>
      <h6><a href="">{% trans "Have Your Say" %}</a></h6>
  </div>
  {% poll_page_in_section page=self %}
  <hr>
</div>
{% endif %}

<div class="block {{self.get_effective_extra_style_hints}}">
    <a href="{{request.site.root_page.url}}" class="button inverted">{% trans "Home" %}</a>
</div>
{% endblock %}
