.article-list__item--more {
  display: none;
}

.article-list--latest-listing,
.article-list--section-listing {
  overflow: auto;

  .article-list__item {
    box-sizing: border-box;
    width: 50%;
  }

  .article-list__image {
    float: none;
    margin-bottom: 5px;
  }
}

.article-list--section-listing {
  .article-list__item:nth-child(even) {
    @include float-clear(right);
  }
  .article-list__item:nth-child(odd) {
    @include float-clear(left);
  }
}

.article-list--latest-listing {
  .article-list__item:first-child {
    @include float-clear(none);
    border: 1px solid red;
    width: 100%;
  }
  .article-list__item:nth-child(even) {
    @include float-clear(left);
  }
  .article-list__item:nth-child(odd) {
    @include float-clear(right);
  }
}

.article-list__item {
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
}

.article-list__image {
  float: left;
  margin-right: 20px;
}

.article-list--latest-listing .article-list__item:first-child {
  flex: 1 100%;
}
