.yourwords {
  padding: 10px 0;
  color: #fff;
   .heading {
    padding: 10px 20px;
    color: #fff;
  }
  .heading--yourwords-subtitle {
    font-size: $font-large;
    padding: 5px 20px 20px;
  }
  .yourwords--inner-content {
   .heading  {
    padding: 0;
   }
  }

  .call-to-action__nav-item--login {
    text-align: center;
    display: block;
  }
}

.competition__title,
.competition__title--description  {
  padding: 0 20px;
}

.yourwords--inner-content {
  padding: 0 20px;
}

.yourwords-form {
  padding: 0 20px;
}

@each $name, $color in $color_list {
  .yourwords--#{$name} {
    background: $color;
    .call-to-action__nav-item--login {
      background: $color;
      filter: grayscale(60%);
    }
  }
}
//Manual color match
.yourwords--gold .call-to-action__nav-item--login  {
  background: rgb(153, 130, 0);
}
.yourwords--turquoise .call-to-action__nav-item--login {
  background: rgb(53, 140, 139);
}
