
@import "../_variables";

.header-nav {
  .logo {
    width: auto;
  }
}

@media only screen and (min-width: 320px) {
  html, body,
  h1, h2, h3, h4, h5, h6,
  input, select, textarea {
    font-family: 'Quicksand', sans-serif;
  }
  
  label[for=id_date_of_birth_year] {
    display: block;
    margin: 10px 0 5px;
  }

  select {
    width: 32%;
    display: inline-block;
  }

  input[type="submit"] {
    line-height: 28px;
    border-radius: 14px;
    width: 100%;
    padding: 2px 20px;
  }

  .copyright {
    background: #000;
    color: #fff;
  }

  .breadcrumbs {
    border-bottom: 1px #e7e7e7 solid;
    a {
      font-weight: bold;
    }
  }

  .surveys__title {
    color: #EF9955;
  }

  .copyright {
    padding: 0 20px 20px 20px;
  }
  
  @import "_s-header";
  @import "_s-heading";
  @import "_s-auth";
  @import "_s-menu";
  @import "_s-buttons";
  @import "_s-polls";
  @import "_s-article";
  @import "_s-article-list";
  @import "_s-comments";
  @import "_s-profiles";
  @import "_s-search";
  @import "_s-yourwords";
  @import "_s-survey";
  @import "_s-service-dir";
}

@media only screen and (min-width: 600px) {
  html {
    background:#333;
  }
  body {
    max-width: 320px;
    margin: 0 auto;
  }
}
