{% extends "base.html" %}
{% load i18n %}

{% load static core_tags %}

{% block content %}

<div class="title {{question.get_effective_extra_style_hints|default:"--default"}} l-indent">
  <img src="{% static 'img/polls.png' %}" alt="Have Your Say">
	<h2 class="poll-title f-bigger">{% trans "Have Your Say" %}</h2>
</div>
<div class="poll-section {{question.get_effective_extra_style_hints|default:"--default"}} l-indent">
	<h3 class="f-medium">{{ question.title }}</h3>
	{% if form.answer.errors %}<p><strong>{{form.answer.errors|join:", " }}</strong></p>{% endif %}
		<form action="{% url 'molo.polls:free_text_vote' question.id %}" method="post">
			{% csrf_token %}
			{{form.answer}}
				<div>
					<input type="submit" class="submit-button" value="{% trans "Vote" %}"/>
  				<a href="{{request.site.root_page.url}}" class="submit-button">{% trans "Home" %}</a>
				</div>
		</form>
</div>
{% endblock %}
