.footer {
  background: $black;
  padding:15px;
  color: $santas_gray;
  text-align: left;

   a {
     color: $santas_gray;
     text-decoration: underline;
   }

  a.active {
    text-decoration: underline;
  }
}