
.l-row {
  clear: both;
}

.l-half {
  width: 50%;
  &:first-child {
    float: left;
  }
  &:last-child {
    float: right;
  }
}

.l-indent {
  padding: 10px 20px;
}

.l-indent-small {
    padding: 10px;
}

@import "_header";
@import "_footer";
