
.menu-list {
  margin: 0;
  padding: 0;

}

.menu-list--item {
  display: inline-block;
  vertical-align: middle;
}

.login-icon,
.search-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: white;
  text-indent: -999em;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  z-index: 12;

  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}

.search-icon {
  margin-left: 80px; //Magic number?
  @media screen and (min-width: 600px) {
    background: #000000 url(/static/img/search.png) center center no-repeat;
    background-size:15px;
    display: block;
  }
}

.login-icon  {
  background: #000000 url(/static/img/user.png) center center no-repeat;
  background-size:15px;
}

.menuItem.hide#pages .menu-button {
    color:white;
    background:black;
}

.menu-button {
  width:75px;
  text-align:center;
  line-height:1.5;
  font-weight:bold;
  text-transform:uppercase;
  font-size:15px;
  z-index:12;
  color:black;
  background:white;
  background-size:15px;
  text-indent:-999em;
  border-radius:25px;
  padding:5px 15px;
  cursor: pointer;
}

.menuItem div.content li:first-child:before{
  content:"";
  height:10px;
  width:100%;
  display:block;
  background:url(/static/img/black-wave.png) 0 bottom repeat-x;
  background-size:20px;
}

.menuItem div.content li:last-child:after{
  height:10px;
  width:100%;
  display:block;
  background:url(/static/img/black-wave.png) 0 0 repeat-x;
  background-size:20px;
}

.menuItem div.content {
    width: 100%;
    height: 100%;
    background: black;

    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;
}

.menuItem.hide div.content {display:none;}



.mainMenu ul li a img {
    float: left;
}

.mainMenu ul li a div {
    font-size: 17px;
    vertical-align: top;
    display: inline-block;
    line-height: 40px;
    margin-left: 30px;
}


#feature-menu {
   padding: 15px;
   text-transform: uppercase;
   border-bottom: 1px solid #ddd;
}

#feature-menu li {
  padding:3px 0;
  display:block;
  font-weight:bold;
  font-size:125%;
}

#feature-menu li.turq a {color:#21e0d8;}
#feature-menu li.purple a {color:#d127fc;}
#feature-menu li.pink a {color:#f82353;}
#feature-menu li.orange a {color:#ff7c44;}
#feature-menu li.yellow a {color:#fad400;}
#feature-menu li.grey a {color:black;}
#feature-menu li.magenta a {color:#e60382;}

.feature-menu {
  text-transform:uppercase;
  font-weight:bold;

  a {
    color: white;
    padding:5px;
    text-decoration: underline;
    display:inline-block;
      @media screen and (min-width: 600px) {
        color: black;
      }
  }

  @media screen and (min-width: 600px) {
   display: block;
  }
}

