
.feature-menu {
  background: $white;
  text-align: left;
  @media screen and (min-width: 600px) {
    background: $black;
    display: block;
  }
}

.feature-menu-list {
    padding: 10px 0;
    margin: 0;
}

.feature-menu-list__item {
  display: flex;
  overflow: hidden;
  @media screen and (min-width: 600px) {
    margin: 15px 0;
    padding: 0 10px 0 0;
  }

  &:last-child {
    .feature-menu-list__item--title {
      border-bottom: none;
    }
  }

  a {
    color: $black;
    display: block;
    text-transform: capitalize;
    padding: 20px 10px;
    font-weight: bold;

    @media screen and (min-width: 600px)  {
      text-transform: uppercase;
      padding: 15px 10px;
    }
  }
}

.feature-menu-list__item--home,
.feature-menu-list__item--backtotop {
  display: block;
  border-bottom: 1px solid #ddd;
  @media screen and (min-width: 600px) {
     display: none;
  }
}

.feature-menu-list__item--backtotop a {
  font-size: 14px;
}

.feature-menu-list__item--title {
  float: left;
  width: 100%;
  @media screen and (min-width: 600px) {
     border-top-right-radius: 25px;
     border-bottom-right-radius: 25px;
     width: 50%;
     max-height: 51px;
  }
}

.feature-menu-list__item--subtitle {
  display: none;
  color: $white;
  padding-left: 5%;

  @media screen and (min-width: 600px) {
    display: block;
    float: right;
    width: 45%;
  }
  span {
    display: block;
    vertical-align: middle;
    font-size: 15px;
  }
}


@each $name, $color in $color_list {
  .feature-menu-list__item--#{$name} .feature-menu-list__item--title {
    background: transparent;
    border-bottom: 1px $color solid;
    @media screen and (min-width: 600px) {
     background-color: $color;
     border: none;
    }
  }
}
