{% load wagtailcore_tags wagtailimages_tags compress static wagtailuserbar core_tags i18n %}
{% load google_analytics_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="description" content="Tune Me puts the power in your hands to make choices about your body, your rights, your love life and your sexual health." />
  <meta name="keywords" content="love, sex, relationships, advice, help, family planning, contraception, private" />
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{% if self.social_media_title %}{{ self.social_media_title }}{% elif self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}"/>
  <meta name="twitter:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>
  {% image self.social_media_image width-300 as tmp_photo %}
  <meta name="twitter:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
  <meta property="og:title" content= "{% if self.social_media_title %}{{ self.social_media_title }}{% elif self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
  <meta property="og:description" content="{% if self.social_media_description %}{{ self.social_media_description }}{% else %}{{ self.subtitle }}{% endif %}"/>
  {% image self.social_media_image width-300 as tmp_photo %}
  <meta property="og:image" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
  <meta property="og:image:url" content="{% if self.social_media_image %}{{request.site.root_url}}{{ tmp_photo.url }}{% endif %}"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimal-ui"/>
  <meta name="robots" content="all,index,follow" />

  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'new/css/style.scss' %}">
    <link rel="stylesheet" media="only screen and (min-width: 320px)" type="text/x-scss" href="{% static 'new/css/state_320.scss' %}">
    <link rel="stylesheet" type="text/css" media="handheld" href="{% static 'new/css/opera_single_view.css' %}">
  {% endcompress %}

  <noscript>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'new/css/style.scss' %}">
    {% endcompress %}
  </noscript>

  <script type="text/javascript">
    var CutsTheMustard = 'querySelector' in document && 'localStorage' in window && 'addEventListener' in window,
        ScreenLargeEnough = ((window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth) >= 200);
        if (CutsTheMustard == true) {
            if(ScreenLargeEnough == true) {
                document.write('<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">')
            }
        }
  </script>

  {% block extra_css %}{% endblock %}
  {% block Facebook_pixel %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

  <div class="header">
    <div class="header-nav">
      <a href="/">
        <img class="logo" src="{% static 'new/img/logo.png' %}" alt="TuneMe" />
      </a>
      <div class="menu-links__container">
        {% block homepage-signup %}
        {% endblock %}
        {% block search-button %}
          <label class="search-bar__toggle-label  header-nav__item header-nav__item--search" for="search-bar__toggle">
            {% trans "Search" %}
          </label>
        {% endblock %}
        <a href="#menu" class="header-nav__item header-nav__item--menu">{% trans "Menu" %}</a>
      </div>
    </div>
    {% block search %}
      <input id="search-bar__toggle" class="search-bar__toggle-input" type="checkbox">
      <div class="search-bar--form">
        <h1 class="header__search-title">{% trans "Do you have questions on love, sex and relationships?" %}</h1>
        {% include "search/search_block.html" %}
      </div>
    {% endblock %}
    {% block language %}
    {% endblock %}
  </div>

  {% block content %}{% endblock %}


  <div class="menu" id="menu">

    <ul class="menu-items">
      <li class="menu__item menu__item--default"><a href="#top">{% trans "Back to top" %}</a></li>
      <li class="menu__item menu__item--default"><a href="/">{% trans "Home" %}</a></li>

      {% if 'tuneme.org' in request.get_host %}
        <li class="menu__item menu__item--service menu__item--default">
         <a href="{% url 'molo.servicedirectory:home' %}">{% trans "Find A Service" %}</a>
        <span>{% trans "Find A Service description" %}</span>
       </li>
      {% endif %}

      {% load_sections as sections %}
      {% for section in sections %}
      <li class="menu__item menu__item{{ section.get_effective_extra_style_hints }}">
        <a href="{% pageurl section %}">
          {{ section.title }}
        </a>
        <span>{{ section.description }}</span>
      </li>
      {% endfor %}
    </ul>

    <ul class="menu-items menu-items--alt">
      <li class="menu__item menu__item--default"><a href="#search-form">{% trans "Search" %}</a></li>
      {% if user.is_authenticated %}
      <li class="menu__item menu__item--default"><a href="{% url 'molo.profiles:view_my_profile' %}">{% trans "Your Profile" %}</a></li>
      <li class="menu__item menu__item--default"><a href="{% url 'molo.profiles:auth_logout' %}">{% trans "Log out" %}</a></li>
      {% else %}
      <li class="menu__item menu__item--default"><a href="{% url 'molo.profiles:auth_login' %}">{% trans "Log in" %}</a></li>
      <li class="menu__item menu__item--default"><a href="{% url 'molo.profiles:user_register' %}">{% trans "Sign Up" %}</a></li>
      {% endif %}
    </ul>

    {% include "core/language_block.html" %}

    <div class="footer-links">
      {% footer_page %}
    </div>

  </div>
  <div class="copyright">&copy; {% now "Y" %} UNFPA, Ford Foundation All Rights Reserved.</div>

  {% if GOOGLE_TAG_MANAGER_ACCOUNT %}
    <!-- Google Tag Manager -->
     <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{GOOGLE_TAG_MANAGER_ACCOUNT}}&client_session_id={{request.session.MOLO_GA_SESSION_FOR_NOSCRIPT}}&page_title={% if self.seo_title %}{{ self.seo_title|urlencode }}{% else %}{{ self.title|urlencode }}{% endif %}{%if request.META.HTTP_X_IORG_FBS_UIP %}&freebasics_uip={{request.META.HTTP_X_IORG_FBS_UIP}}{%endif%}"
     height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
     <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
     new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
     '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
     })(window,document,'script','dataLayer','{{GOOGLE_TAG_MANAGER_ACCOUNT}}');</script>
    <!-- End Google Tag Manager -->
  {% endif %}

  {% if settings.core.SiteSettings.global_ga_tag_manager %}
    <!--Global Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{settings.core.SiteSettings.global_ga_tag_manager}}&client_session_id={{request.session.MOLO_GA_SESSION_FOR_NOSCRIPT}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{settings.core.SiteSettings.global_ga_tag_manager}}');</script>
    <!-- End Global Google Tag Manager -->
  {% endif %}
  {% if settings.core.SiteSettings.global_ga_tracking_code %}
        <div style="display:none">
            <img src="{% google_analytics settings.core.SiteSettings.global_ga_tracking_code %}" width="0" height="0" />
        </div>
        <!-- Global End Google Tracking Code -->
        {% endif %}

        {% if settings.core.SiteSettings.local_ga_tracking_code %}
        <div style="display:none">
            <img src="{% google_analytics settings.core.SiteSettings.local_ga_tracking_code %}" width="0" height="0" />
        </div>
        <!-- Local End Google Tracking Code -->
        {% endif %}
  {% block extra_js %}{% endblock %}
</body>
</html>
