.article__image {
  display: block;
  padding: 0 20px 20px 20px;
    img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}


@each $name, $color in $color_list {
  .article__content--#{$name} {
    a {
      color: $color;
    }
    .featured-articles__heading {
      border-color: $color;
    }
  }
}
