.article-list__item--more {
  display: none;
}

.article-list--latest-listing, .article-list--section-listing {
  overflow: auto;

  .article-list__item {

    box-sizing: border-box;
    width: 50%;
  }

  .article-list__item:nth-child(odd) {
    float: left;
    clear: left;
  }

  .article-list__item:nth-child(even) {
    float: right;
    clear: right;
  }

  .article-list__image {
    float: none;
    width: 100%;
    margin-bottom: 5px;
  }
}

.article-list--latest-listing {

  .article-list__item:first-child {
    clear: none;
    float: none;
    width: 100%;

    .article-list__title, .article-list__subtitle {
      padding: 0 5px;
    }
  }
}

.article-list__item {
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
}

.article-list__image {
  float: left;
  margin-right: 20px;
}

.article-list--latest-listing .article-list__item:first-child {
  flex: 1 100%;
}
