.article-list__item--more {
  display: none;
}

.article-list--latest-listing {
  display: flex;
  flex-wrap: wrap;

  .article-list__image {
    width: 100%;
  }
}

.article-list--latest-listing .article-list__item:first-child {
  flex: 1 100%;
}
.article-list--latest-listing .article-list__item {
  box-sizing: border-box;
  width: 50%;
}
.article-list__item {
  padding-left: 10px;
  padding-right: 10px;
}
