.heading.heading--comments {
  background: #ebebeb;
  color: #000;
  margin: 15px 0 0;
}

.comments-form input[type="submit"] {
  background: #32dfd4;
}

.comments-list, .comments-list__pagination {
  background: #ebebeb;
}

@each $name, $color in $color_list {
  .comments-list--#{$name} {
    input[type="submit"] {
      background: $color;
    }
  }
}
