.heading--comments {
  background: #ebebeb !important;
  color: #000;
  margin: 0;
}

.comments-form input[type="submit"] {
  background: #32dfd4;
}

.comments-list, .comments-list__pagination {
  background: #ebebeb;
}
