.heading {
  background: transparent;
}

.heading--auth {
  margin: 0;
}

@each $name, $color in $color_list {
  .heading--#{$name}, .heading--#{$name} a {
    color: $color;
  }

  .heading--article.heading--#{$name} {
    border: 0;
  }
}
