.header {
  padding: 20px;

  .search-form {
    display: flex;
    input[type="text"] {
      padding: 0 20px;
      line-height: 38px;
      border: 0;
    }
    input[type="submit"] {
      padding: 0 10px;
    }
  }

  .languages {
    font-size: $font-small;

    .languages__item {
      color: #fff;
      text-decoration: none;
      padding: 5px;
      background: #cf25f8;
      border-radius: 10px;
    }

    .languages__item--active {
      background: none;
    }
  }
}

.header-nav__item {
  text-transform: uppercase;
  text-decoration: none;
}

.header-nav__item--search {
  color: transparent;
  background: transparent url(/static/new/img/search.png) no-repeat 100% 50%;
  background-size: 30%;
}
