.header {
  padding: 20px;


  .search-form {
    display: flex;
    input[type="text"] {
      padding: 0 20px;
      line-height: 38px;
      border-top-left-radius: 19px;
      border-bottom-left-radius: 19px;
      border: 0;
    }
    input[type="submit"] {
      border-radius: 0;
      border-top-right-radius: 19px;
      border-bottom-right-radius: 19px;
      color: transparent;
      background: #fff url(/static/img/search-black.png) no-repeat 50%;
      background-size: 50%;
      width: auto;
    }
  }

  .languages {
    font-size: $font-small;
    a {
      color: #fff;
      text-decoration: none;
    }

    .languages__item {
      padding: 5px;
    }

    .languages__item--active {
      background: #cf25f8;
      border-radius: 10px;
    }
  }
}

.header-nav__item {
  text-transform: uppercase;
  text-decoration: none;
}
