.menu {
  background: #000;
  color: #a3a3a3;
  a {
    color: #a3a3a3;
  }
}

.menu-items--alt {
  padding-top: 0;
}

.menu-items .menu__item:first-child {
  display: none;
}

 .menu__item {
  padding: 5px 0;
  overflow: auto;
  font-size: $font-small;
  a {
    padding: 10px 20px;
    text-transform: uppercase;
    color: #000;
    border: 0;
  }
  span {
    padding: 10px 20px 0 20px;
    display: block;
    color: #fff;
  }
 }

@media only screen and (min-width: 320px) { 
  .menu__item {
    display: flex;
    align-items: flex-start;
   
    a {
      flex: 1;
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
    }

    span {
      flex: 1.25;
    }
  }
}

@each $name, $color in $color_list {
  .menu__item--#{$name} a {
    background: $color;
  }
}


.menu__item--default a {
  color: #fff;
}
