
.call-to-action__link {
  color: #990099;
}

.call-to-action__nav-item {
  color: #cd36f5;
}

.call-to-action__nav-item--login,
input[type="submit"] {
  border-radius: 14px;
}
.call-to-action__nav-item--login {
  color: #fff;
  display: inline-block;
  padding: 1px 20px;
}