
@import "_s-header";
@import "_s-heading";
@import "_s-menu";
@import "_s-polls";
@import "_s-article";
@import "_s-article-list";
@import "_s-comments";

@media only screen and (min-width: 320px) {

  @import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

  html, body,
  h1, h2, h3, h4, h5, h6,
  input, select, textarea {
    font-family: 'Quicksand', sans-serif;
  }

  .search-form {
    display: flex;
    input[type="text"] {
      border-top-left-radius: 19px;
      border-bottom-left-radius: 19px;
    }
    input[type="submit"] {
      border-radius: 0;
      border-top-right-radius: 19px;
      border-bottom-right-radius: 19px;
      color: transparent;
      background: #fff url(/static/new/img/search-black.png) no-repeat 90%;
      background-size: 20%;
      width: 100%;
    }
  }

  .call-to-action__nav-item--login,
  input[type="submit"] {
    line-height: 28px;
    border-radius: 14px;
  }

  .call-to-action__nav-item {
    color: #cd36f5;
  }
  .call-to-action__link {
    color: #990099;
  }
  .call-to-action__nav-item--login {
    color: #fff;
    display: inline-block;
    padding: 1px 20px;
  }

  .copyright {
    background: #000;
    color: #fff;
  }

  .breadcrumbs {
    border: 0;
    a {
      font-weight: bold;
    }
  }

  .heading--profiles {
    padding: 30px 20px;
    background: #000;
    color: #fff;
    padding: 10px 0 30px 20px;
    font-size: $font-xx-large;
  }

}

@media only screen and (min-width: 600px) {
  html {
    background:#333;
  }
  body {
    max-width: 320px;
    margin: 0 auto;
  }
}
