
@media only screen and (min-width: 320px) {

  @import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

  html, body,
  h1, h2, h3, h4, h5, h6,
  input, select, textarea {
    font-family: 'Quicksand', sans-serif;
  }

  input[type="submit"] {
    line-height: 28px;
    border-radius: 14px;
    width: 100%;
  }

  .copyright {
    background: #000;
    color: #fff;
  }

  .breadcrumbs {
    border: 0;
    a {
      font-weight: bold;
    }
  }

  .surveys__title {
    color: #EF9955;
  }

  @import "_s-header";
  @import "_s-heading";
  @import "_s-menu";
  @import "_s-polls";
  @import "_s-article";
  @import "_s-article-list";
  @import "_s-comments";
  @import "_s-profiles";
  @import "_s-search";
  @import "_s-survey";
}

@media only screen and (min-width: 600px) {
  html {
    background:#333;
  }
  body {
    max-width: 320px;
    margin: 0 auto;
  }
}
