
.sub-category-list {
  padding: 10px 0;
  @media screen and (min-width: 480px) {
    padding: 10px;
  }
}

.sub-category-list__item {
  display: inline-block;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: auto;
  }
  a {
    font-size: 15px;
    display: block;
    padding: 0 10px 10px;
    @media screen and (min-width: 480px) {
      padding: 0;
    }
  }
}

.sub-navigation-list {}
.sub-navigation-list__item {
  display: inline-block;
    a {
      color: $black;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;

      &:after {
        content: ">";
        padding-left:5px;
      }
    }

  &:last-child {
    a:after {
      content: "";
    }
  }
}
