.latest-articles {
  overflow: hidden;
  position: relative;
}

.latest-article__title {
  background: $violet ;
  text-transform: uppercase;
  color: $black;
  padding: 5px 10px;
  @media screen and (min-width: 480px)  {
    padding: 20px 10px;
    background: transparent;
    color: $violet;
  }
}

.feature-image {
  a {
    display: block;
  }
}
