.latest-articles {
  overflow: hidden;
  position: relative;
  padding: 10px 0 10px 12px;
}

.article-title {
  padding: 10px 0;
  text-transform: uppercase;
  color: $violet;
}

.columns {
  width: 100%;
  float: left;
  overflow: hidden;
  margin: 15px 5% 0 0;
  @media screen and (min-width: 600px) {
    width: 45%;
    height: 235px;
  }
}

.feature-image {
  padding: 0 0 5px;
  a {
    display: block;
    img {
      @media screen and (min-width: 900px) {
        width: 100%;
        max-width: 135px;
        margin: 0 auto;
      }
    }
  }
}