.article-story-row {
  box-sizing: border-box;
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  @at-root #{&}--column {
      position: relative;
      float: left;
      padding: 10px;
      @media screen and (min-width: 480px) {
          width: 45%;
          margin-left: 4.5%;
          padding: 0;
          max-height: 208px;
          overflow: hidden;
          margin-bottom: 15px;
      }
      a {
        color: $black;
      }
  }
  p { margin: 0; }
}

.article-hero-row {
  padding: 10px;
  @media screen and (min-width: 480px) {
    padding: 0 10px 25px 10px;
  }
  a {
    color: $black;
  }
  p {
    margin: 0;
  }
}
