{% extends "base.html" %}
{% load i18n static core_tags %}

{% block content %}
<div class="title profile">
    <h3>{% trans "Join" %}</h3>
</div>
<div class="block turq">
  <div class="signin-form">
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    <form method="post" action="{% url 'molo.profiles:user_register' %}">{% csrf_token %}
        {{ registration_form.username }}
        {{ registration_form.password }}<br>
        <input type="submit" class="registerSubmit" value='{% trans "Register" %}' />
        <input type="hidden" name="next" value="{% url 'molo.profiles:auth_login' %}" />
    </form>
  </div>
</div>
{% endblock %}
