{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="title profile">
    <h3>Your Profile</h3>
</div>
<div class="signin-form">
  <h4>{{ username }}</h4>
  <label class="label-wide">{% trans "Display Name:" %}
    {{ alias }}
  </label>
  <label class="label-wide">{% trans "Date of Birth:" %}
    {{ date_of_birth | date:"M d, Y" }}
  </label>
    <p>
    <a href="{% url 'molo.profiles:edit_my_profile' %}" class="button inverted">{% trans "Edit My Profile" %}</a>
    <a href="{% url 'molo.profiles:profile_password_change' %}" class="button inverted">{% trans "Change My Password" %}</a>
  </p>
</div>
{% endblock %}
