
.article__title {
  font-size: $font-large;
  font-weight: bold;
  padding: 10px 20px 0;
}

.article__subtitle {
  padding: 0 20px 20px 20px;
}

.article__image {
  display: none;
}

.article__content {
  p, h3, h4, ul, ol {
    padding: 0 20px;
  }
  a {
    font-weight: bold;
  }
  h3, h4 {
    font-weight: bold;
  }

  ul li {
    list-style-position: inside;
    list-style-type: disc;
    p {
      padding: 0;
    }
  }

  ol {
    margin-left: 15px;
    padding: 0 20px 0 20px;
    li {
     list-style-position: outside;
     list-style-type: decimal;
     p {
        padding: 0;
      }
    }
  }
  .featured-articles {
    display: block;
    color: #000;
    padding: 0 20px 6px;
  }

  .featured-articles {
    display: block;
    color: #000;
    padding: 0 20px 6px;
  }
}
