
.call-to-action {
  padding: 5px 10px;
}
.call-to-action__nav-item,
.call-to-action__nav-item--challenge {
  font-size: $font-large;
}

.call-to-action__link {
  font-weight: bold;
  text-decoration: underline;
}

.call-to-action__nav-item--login {
  color: #fff;
  margin: 20px 10px;
  padding: 5px 20px;
  font-weight: normal;
  font-size: $font-medium;
  display: inline-block;
}

.call-to-action--surveys {
  padding: 15px 0 0 10px;
}

.call-to-action__nav-item--surveys {
  color: #000;
  text-decoration: underline;
}

.call-to-action__nav-item--back-home {
  padding: 10px 20px;
  display: block;
}

.profiles__forgotten-password {
  display: block;
}

.call-to-action--view-profile {
  .call-to-action__nav-item--logout,
  .call-to-action__nav-item--editprofile,
  .call-to-action__nav-item--change-password {
    text-decoration: underline;
    color: #000;
  }
}

.call-to-action__item-share {
  display: block;
  margin: 15px;
}
.call-to-action__item-share-title {
  font-size: 13px;
  display: inline-block;
  color: #fff;
}

.call-to-action__item-share--facebook {
  background: #3B5998;
  border: 1px solid #2C4376;
  border-radius: 5px;
  .call-to-action__item-share-img {
    border-right: 1px solid #2C4376;
  }
}
.call-to-action__item-share--twitter {
  background: #55ACEE;
  border: 1px solid #4086BB;
  border-radius: 5px;
  .call-to-action__item-share-img {
    border-right: 1px solid #4086BB;
  }
}
