.heading {
  padding: 10px 20px;
  margin: 5px 0 10px 0;
  font-size: $font-small;
  font-weight: bold;
  text-transform: uppercase;
  a {
    color: #000;
  }
}
.heading--auth,
.heading--profiles {
  border-top: 1px solid rgba(153,153,153,0.5);
  margin: 0;
  font-size: $font-large;
  padding: 15px 10px;
}
.heading--section-list {
  margin: 0;
}

.heading--subtitle {
  padding: 0;
  font-size: 14px;
}

.heading--yourwords {
  border-top: 1px solid #000;
}

.heading.heading--article,
.heading.heading--section {
  background: transparent;
  border-bottom: $border;
}

.featured-articles__heading {
  border-bottom: $border;
  border-color: #000;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 0 15px;
}

.call-to-action__nav-item--challenge-heading,
.call-to-action__nav-item--challenge {
  padding: 0 15px;
}


@each $name, $color in $color_list {
  .heading--#{$name} {
    background: $color;
  }

  .heading--section-list.heading--#{$name} {
    border-bottom-color: $color;
  }

  .heading--article.heading--#{$name} {
    border-bottom-color: $color;
  }
}
