.profiles {
  padding: 15px 20px 25px;
}
.profiles__terms {
  display:inline;
  width: auto;
  text-decoration: underline;
}
.profiles__forgotten-password {
  display: block;
}
.input-hint {
 font-weight: normal;
 color: #999;
}
