.yourwords {
  border-top: 1px solid #000;
  padding: 10px 0;
  .heading {
    padding: 10px;
    margin: 0;
    //font-size: $font-medium;
  }
  .heading--yourwords {
    border: none;
  }
  .heading--yourwords-subtitle {
    padding: 0 10px 20px;
  }

  label[for="id_terms_or_conditions_approved"],
  label[for="id_hide_real_name"] {
    display: inline;
  }

  input[type="checkbox"]  {
    display: inline;
  }

  .heading-container  {
    img {
      margin: 0;
      border-radius: 0;
      width: 100%;
    }
  }

  .yourwords--inner-content {
    img {
      margin: 0;
      padding: 10px 0;
    }
  }
  .call-to-action__nav-item--back-home {
    padding: 10px;
  }
}

.heading--yourwords-description {
  font-weight: normal;
   text-transform: none;
}

.competition__title,
.competition__title--description  {
  padding: 0 10px;
}

.yourwords--inner-content {
  padding: 0 10px;
  img {
    padding: 0;
  }
  .heading  {
    border: none;
    padding: 0;
  }
}

.yourwords-form {
  padding: 0 10px;
}

.alert-error {
  color: red;
}
