.article {
  word-wrap: break-word;
  padding-top: 10px;
}

.article-body {
  word-wrap: break-word;
  a {
    display: block;
    color: $black;
    font-weight: bold;
  }
}



.article-image-thumb {
  display: none;
    @media screen and (min-width: 480px) {
      display: block;
    }
}
