.heading {
  @media screen and (min-width: 480px) {
      padding: 10px 0;
  }
  color: $black;
  a {
    color: $black;
  }
}

.section-heading {
  text-transform: uppercase;
  padding: 10px 10px 0;
  a {
    text-decoration: none;
  }
}

@each $name, $color in $color_list {
  .article--#{$name} .heading {
    color: $color;
    text-transform: capitalize;
  }
  
  .section-heading--#{$name} {
    background: $color;
    color: $black;
    @media screen and (min-width: 480px) {
      background: none;
       color: $color;
    }

    a {
      color: $black;
      @media screen and (min-width: 480px) {
        color: $color;
      }
    }
  }
}
