{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="block turq">
  <div class="signin-form">
  <form method="post" id="frmProfilePasswordChange" class="profiles__form">
    {% csrf_token %}
    {% if form.errors or form.non_field_errors %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
      {% endif %}
    {% endif %}

    {% if messages %}
      <ul class="error-list">
          {% for message in messages %}
          <li class="error-list__item error">{{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}

    <fieldset>
      {{password_change_form.old_password}}
      {{password_change_form.old_password.errors}}
    </fieldset>
    <fieldset>
      {{password_change_form.new_password}}
      {{form.new_password.errors}}
    </fieldset>
    <fieldset>
      {{password_change_form.confirm_password}}
      {{form.confirm_password.errors}}
    </fieldset>
    <input type="submit" value='{% trans "Change Password" %}'>
  </form>
  </div>
</div>
{% endblock %}
