{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="profiles auth-tools">
  <form method="post" action="{% url "molo.profiles:edit_my_profile" %}" id="frmProfileEdit" class="profiles__form">
    {% csrf_token %}
      <fieldset>
    		<label for="id_alias">{% trans "Type new display name:" %}</label>
    	   {{ edit_profile_form.alias }}
  	  </fieldset>
      <fieldset>
      {% if settings.profiles.UserProfilesSettings.show_mobile_number_field and settings.profiles.UserProfilesSettings.country_code %}
        <label for="id_mobile_number">{% trans "Mobile number" %}</label>
        {{ edit_profile_form.mobile_number.errors }}
        <input type="text" name="mobile_number" id="mobile_numer" value="{{ user.profile.mobile_number | default:"Not set" }}" />
        <p class="input-hint">{% trans "Please add your mobile number. e.g. 0377222222" %}</p>
      </fieldset>
      {% endif %}

    <input type="submit" value='{% trans "Update profile" %}'>
  </form>
</div>
{% endblock %}
