{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="heading heading--auth">
	{% trans "Register" %}
</div>
<div class="auth-tools">

  <h5>{% trans "Thank you for joining!" %}</h5>
  <h5>{% trans "Let us know your birthday to get access to exclusive content." %}</h5><br>

  <form method="post" action="{% url 'molo.profiles:registration_done' %}">
      {% csrf_token %}
      {{ form.date_of_birth }}

      <input type="submit" value='{% trans "Save" %}' />
      <a href="/">{% trans "Skip" %}</a>
  </form>
</div>
{% endblock %}

{% block extra_js  %}
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','//connect.facebook.net/en_US/fbevents.js');

  fbq('init', '589200017912981');
  fbq('track', "PageView");

  / CompleteRegistration
  // Track when a registration form is completed (ex. complete subscription, sign up for a service)
  fbq('track', 'CompleteRegistration');

  </script>

  <noscript>
    <img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=589200017912981&ev=PageView&noscript=1"/>
  </noscript>

  <!-- End Facebook Pixel Code -->
{% endblock %}
