{% extends "base.html" %}
{% load i18n static core_tags wagtailsettings_tags %}
{% get_settings %}

{% block content %}
<h1 class="heading heading--auth">{% trans "Join" %}</h1>
<div class="call-to-action call-to-action--profile">
    <h5 class="call-to-action__nav-item call-to-action__nav-item--challenge-heading">
    {% trans "Not a member yet?" %}<br/>
    {% trans "Join by signing up below. " %}<br/>
    {% trans "Or" %}
    <a href="{% url 'molo.profiles:auth_login' %}" class="call-to-action__link">
    {% trans "log in now" %}</a>
    {% trans "if you've not already joined" %}
    </h5>
</div>
<div class="auth-tools">
  <form method="post" action="{% url 'molo.profiles:user_register' %}" class="profiles__form">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url 'molo.profiles:registration_done' %}" />

    <label for="id_username">{% trans "Username" %}</label>
    {{ form.username.errors }}
    {{ form.username }}
    <fieldset>
    <label for="id_password">{% trans "4 digit pin" %}</label>
    {{ form.password.errors }}
    {{ form.password }}
    <span class="input-hint">{% trans "Numbers only eg. 5656" %}</span>
    </fieldset>

    {% if settings.profiles.UserProfilesSettings.show_mobile_number_field %}
    <fieldset>
      <label for="id_mobile_number">{% trans "Mobile number" %}</label>
      {{ form.mobile_number.errors}}
      {{ form.mobile_number }}
    {% endif %}
    </fieldset>

    <fieldset class="auth-tools__tandcs">
      {{ form.terms_and_conditions }}
      <label for="id_terms_and_conditions">{% trans "I accept the terms and conditions" %}</label>
      {% if form.terms_and_conditions.errors %}
        <p class="error">{% trans "Please accept the T&amp;Cs in order to complete the registration" %}</p>
      {% endif %}
    </fieldset>
    <input type="submit" value="{% trans "Register" %}" />
  </form>
</div>
<div class="call-to-action call-to-action--profile">
    <h5 class="call-to-action__nav-item call-to-action__nav-item--challenge">
    {% trans "Already a member?" %}</h5>
     <a href="{% url 'molo.profiles:auth_login' %}" class="call-to-action__nav-item call-to-action__nav-item--login">
    {% trans "Log in" %}</a>
</div>
{% endblock %}
