{% extends "base.html" %}
{% load i18n wagtailsettings_tags %}
{% get_settings %}

{% block content %}
<h1 class="heading heading--auth">{% trans "Hello" %} {{ username }}</h1>
<div class="auth-tools">
  <form method="post" action="{% url 'molo.profiles:edit_my_profile' %}" class="profiles__form">
    {% csrf_token %}

    <label for="id_alias">{% trans "Nickname" %} <span>({% trans "Appears in comments" %})</span></label>
    <input type="text" name="alias" id="id_alias" value="{{ alias }}" />

    {% if settings.profiles.UserProfilesSettings.show_mobile_number_field %}
    <fieldset>
      <label for="id_mobile_number">{% trans "Mobile number" %}</label>
      {{ edit_profile_form.mobile_number.errors}}
      {{ edit_profile_form.mobile_number }}
      <span class="input-hint">{% trans "(eg: 260979000001)" %}</span>
    </fieldset>
    {% endif %}
    <input type="submit" value="{% trans "Update" %}">
  </form>
</div>

<div class="heading heading--auth">
  {% trans "Change 4 digit pin" %}
</div>
<div class="auth-tools">
  <form method="post" action="{% url 'molo.profiles:profile_password_change' %}" class="profile">
    {% csrf_token %}
    {% if form.errors or form.non_field_errors %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errorlist">{{ error }}</p>
        {% endfor %}
      {% endif %}
    {% endif %}
    {% if messages %}
      <ul class="error-list">
          {% for message in messages %}
          <li class="error-list__item error">{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    <div>
      <p>{% trans "Old Password:" %}</p>
      {{password_change_form.old_password}}
      <span>{{password_change_form.old_password.errors}}</span>
    </div>
    <div>
      <p>{% trans "New Password:" %}</p>
      {{password_change_form.new_password}}
      <span>{{form.new_password.errors}}</span>
    </div>
    <div>
      <p>{% trans "Confirm Password:" %}</p>
      {{password_change_form.confirm_password}}
      <span>{{form.confirm_password.errors}}</span>
    </div>
    <input type="submit" value='{% trans "Change Password" %}'>
  </form>
</div>
</div>
{% endblock %}
