{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags compress static core_tags i18n %}
{% load google_analytics_tags %}
{% block header %}
<div class="header" id="top">

    <a href="/"><img src="{% static 'old/img/logo-black.png' %}" alt="{% trans "TuneMe" %}" class="logo">
      <img src="{% static 'old/img/logo-white.png' %}" alt="{% trans "TuneMe" %}" class="logo hide white"></a>
    <div class="feature-menu">
        {% if not user.is_authenticated %}
        <a href="{% url 'molo.profiles:user_register' %}">{% trans "Join" %}</a>
        {% else %}
        <a href="{% url 'molo.profiles:view_my_profile' %}">{% trans "Profile" %}</a>
        {% endif %}
        <a href="#feature-menu">{% trans "Menu" %}</a>
    </div>

    <div class="search-icon">
      <a href="#search-form">{% trans "Search" %}</a>
    </div><!-- /search-icon -->

  <div class="menu">
    <div class="menuItem hide" id="login">
      {% if not user.is_authenticated %}
        <a href="{% url 'molo.profiles:user_register' %}"><span >{% trans "Join" %}</span ></a>
      {% else %}
        <a href="{% url 'molo.profiles:view_my_profile' %}"><span >{% trans "Profile" %}</span ></a>
      {% endif %}
    </div>
    <div class="mainMenu menuItem hide" id="pages">
      <span>{% trans "Menu" %}</span>
      <div class="content">
        <ul>
          {% load_sections as sections %}
          {% for section in sections %}
            <li class="{{section.get_effective_extra_style_hints}}">
                <a href="{% pageurl section %}">
                  {% image section.image width-40 %}
                  <div>{{section.title}}</div>
                </a>
            </li>
          {% endfor %}
          {% if user.is_authenticated %}
              <li class="pgrey">
              <a href="{% url 'molo.profiles:view_my_profile' %}">
                <img src="{% static 'old/img/profile.png' %}" width="40">
                <div>{% trans "Your Profile" %}</div>
              </a>
              </li>
          {% endif %}
        </ul>
        <div class="search-form">
          <form action="{% url 'search' %}">
            <input placeholder="{% trans "Looking for something?" %}" name="q" type="text" value="{{search_query}}">
            <input type="submit" value="{% trans "Search"%}">
          </form>
        </div>
      </div>
    </div><!-- /menuItem -->
  </div><!-- /menu -->

</div><!-- /header -->
{% endblock %}

{% block search %}
  {% include "search/search_block.html" %}
{% endblock %}

{% block footer %}

<div id="feature-menu">
    <ul>
        <li><a href="/">{% trans "HOME" %}</a></li>
        {% if ENABLE_SERVICE_DIRECTORY %}
        <li>
          <a href="{% url 'molo.servicedirectory:home' %}">{% trans "Find a service" %}</a>
          <span>{% trans "Find me a clinic" %}</span>
        </li>
        {% endif %}
        {% load_sections as sections %}
        {% for section in sections %}
          <li class="{{section.get_effective_extra_style_hints}}">
            <a href="{% pageurl section %}">{{section.title}}</a>
          </li>
        {% endfor %}
    </ul>
</div><!-- /feature-menu -->

<div class="footer">
    {% if languages %}
      <ul>
      <strong>{% trans "Site Language:" %}</strong>
      {% get_current_language as LANGUAGE_CODE %}
      {% for language in languages %}
        <a href="{% url 'locale_set' language.locale %}?next={{request.path}}?{{ request.GET.urlencode }}">{{language}}</a>
      {% endfor %}
      </ul>
    {% endif %}
    {% footer_page %}
</div>
{% if GOOGLE_TAG_MANAGER_ACCOUNT %}
    <!-- Google Tag Manager -->
     <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{GOOGLE_TAG_MANAGER_ACCOUNT}}&client_session_id={{request.session.MOLO_GA_SESSION_FOR_NOSCRIPT}}&page_title={% if self.seo_title %}{{ self.seo_title|urlencode }}{% else %}{{ self.title|urlencode }}{% endif %}{%if request.META.HTTP_X_IORG_FBS_UIP %}&freebasics_uip={{request.META.HTTP_X_IORG_FBS_UIP}}{%endif%}"
     height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
     <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
     new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
     '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
     })(window,document,'script','dataLayer','{{GOOGLE_TAG_MANAGER_ACCOUNT}}');</script>
    <!-- End Google Tag Manager -->
  {% endif %}

  {% if settings.core.SiteSettings.global_ga_tag_manager %}
    <!--Global Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{settings.core.SiteSettings.global_ga_tag_manager}}&client_session_id={{request.session.MOLO_GA_SESSION_FOR_NOSCRIPT}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{settings.core.SiteSettings.global_ga_tag_manager}}');</script>
    <!-- End Global Google Tag Manager -->
  {% endif %}
  {% if settings.core.SiteSettings.global_ga_tracking_code %}
        <div style="display:none">
            <img src="{% google_analytics settings.core.SiteSettings.global_ga_tracking_code %}" width="0" height="0" />
        </div>
        <!-- Global End Google Tracking Code -->
        {% endif %}

        {% if settings.core.SiteSettings.local_ga_tracking_code %}
        <div style="display:none">
            <img src="{% google_analytics settings.core.SiteSettings.local_ga_tracking_code %}" width="0" height="0" />
        </div>
        <!-- Local End Google Tracking Code -->
        {% endif %}

{% endblock %}
