{% extends "_base.html" %}

{% load wagtailcore_tags wagtailimages_tags compress static core_tags i18n %}

{% block header %}
<div class="header" id="top">

    <a href="/"><img src="{% static 'img/logo-black.png' %}" alt="{% trans "TuneMe" %}" class="logo">
      <img src="{% static 'img/logo-white.png' %}" alt="{% trans "TuneMe" %}" class="logo hide white"></a>
    <div class="feature-menu">
        {% if not user.is_authenticated %}
        <a href="{% url 'molo.profiles:user_register' %}">{% trans "Join" %}</a>
        {% else %}
        <a href="{% url 'molo.profiles:view_my_profile' %}">{% trans "Profile" %}</a>
        {% endif %}
        <a href="#feature-menu">{% trans "Menu" %}</a>
    </div>

    <div class="search-icon">
      <a href="#search-form">{% trans "Search" %}</a>
    </div><!-- /search-icon -->

  <div class="menu">
    <div class="menuItem hide" id="login">
      {% if not user.is_authenticated %}
        <a href="{% url 'molo.profiles:user_register' %}"><span >{% trans "Join" %}</span ></a>
      {% else %}
        <a href="{% url 'molo.profiles:view_my_profile' %}"><span >{% trans "Profile" %}</span ></a>
      {% endif %}
    </div>
    <div class="mainMenu menuItem hide" id="pages">
      <span>{% trans "Menu" %}</span>
      <div class="content">
        <ul>
          {% load_sections as sections %}
          {% for section in sections %}
            <li class="{{section.get_effective_extra_style_hints}}">
                <a href="{% pageurl section %}">
                  {% image section.image width-40 %}
                  <div>{{section.title}}</div>
                </a>
            </li>
          {% endfor %}
          {% if user.is_authenticated %}
              <li class="pgrey">
              <a href="{% url 'molo.profiles:view_my_profile' %}">
                <img src="{% static 'img/profile.png' %}" width="40">
                <div>{% trans "Your Profile" %}</div>
              </a>
              </li>
          {% endif %}
        </ul>
        <div class="search-form">
          <form action="{% url 'search' %}">
            <input placeholder="{% trans "Looking for something?" %}" name="q" type="text" value="{{search_query}}">
            <input type="submit" value="{% trans "Search"%}">
          </form>
        </div>
      </div>
    </div><!-- /menuItem -->
  </div><!-- /menu -->

</div><!-- /header -->
{% endblock %}

{% block search %}
  {% include "search/search_block.html" %}
{% endblock %}

{% block footer %}

<div id="feature-menu">
    <ul>
        <li><a href="/">{% trans "HOME" %}</a></li>
        {% load_sections as sections %}
        {% for section in sections %}
          <li class="{{section.get_effective_extra_style_hints}}">
            <a href="{% pageurl section %}">{{section.title}}</a>
          </li>
        {% endfor %}
    </ul>
</div><!-- /feature-menu -->

<div class="footer">
    {% if languages %}
      <ul>
      <strong>{% trans "Site Language:" %}</strong>
      {% get_current_language as LANGUAGE_CODE %}
      {% for language in languages %}
        <a href="{% url 'locale_set' language.locale %}?next={{request.path}}?{{ request.GET.urlencode }}">{{language.title}}</a>
      {% endfor %}
      </ul>
    {% endif %}
    {% footer_page %}
</div>

{% endblock %}
