

.turq a.button.inverted,
.signin-form a.button.inverted {
    color: #21e0d8;
    background: white;
    border-color: #21e0d8;
}

.purple a.button.inverted {
    color: #d127fc;
    background: white;
    border-color: #d127fc;
}

.pink a.button.inverted {
    color: #f82353;
    background: white;
    border-color: #f82353;
}

.orange a.button.inverted {
    color: #ff7c44;
    background: white;
    border-color: #ff7c44;
}

.yellow a.button.inverted {
    color: #fad400;
    background: white;
    border-color: #fad400;
}

.grey a.button.inverted {
    color: #666666;
    background: white;
    border-color: #666666;
}

.magenta a.button.inverted {
    color: #e60382;
    background: white;
    border-color: #e60382;
}

button.smiley.sad {
    background: url(/static/img/Not-helpful.png);
    border: 0;
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
}

button.smiley.sad:hover {
    background: url(/static/img/Active-not-helpful.png);
    background-size: 100%;
}

button.smiley.sad:after {
    border: 0!important;
}

button.smiley.sad:before {
    border: 0!important;
}

button.smiley.neutral {
    background: url(/static/img/Im-neutral.png);
    border: 0;
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
}

button.smiley.neutral:hover {
    background: url(/static/img/Active-im-neutral.png);
    background-size: 100%;
}

button.smiley.neutral:after {
    height: 0!important;
}

button.smiley.neutral:before {
    border: 0!important;
}

button.smiley.happy {
    background: url(/static/img/Very-helpful.png);
    border: 0;
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
}

button.smiley.happy:hover {
    background: url(/static/img/Active-very-helpful.png);
    background-size: 100%;
}

button.smiley.happy:after {
    border: 0!important;
}

button.smiley.happy:before {
    border: 0!important;
}