ul.errorlist {
  padding-left:0;
  margin-bottom: 16px;
}

.error, .errorlist {
  list-style: none;
  margin: 0;
  text-align: left !important;
  display: block;
  color: #ff4b4b !important;
  background: #fff;
  line-height: 18px !important;
}

.error:before, .errorlist li:before, p.errorlist:before {
  content: " ";
  display: inline-block;
  background: red;
  width: 16px;
  height: 16px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAB3ElEQVR4nL2Wr2+rUBiGHw5VkLQNTerGP0DwiCr01IJAzC6pnJ9YEPjJJrMIBJmaRuOb/gNdZppA2iatgnAFu13vTVfoD/aoL+Q973sOOV/OJ5VlyRGKgumUJGE+J8tIUyQJTUPT0HUsC9NElo8YSD8GrFaEIXHMZnNsB6qKbeO69HqNA/KcKOLtje32mPU+isLdHY5Dp1MXsF7j+8xmTa33MQyenuh2fw74+OD5mcXiHPeK4RDP4+bmUMB6zePjRe67jJeX3TnE19c8x/ev4A4sFvg+ef5vQBSd+d8PMpsRRVUplWXJasXDQ/2deX//rm9va8SKwusrvZ4ACMMTbmRDtlvCEBAUBXF8ZfeKOKYoBNNpTa+ezWbDdCpIklbcK5JEMJ+3GDCfC9K0xYA0FWRZiwFZJupFlyBJAk1rMUDTOgwGfH42Utd276EAga6fvKw5ui6wrKbq0YggIAgYjZousSyBaaKqjdTjMf0+/T7jcSO9qmKaAlnGtpvu6CRsG1kWAK6LotQvmExYLlkumUzqxYqC6/L9ZIYhQXDRfv/j/r4K+NtojoNhXM3dMHCcqvy1Rx/odvE8hsNL3T1vfzT65cGrot3RcUeLw+8+++N7mn49HprGYNBwfP8DIHXTMe4wtWYAAAAASUVORK5CYII=');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 50%;
  vertical-align: middle;
  margin-right: 8px;
}