{% extends "core/_article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags i18n %}

{% block content %}

<div class="title {{article.get_parent_section.get_effective_extra_style_hints}}">

</div>

<div class="block">
  <h4 class="left">Thanks</h4>
  <div class="article-copy">
    <p><strong>This comment has been reported.</strong>
    Someone from the Tune Me team will review the comment and remove it if
    it contravenes our Terms of Use</p>
  </div>
</div>
{% endblock %}
