
.footer-content {
  border-top: 1px solid #ddd;
  color: $santas_gray;
  @media screen and (min-width: 480px) {
    border: none;
    margin-top: 20px;
  }
  a {
    color: $santas_gray;
    text-decoration: underline;
    @media screen and (min-width: 480px) {
      border: none;
    }
  }
}

.footer-menu-list {
  font-size: 14px;
  padding: 5px 0;

  @at-root #{&}__item  {
    display: inline-block;
    padding-right: 10px;
  }
}

.language-title {
  margin: 0;
}
