
.footer-menu {
  background: $white;
  @media screen and (min-width: 600px) {
    background: $black;
    display: block;
  }

  .main-menu-nav-list__item--home,
  .main-menu-nav-list__item--backtotop {
    display: block;
    @media screen and (min-width: 600px) {
       display: none;
    }
  }

  .menu-profiles {
    display: block;
    @media screen and (min-width: 600px) {
       display: none;
    }
  }
}

.footer-menu-list {
  font-size: 15px;
  margin: 0;
  padding: 0;

  p {
      margin: 0;
  }
}

.footer-menu-list__item , .footer-page-list__item {
  display: inline-block;
  padding-right: 10px;
}

.footer-page-list {
  font-size: 80%;
  padding: 10px 0 15px;
}

.copyright {
  font-size: 9px;
}

.footer-menu-list, .footer-page-list {
  a {
     text-decoration: underline;
  }

  a .active {
    text-decoration: none;
    font-weight: 400;
  }
}