
.footer-menu {
  background: $white;
  text-align: left;
  @media screen and (min-width: 600px) {
    background: $black;
    display: block;
  }

  a {
     text-decoration: underline;
     @media screen and (min-width: 600px) {
       text-decoration: none;
     }
  }

  .main-menu-nav-list__item--home,
  .main-menu-nav-list__item--backtotop {
    display: block;
    @media screen and (min-width: 600px) {
       display: none;
    }
  }
}