.languages {
   background: $black;
   color: $white;
   overflow: hidden;
   padding: 0 20px 25px;
   display: none;
    @media screen and (min-width: 480px) {
      display: flex;
    }
}

.article-language-container {
  .languages {
    background: $white;
    color: $black;
    padding: 0 10px;
  }

  .language-list {
    @at-root #{&}__item a {
      background: $wild_sand;
      color: $black;
      font-weight: bold;
    }

    @at-root #{&}__item a.active {
        background: #cf25f8;
    }
  }
}

.language-list {
  @at-root #{&}__item {
    display: inline-block;
    margin: 8px 0;
    font-size: 14px;
    a {
      color: white;
      padding: 5px 10px;
      background: $grey;
      border-radius: 12px;

      font-weight: bold;
      text-transform: capitalize;
    }
    a.active {
      background: #cf25f8;
    }
  }
}
