
.menu-button {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  z-index: 12;
  color: white;
  cursor: pointer;
  text-decoration: underline;

  @media screen and (min-width: 600px) {
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
  }
}
