

.main-menu-nav-list {
    padding: 10px 0;
    margin: 0;
}

.main-menu-nav-list__item  {
  overflow: hidden;
  margin: 15px 0;
  display: flex;

  &:last-child {
    .main-menu-nav-list__item--title {
      border-bottom: none;
    }
  }

  a {
    color: $santas_gray;
    display: block;
    text-transform: capitalize;
    padding: 20px 10px;
    font-weight: bold;
    @media screen and (min-width: 600px)  {
      color: $white;
      text-transform: uppercase;
      padding: 15px 10px;
    }
  }
  .section-link {
      color: $black;
  }
}

.menu-profiles {
  margin: 0;

  a {
    color: $black;
    padding: 5px 10px;
    @media screen and (min-width: 600px) {
      padding: 10px 10px;
      color: $white;
    }
  }
}

.main-menu-nav-list__item--title {
    font-size: 17px;
    vertical-align: top;
    float: left;
    width: 100%;

    @media screen and (min-width: 600px) {
       border-top-right-radius: 25px;
       border-bottom-right-radius: 25px;
       width: 50%;
       max-height: 51px;
    }
}

.main-menu-nav-list__item--home,
.main-menu-nav-list__item--backtotop {
  border-bottom: 1px solid #ddd;
  @media screen and (min-width: 600px) {
    border: none;
  }
}

.main-menu-nav-list__item--backtotop a {
  font-size: 14px;
}

.main-menu-nav-list__item--subtitle {
  display: none;
  color: $white;
  padding-left: 5%;

  @media screen and (min-width: 600px) {
    display: block;
    float: right;
    width: 45%;
  }
  span {
    display: block;
    vertical-align: middle;
    font-size: 15px;
  }
}


@each $name, $color in $color_list {
  .main-menu-nav-list__item--#{$name} .main-menu-nav-list__item--title {
    background: transparent;
    border-bottom: 1px $color solid;
    @media screen and (min-width: 600px) {
     background-color: $color;
     border: none;
    }
  }
}
