
.sub-navigation {
  padding: 10px 0;
}

.sub-navigation-list {

}

.sub-navigation-list__item {
  display: inline-block;
    a {
      color: $black;
      font-size: 110%;
      font-weight: bold;
      text-transform: uppercase;

      &:after {
        content: ">";
        padding-left:5px;
      }
    }

  &:last-child {
    a:after {
      content: "";
    }
  }
}