
.footer-menu-list__title {
}

.footer-menu-list {
  font-size: 15px;
}

.footer-menu-list__item {
  display: inline-block;
}

.footer-page-list {
  font-size: 80%;
  padding: 10px 0 15px;
}

.footer-page-list__item {
  display: inline-block;
}

.copyright {
  font-size: 60%;
}