
.footer-menu-list {
  font-size: 110%;
  font-weight: bold;
}

.footer-menu-list__item {
  display: inline-block;
}

.footer-page-list {
  font-size: 80%;
  padding: 10px 0;
}

.footer-page-list__item {
  display: inline-block;
}

.copyright {
  font-size: 60%;
}