.languages {
   background: black;
   color: #ffffff;
  overflow: hidden;
}

.language-list__item {
    display: inline-block;
    margin: 0 0 15px 0;
    a {
      color: white;
      padding: 5px;
      background: gray;
      border-radius: 15px;
    }

    a.active {
      background: #cf25f8;
    }
}