.languages {
   background: black;
   color: #ffffff;
   overflow: hidden;
   padding: 0 25px 20px;
   display: flex;
}

.language-list__item:first-child {
  margin-right: 5px;
}

.language-list__item {
    display: inline-block;
    margin: 5px 0;
    a {
      color: white;
      padding: 5px 10px;
      background: gray;
      border-radius: 15px;
      text-transform: capitalize;
    }

    a.active {
      background: #cf25f8;
    }
}