
.section-body {
  padding-bottom: 25px;
}

.sub-category-list {}

.sub-category-list__item {
  display: inline-block;
  a {
    font-size: 15px;
  }
}

.float-right {
  float: right;
}

.sub-navigation-list {}
.sub-navigation-list__item {
  display: inline-block;
    a {
      color: $black;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;

      &:after {
        content: ">";
        padding-left:5px;
      }
    }

  &:last-child {
    a:after {
      content: "";
    }
  }
}

.article-row {
  overflow: hidden;
  @media screen and (min-width: 600px) {
    display: flex;
  }
}

.text-article-col {
  vertical-align: middle;
  width: 135%;
  a {
    text-decoration: none;
  }
}

.article-column {
  width: 100%;
}

.profile-subtitle {
  text-transform: uppercase;
  a {

  }
}


@each $name, $color in $color_list {
  .sub-category-list--#{$name} .sub-category-list__item a {
    color: $color;
    text-transform: uppercase;
    font-weight: 600;
  }
}

