.search-form {
  padding: 0;
  background:black;
  text-align: center;
  width: 100%;

  form {
    padding: 15px 0;
  }
}

.search-form input {
  width:80%;
  background:black;
  color: white;
  text-align: center;
  margin:0 0 15px;
}

.search-form input[type='submit'] {
  width:86%;
  margin: 0 0 20px;
  padding:10px 25px;
  border:0; color:black;
  background:white;
}

.search-block {
  margin: 0 75px 0 -135px;
  position: relative;
  padding-top: 25px;
  z-index: 12;

  @media screen and (min-width: 600px) {
    margin:0 95px 0 -45px ;
  }
}


.login-icon,
.search-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: black;
  text-indent: -999em;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  z-index: 12;

  text-align: center;

  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.search-icon {
  @media screen and (min-width: 600px) {
    background: #000000 url(/static/img/search.png) center center no-repeat;
    background-size:15px;
    display: block;
    color: white;
  }
}

.login-icon  {
  background: #000000 url(/static/img/user.png) center center no-repeat;
  background-size:15px;
}