
.search-form {
  background:black;
  text-align: center;
  width: 100%;
  position: relative;
  padding: 10px 0 0;

  input {
    width: 90%;
    padding: 15px;
    display: inline-block;
    font-size: 95%;
    background: #f7f7f7;
    border: none;
    border-radius: 25px;
    text-align: left;
  }

 input[type='submit'] {
    background: url(/static/img/search-black.png) center center no-repeat;
    display: block;
    width: 60px;
    height: 57px;
    position: absolute;
    top: 5px;
    background-size: 25px;
    text-indent: -999em;
    right: 0;
    @media screen and (min-width: 992px) {
       right: 5%;
    }
  }
}
