
.section-body {
  padding-bottom: 25px;
}

.sub-navigation-list {}
.sub-navigation-list__item {
  display: inline-block;
    a {
      color: $black;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;

      &:after {
        content: ">";
        padding-left:5px;
      }
    }

  &:last-child {
    a:after {
      content: "";
    }
  }
}

.article-row {
  overflow: hidden;
  @media screen and (min-width: 600px) {
    display: flex;
  }
}

.text-article-col {
  vertical-align: middle;
  width: 135%; //Investigate flexbox 2 cloumn float
  a {
    text-decoration: none;
  }

  .comments-count {
    color: $light_gray;
    text-transform: capitalize;
    font-size: 14px;
    a {
      color: $light_gray;

    }
  }
}

.article-column {
  width: 100%;
}
