
.search-container {
  background: black;
  color: #ffffff;
}

.search-block {
  padding-right: 0.5em;
  z-index: 12;
  @media screen and (min-width: 600px) {
    padding: 0;
  }
}

.search-title {
  text-align: left;
  word-wrap: break-word;
}

