
.section-article-list {
  padding: 10px;
  @at-root #{&}__item {
    overflow: hidden;
    padding-bottom: 10px;
    @media screen and (min-width: 480px) {
      display: flex;
    }
  }
}

.section-article-list__item--image {
  @media screen and (min-width: 480px) {
    padding-right: 20px;
  }
}

.section-article-list__item-description {
  vertical-align: middle;
  a {
    text-decoration: none;
    color: $black;
  }
  p {
    margin: 0;
  }
}
