{% extends "base.html" %}
{% load i18n %}

{% load static core_tags %}

{% block content %}

<div class="title {{question.get_effective_extra_style_hints|default:"orange"}}">
	<div class="icon"><img src="{% static 'img/polls.png' %}" alt="Have Your Say"></div>
	<h6><a href="">{% trans "Have Your Say" %}</a></h6>
</div>
<div class="block {{question.get_effective_extra_style_hints|default:"orange"}}">
	<h3>{{ question.title }}</h3>
	{% if form.choice.errors %}<p><strong>{{form.choice.errors|join:", " }}</strong></p>{% endif %}
		<form action="{% url 'molo.polls:vote' question.id %}" method="post">
			{% csrf_token %}
				<div class="radios">
					{% for choice in question.choices %}
						<div>
							{% if question.allow_multiple_choice%}
								<input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
								<label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
							{% else %}
								<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
								<label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
							{% endif %}
						</div>
					{% endfor %}
				</div>
				<div>
					<input type="submit" class="submit-button" value="{% trans "Vote" %}"/>
					<hr>
  				<a href="{{request.site.root_page.url}}" class="button inverted">{% trans "Home" %}</a>
				</div>
		</form>
</div>
{% endblock %}
