{% load i18n static %}
{% block content %}
	{% if questions %}
		{% for question in questions %}
		<h2>{% trans "What's your opinion?" %}"</h2>
		<div class="block turq">
			<div class="title">
				<div class="icon"><img src="{% static 'img/pie.png' %}" alt="Have Your Say"></div>
				<h6><a href="">{% trans "Have Your Say" %}</a></h6>
			</div>
			<h3>{{ question.title }}</h3>
				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
					<form action="{% url 'vote' question.id %}" method="post">
						{% csrf_token %}
				<div class="radios">
						{% for choice in question.choices %}
							<div>
							    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
							    <label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
							</div>
						{% endfor %}
				</div>
							<input type="submit" value="{% trans "Vote" %}" />
					</form>
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}
