{% load i18n static poll_votings %}
{% block content %}
	{% if questions %}
		{% for question in questions %}
			<div class="block {{question.get_effective_extra_style_hints|default:"orange"}}">
				{% if forloop.first %}
				<div class="title">
					<div class="icon"><a href="{% url 'molo.polls:results' question.id %}"><img src="{% static 'img/polls.png' %}" alt="Have Your Say"></a></div>
						<h6><a href="{% url 'molo.polls:results' question.id %}">{% trans "Have Your Say" %}</a></h6>
				</div>
				{% endif %}
				<h3>{{ question.title }}</h3>
					{% if question.freetextquestion %}
						{% include 'polls/includes/poll_free_text_form.html'%}
					{% else %}
						{% include 'polls/includes/poll_question_form.html'%}
					{% endif %}
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
