{% load i18n static poll_votings %}
{% block content %}
    <div class="poll-section poll-section{{ question.get_effective_extra_style_hints|default:"--default"}} l-indent">
        {% if questions %}
            {% for question in questions %}
                {% if forloop.first %}
                    <h2 class="poll-title f-bigger">{% trans "Your opinion" %}</h2>
                {% endif %}
                <h3 class="question-title">{{ question.title }}</h3>
                {% if question.freetextquestion %}
                        {% include 'polls/includes/poll_free_text_form.html' %}
                {% else %}
                        {% include 'polls/includes/poll_question_form.html' %}
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
