{% load i18n static poll_votings %}
{% block content %}
    <div class="poll-section">
        {% if questions %}
            {% for question in questions %}
            {% if forloop.first%}
                <h2 class="f-medium l-indent">{% trans "Your opinion" %}</h2>
                {% endif %}
                <div class="block {{question.get_effective_extra_style_hints|default:"orange"}}">
                    <h3 class="l-indent ">{{ question.title }}</h3>
                        {% if question.freetextquestion %}
                            <div class="l-indent">
                                {% include 'polls/includes/poll_free_text_form.html'%}
                            </div>
                        {% else %}
                            <div class="l-indent">
                                {% include 'polls/includes/poll_question_form.html'%}
                            </div>
                        {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
