{% load wagtailcore_tags core_tags wagtailimages_tags comments competition_tag i18n %}
{% for section in sections %}
  {% load_descendant_articles_for_section section featured_in_homepage=True count=2 as featured_articles %}
  {% if featured_articles %}
  <h1 class="heading heading{{section.get_effective_extra_style_hints}}">
    <a href="{% pageurl section %}">{{section.title}}</a>
  </h1>
  <ul class="article-list article-list--section-listing article-list{{section.get_effective_extra_style_hints}}">
    {% for article in featured_articles %}
    <li class="article-list__item">
      <a href="{% pageurl article %}" class="article-list__item--anchor">
      {% if article.image %}
        {% image article.image width-98 jpegquality-70 as tmp_photo_small %}
        {% image article.image width-320 jpegquality-70 as tmp_photo_large %}
          <img src="{{ tmp_photo_small.url }}" srcset="{{ tmp_photo_large.url }}" class="article-list__image" alt="{{ article.image.title }}" width="100%" height="auto"/
      {% endif %}
      <h2 class="article-list__title">{{article.title}}</h2>
      {% if article.subtitle %}
      <h4 class="article-list__subtitle">{{article.subtitle}}</h4>
      {% endif %}
      </a>

      {% load_tags_for_article article as navigation_tags %}
      {% if navigation_tags %}
        <div class="article-list__item--age-tag">
          {% for tag in navigation_tags  %}
            <span>{{ tag }}</span>
          {% endfor %}
        </div>

        {% if settings.core.SiteSettings.enable_tag_navigation %}
          <div class="article-list__item--age-tag">
            {% for tag in navigation_tags  %}
              <span>{{ tag }}</span>
            {% endfor %}
          </div>
        {% endif %}

        {% if settings.core.SiteSettings.enable_clickable_tags %}
          <div class="article-list__item--age-tag">
            {% for tag in tags %}
              <span>{{ tag.title }}</span>
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}


    </li>
    {% endfor %}
    <li class="article-list__item article-list__item--more"><a href="{% pageurl section %}" class="article-list__item--more-anchor">{% trans "More" %}</a></li>
  </ul>
  {% your_words_competition_in_section section %}
  {% endif %}
{% endfor %}
