{% load i18n %}
{% block content %}
	{% if questions %}
		{% for question in questions %}
		<div class="block turq">

			<div class="title">
				<div class="icon"><img src="img/pie.png" alt="Image Title"></div>
				<h6><a href="">{% trans "Have your say" %}</a></h6>
			</div>

			<h3><a href="speak-out.html">{{ question.title }}</a></h3>

				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
				<div class="radios">

					<form action="{% url 'vote' question.id %}" method="post">
						{% csrf_token %}
						{% for choice in question.choices %}
							<div>
							    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
							    <label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
							</div>
						{% endfor %}
						<div>
							<input type="submit" value="{% trans "Vote" %}" />
						</div>
					</form>
				</div><!-- /radios -->
		</div><!-- /block -->
		{% endfor %}
	{% endif %}
{% endblock %}
