{% load i18n %}
{% block content %}
	{% if questions %}
		{% for question in questions %}
			<div class="block grey">
				<h6 class="speak"><a href="">{% trans "SPEAK OUT" %}</a></h6>
				<h2>{{ question.title }}</h2>
				{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
				<div class="radios">

					<form action="{% url 'vote' question.id %}" method="post">
						{% csrf_token %}
						{% for choice in question.choices %}
							<div>
							    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
							    <label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
							</div>
						{% endfor %}
						<div>
							<input type="submit" value="{% trans "Vote" %}" />
						</div>
					</form>
				</div><!-- /radios -->
		</div><!-- /block -->
		{% endfor %}
	{% endif %}
{% endblock %}
