{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags comments molo_commenting_tags core_tags i18n mptt_tags %}
{% block content %}
<div class="breadcrumbs">
  {% block breadcrumbs %}
    {% breadcrumbs %}
  {% endblock %}
</div>
<h1 class="heading heading--comment">{% trans "Comments" %}</h1>
<div class="comments">
  <div id="comments-list" class="comments__list">
    {% for node in comments %}
    {% recursetree node %}
      {% include "comments/comment.html" %}
      {{ children }}
    {% endrecursetree %}
    {% endfor %}
  </div>
  {% include "patterns/basics/pagination/pagination-comments.html"%}
</div>
<a href="{% pageurl self %}">
  {% trans "Back to article" %}</a>
{% endblock %}
