{% extends "core/_article_page.html" %}

{% load wagtailcore_tags wagtailimages_tags comments molo_commenting_tags i18n mptt_tags %}

{% block content %}
<div class="article">
    <h1 class="article-heading article-heading{{self.get_parent_section.get_effective_extra_style_hints}} f-large">
    <h3 class="f-bigger">{% trans "Comments" %}</h3>

    <div id="comments-list">
          {% for node in comments %}
            {% recursetree node %}
                {% include "comments/comment.html" %}
                {{ children }}
            {% endrecursetree %}
          {% endfor %}
    </div>
</div>
<div class="navigator">
    {% if page.has_previous %}
        <a href="?p={{ page.previous_page_number }}">&lt;&ndash;&ndash;&ndash;</a>
    {% endif %}
    <span class="padding">
        {{ page.number }} of {{ page.paginator.num_pages }}
    </span>
    {% if page.has_next %}
        <a href="?p={{ page.next_page_number }}">&ndash;&ndash;&ndash;&gt;</a>
    {% endif %}
</div>
<div class="pagination">
    <a href="{% pageurl self %}">{% trans "Back to article" %}</a>
</div>

{% endblock %}
