{% extends "base.html" %}
{% load wagtailcore_tags core_tags mptt_tags comments molo_commenting_tags i18n %}

{% block content %}
{% get_comments_content_object for form as self %}
<div class="breadcrumbs">
  {% block breadcrumbs %}
    {% breadcrumbs %}
  {% endblock %}
</div>
<h1 class="heading heading--comment">Join The discussion</h1>
<div class="comments">
  {% include "comments/comment.html" with node=comment do_not_link_replies=True %}
  {% if do_not_link_replies or node.get_children.count == 0 %}
    <h6 class="comments__body-title">
      {% if page == 1 %}
        {% trans "Recent replies" %}
        {% else %}
        {% trans "Earlier replies" %}
      {% endif %}
    </h6>
  {% endif %}
  {% for node in replies reversed %}
    {% include "comments/comment.html" %}
  {% endfor %}
  {% include "patterns/basics/pagination/pagination-comments_replies.html"%}

  <h1 class="heading heading--comment heading--comment-reply-form">Comment</h1>
  {% if request.user.is_authenticated %}
    {% include "comments/form.html" with node=comment %}
  {% else %}
    <p class="comments__call-to-action">{% trans "Please" %}
    <a href="{% url 'molo.profiles:auth_login' %}?next={{ request.path }}">{% trans "log in" %}</a>
    {% trans " to leave a comment." %}</p>
  {% endif %}
</div>
{% endblock %}
