{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="title profile">
		<h3>{% trans "Sign in" %}</h3>
	</div>

	<div class="block turq">
		<div class="signin-form">
			<h5>{% trans "LOGIN TO YOUR ACCOUNT!" %}</h5>
			<p>{% trans "We’re excited to have you..." %}</p>
	    <form method="post" action=".">{% csrf_token %}
	        {% if form.errors %}
	            <p class="error errorlist">{% trans "Your username and password does not match. Please try again." %}</p>
	        {% endif %}
					<p>{% trans "Username" %}</p>
					{{form.username}}
					<p>{% trans "Password" %}</p>
					{{form.password}}
					<input type="submit" value="{% trans 'Sign in' %}">
					<input type="hidden" name="next" value="{{request.site.root_page.url}}" />
	    </form>
		</div>
		<a href="{% url 'molo.profiles:user_register' %}" class="button inverted">{% trans "Not a member yet" %}</a>
	</div>
{% endblock %}
