{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="profiles">
  <h1 class="heading heading--auth">{% trans "Log in" %}</h1>
  <div class="call-to-action call-to-action--profiles">
    <h5 class="call-to-action__challenge-title">
      {% trans "Don't have an account yet?" %}
      <a href="{% url 'molo.profiles:user_register' %}" class="call-to-action__nav-item  call-to-action__nav-item--link">
      {% trans "Sign up" %}</a>
    </h5>
  </div>
  <form method="post" class="profiles__form">
  {% csrf_token %}
    <input type="hidden" name="next" value="{% if not request.GET.next %}/{% else %}{{ request.GET.next }}{% endif %}" />
    {% if form.errors %}
      <p class="error">{% trans "Your Username and PIN does not match. Please try again." %}</p>
    {% endif %}
    <fieldset>
      <label for="id_username">{% trans "Username" %}</label>
      {{ form.username }}
    </fieldset>
    <fieldset>
      <label for="id_password">{% trans "4 digit PIN" %}</label>
      {{ form.password }}
      <p class="helptext">{% trans "Numbers only eg. 5656" %}</p>
    </fieldset>
    <input type="submit" value="{% trans "Log in" %}">
  </form>
  <div class="call-to-action call-to-action--profiles">
    <a href="{% url "molo.profiles:forgot_password" %}" class="call-to-action__nav-item call-to-action__nav-item--password-recovery">
      {% trans "Forgotten your PIN?" %}
    </a>
    <h5 class="call-to-action__challenge-heading">
    {% trans "Don't have an account?" %}</h5>
    <a href="{% url 'molo.profiles:user_register' %}" class="call-to-action__nav-item call-to-action__nav-item-primary">
    {% trans "Sign up" %}</a>
  </div>
</div>
{% endblock %}
