{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="heading heading--auth">{% trans "Log in" %}</div>


<div class="auth-tools">

	<a href="{% url 'molo.profiles:user_register' %}">{% trans "Don't have an account? Register" %}</a>

	<form method="post" action="">
		{% csrf_token %}
		<input type="hidden" name="next" value="{% if not request.GET.next %}/{% else %}{{ request.GET.next }}{% endif %}" />

		{% if form.errors %}
			<p class="error">{% trans "Your username and password does not match. Please try again." %}</p>
		{% endif %}

		<label for="id_username">{% trans "Username" %}</label>
		{{ form.username }}

		<label for="id_password">{% trans "4 digit pin" %} <span>{% trans "(eg: 5656)" %}</span></label>
		{{ form.password }}

		<input type="submit" value="{% trans "Log in" %}">
	</form>
</div>
{% endblock %}
