.article__image {
  display: block;
  border-radius: 10px;
}
.featured-articles--age-tag {
  margin: 0 10px;
}

@each $name, $color in $color_list {
  .article__content--#{$name} {
    .call-to-action__nav-item-text,
    .tag__item-anchor {
      color: $color;
    }
   .featured-articles__nav-item {
     color: $color;
   }
   .featured-articles__heading {
     border-color: $color;
   }
  }
}
