.article__image {
  display: block;
  border-radius: 10px;
}
@each $name, $color in $color_list {
  .article__content--#{$name} {
    .featured-articles {
      color: $color;
    }
    .featured-articles__heading {
      border-color: $color;
    }
    .tag__item-anchor {
      color: $color;
    }
  }
}
