.call-to-action__nav-item-primary {
    background: #000;
    border: 0;
    border-radius: 14px;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin: 0 0 10px;
    text-transform: uppercase;
    width: auto;
    text-decoration: none;
}


.call-to-action--surveys {
  padding: 16px 0 0 20px;
  .call-to-action__nav-item--surveys {
    color: #EF9955;
  }
}
.call-to-action__nav-item--back {
  padding: 0 15px;
}


//SOCIAL MEDIA SHARING
.call-to-action__item-share {
  width: 65%;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  .call-to-action__item-share-img {
    border-right-width: 1px;
    border-right-style: solid;
  }
}
.call-to-action__item-share-title {
  color: #fff;
  padding: 6px 15px;
  text-decoration: none;
}
.call-to-action__item-share--facebook {
  background: #3B5998;
  border-color: #2C4376;
  .call-to-action__item-share-img {
    border-right-color: #2C4376;
  }
}
.call-to-action__item-share--twitter {
  background: #55ACEE;
  border-color: #4086BB;
  .call-to-action__item-share-img {
    border-right-color: #4086BB;
  }
}
.call-to-action__item-share--footer {
  margin: 10px 0 15px;
  border-color: #a3a3a3;
  .call-to-action__item-share-img {
    border-right-color: #a3a3a3;
  }
}
