.heading {
  background: transparent;
  font-size: $font-large;
}

.heading--auth,
.heading--profiles {
  background: #000;
  color: #fff;
  font-size: $font-xx-large;
  padding: 15px 15px;
}
.heading--subtitle {
  font-size: 14px;
}
.related-articles-recommended__heading {
  font-size: $font-x-large;
}

@each $name, $color in $color_list {
  .heading--#{$name}, .heading--#{$name} a {
    color: $color;
  }

  .heading--article.heading--#{$name} {
    border: 0;
  }
}
