.menu {
  background: #000;
  color: #a3a3a3;
  .languages {padding: 0 15px;}
}

.menu-items {
  padding: 0;
  .menu__item {
    display: flex;
    align-items: flex-start;
    padding: 5px 0;
    overflow: auto;
    font-size: $font-small;
    a {
      background: #fff;
      flex: 1;
      padding: 10px 15px;
      text-transform: uppercase;
      color: #000;
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
      border: 0;
    }
    span {
      flex: 1.25;
      padding: 10px 15px 0 15px;
      display: block;
      color: #ffffff;
    }
    .menu__item:first-child {
      display: none;
    }
    @each $name, $color in $color_list {
      &--#{$name} a {
        background: $color;
      }
    }
    &--default a {
      background: #000;
      color: #fff;
    }
    &--service a {
      background: $green;
      color: #000;
    }
    &--global {
      padding: 10px 10px 15px;
      display: block;
      align-items: left;
      &-title {
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 0 5px;
      }
      a {
        background: transparent;
        border-radius: 0;
        border: 0;
        color: #8d8d8d;
        display: block;
        flex: unset;
        font-weight: normal;
        font-size: 16px;
        padding: 0;
        text-decoration: underline;
        text-transform: initial;
      }
    }
  }
  &--alt {
    padding: 0;
  }
}

.footer-links {
  padding: 0 15px 20px 15px;
  a { color: #a3a3a3; }
}
