.profiles {
  .call-to-action {
    &__link {
      color: $purple_flirt;
    }
    &__challenge-heading {
      font-weight: bold;
      font-size: $font-large;
    }
    &__challenge-title {
      color: $dusty_grey;
      font-weight: normal;
    }
  }
}

.call-to-action--profiles {
  border-top: 1px solid rgba(153,153,153,0.5);
  padding: 15px 15% 0 0;
}
