.profiles {
  .call-to-action {
    &--profiles {
      border-top: 1px solid rgba(153,153,153,0.5);
      padding: 15px 20px 15px;
      .call-to-action__nav-item--login,
      input[type="submit"] {
        border-radius: 14px;
      }
    }
    &__link {
      color: $purple_flirt;
    }
    &__challenge-heading {
      font-weight: bold;
      font-size: $font-large;
      padding: 0 0 10px;
    }
    &__challenge-title {
      color: $dusty_grey;
      font-weight: normal;
    }
  }
}

.call-to-action--profile {
  border-top: 1px solid rgba(153,153,153,0.5);
  padding: 10px 0;
}
