.profiles {
  .call-to-action {
    &__nav-item--link {
      color: $purple_flirt;
    }
    &__challenge-heading {
      font-weight: bold;
      font-size: 20px;
      padding: 0 0 10px;
    }
    &__challenge-title {
      color: $dusty_grey;
      font-weight: normal;
    }
  }
}

.call-to-action--edit-profiles {
  border-top: 1px solid rgba(153,153,153,0.5);
  padding: 15px 15% 0 0;
}
