.section-article-list__item--image {
  border-radius: 10px;
}

@each $name, $color in $color_list {
  .section-heading--#{$name} {color: $color;}
  .section-article-list--#{$name} {
   .search--result__title-highlight,
   .highlight-description {color: $color;}
  }
}
