@media only screen and (max-width: 240px) {
  .call-to-action__item-share--footer {
    .call-to-action__item-share-img {display: none;}
    .call-to-action__item-share-title {display: block;}
  }
}
@media only screen and (min-width: 320px) {
  html, body,
  h1, h2, h3, h4, h5, h6,
  input, select, textarea {
    font-family: 'Quicksand', sans-serif;
  }
  label[for=id_date_of_birth_year] {
    display: block;
    margin: 10px 0 5px;
  }
  input[type="submit"] {
    line-height: 28px;
    border-radius: 14px;
    width: 100%;
    padding: 2px 15px;
  }
  .header-nav {
    .logo {
      width: auto;
    }
  }
  .copyright {
    background: #000;
    color: #fff;
    padding: 0 15px 20px 15px;
  }
  .breadcrumbs {
    border-bottom: 1px #e7e7e7 solid;
    a {
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: 600px) {
  html {
    background:#333;
  }
  body {
    max-width: 320px;
    margin: 0 auto;
  }
}
