.yourtips {
  .call-to-action {
    &__nav-item-text {
     color: $rose_pink;
    }
  }
  &--banner {
    color: #fff;
    background: #e60382;
    padding: 25px 15px 15px 15px;
    //For Banner CTA
    .call-to-action {
      &__nav-item-text {
        color: #fff;
      }
    }
  }
}
