.yourtips {
  .call-to-action {
    &__nav-item-text {
     color: $rose_pink;
    }
  }

  //HOMEPAGE BANNER
  &--banner {
    color: #fff;
    background: #e60382;
    padding: 25px 0 15px;
    .call-to-action {
      &__nav-item-text {color: #fff;}
    }
  }

  //YOURTIPS MENU
  &-menu {
    &__icon {float: left;}
  }

  //FORM & THANK YOU
  &-form {padding: 10px 15px 30px;}
  &__thank-you-message:after {
    background: url(/static/new/img/check-icon.png) no-repeat 0 0;
    content: "";
    display: block;
    margin: 0 auto;
    height: 118px;
    width: 118px;
  }

  //YOURTIPS LIST
  &__label {
    border-radius: 30px;
  }
  &-list {
    &__item {
      .yourtips__description  {
        padding: 15px 30px 0 30px;
        &:before {
          position: absolute;
          margin: -10px 0 0 0;
          left: 10px;
        }
        &:after {
          position: absolute;
          margin: 0 0 0 5px;
        }
      }
    .yourtips__description-homepage {padding: 25px 30px 0;}
    .call-to-action__nav-item {
      padding: 15px 15px 25px;
    }
    &:nth-child(even) {
      background: $rose_pink;
      .yourtips__label {background: $rose_pink_dark;}
    }
    &:nth-child(odd) {
      background: $turquoise;
      .yourtips__label {background: $turquoise_light;}
      }
    }
  }
  &__author {padding: 15px 30px 20px;}
  &__social-media {
    .likes {float: left;}
    .social-share {float: right;}
  }
}
