.yourwords, .competition  {
  padding: 10px 0;
  
  img {
    border-radius: 3px;
    margin: 0 auto;
    vertical-align: middle;
    width: 90%;
  }
  .heading--yourwords {
    padding: 10px 15px;
    text-align: center;
  }
  .heading--yourwords-subtitle {
    font-size: $font-large;
    padding: 5px 15px 20px;
    text-align: center;
  }
  &--inner-content {
   .heading  {
     padding: 0;
   }
  }
  &--inner-content {
    padding: 0 15px;
    a {
      text-decoration: underline;
      color: #000;
      font-weight: bold;
      display: inline-block;
      padding: 10px 0 0;
    }
  }
  &-form {
    padding: 0 15px 10px;
  }
  .call-to-action__nav-item {
    &--login {
      background: #000;
      color: #fff;
      border-radius: 14px;
      padding: 5px 15px;
      font-weight: bold;
      margin: 10px;
    }
    &--back-home {
      padding: 0 15px;
    }
  }
}
.heading-container  {
  .heading {
    color: #000;
    text-align: left;
  }
}
.competition__title,
.competition__title--description,
.error  {
  padding: 0 15px;
}
.yourwords--entries {
  color: #000;
  .heading {
    text-align: left;
  }
}

@each $name, $color in $color_list {
  .yourwords--#{$name} {
    color: #fff;
    background: $color;
    border: none;
    .call-to-action__nav-item--back-home {
      color: $color;
    }
    .call-to-action__nav-item--login {
      background: $color;
      filter: grayscale(60%);
    }
  }
}
//Manual color match
.yourwords--gold .call-to-action__nav-item--login  {
  background: rgb(153, 130, 0);
}
.yourwords--turquoise .call-to-action__nav-item--login {
  background: rgb(53, 140, 139);
}
