.yourwords {
  //Bemify Yourwords Templates
  img {
    border-radius: 3px;
    margin: 0 auto;
    vertical-align: middle;
    width: 90%;
  }
  .heading {
    padding: 10px 15px;
    text-align: center;
  }
  .heading--yourwords-subtitle {
    font-size: $font-large;
    padding: 5px 15px 20px;
  }
  .yourwords--inner-content {
   .heading  {
    padding: 0;
   }
  }
  .call-to-action__nav-item--login {
    text-align: center;
    display: block;
  }
}

.yourwords--entries {
  color: #000;
  .heading {
    text-align: left;
  }
  .call-to-action__nav-item {
    text-decoration: underline;
  }
}

//Yourwords Page
.heading-container  {
  .heading {
    color: #000;
    text-align: left;
  }
}

.competition__title,
.competition__title--description  {
  padding: 0 15px;
}

.yourwords--inner-content {
  padding: 0 15px;
  a {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
    display: inline-block;
    padding: 10px 0 0;
  }
}

.yourwords-form {
  padding: 0 15px;
}

@each $name, $color in $color_list {
  .yourwords--#{$name} {
    color: #fff;
    background: $color;
    border: none;
    .call-to-action__nav-item--back-home {
      color: $color;
    }
    .call-to-action__nav-item--login {
      background: $color;
      filter: grayscale(60%);
    }
  }
}
//Manual color match
.yourwords--gold .call-to-action__nav-item--login  {
  background: rgb(153, 130, 0);
}
.yourwords--turquoise .call-to-action__nav-item--login {
  background: rgb(53, 140, 139);
}
