{% load i18n poll_votings %}
<form class="polls__form" action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}
  <ul class="poll-choices">
  {% for choice in question.choices %}
    <li class="poll-choices__item">
      {% if request.user.is_authenticated %}
        {% can_vote question as can_user_vote %}
        {% if can_user_vote %}
          {% if question.allow_multiple_choices %}
            <input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
          {% else %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
          {% endif %}
        {% endif %}
      {% endif %}
      <label for="choice{{ forloop.counter }}">{{ choice.title }}</label>
    </li>
  {% endfor %}
  </ul>

  {% if request.user.is_authenticated %}
    {% can_vote question as can_user_vote %}
    {% if can_user_vote %}
        <input type="submit" value="{% trans "Vote" %}" />
    {% elif question.show_results %}
      <a href="{% url 'polls:results' question.id %}">{% trans "Show Results" %}</a>
    {% endif %}
  {% else %}
    <a href="{% url 'molo.profiles:auth_login' %}?next={{request.path}}">{% trans "Log in" %}</a>
    {% trans "or" %}
    <a href="{% url 'molo.profiles:user_register' %}">{% trans "Register" %}</a>
    {% trans "to vote" %}
  {% endif %}
</form>
