.auth-tools {
  padding: 20px 20px 0;
  input[type="submit"] {
    width: auto;
    margin: 1em 0;
    border: 0;
  }
}

.auth-tools__tandcs {
  label, input {
    margin-bottom: 0;
    display:inline;
    width: auto;
    text-decoration: underline;
  }
}
