.auth-tools {
  padding: 20px;
  input[type="submit"] {
    width: auto;
    margin: 1em 0;
    border: 0;
  }
}

.auth-tools--profiles {
  padding: 0 20px;
}

.auth-tools__tandcs {
  label, input {
    margin-bottom: 0;
    display:inline;
    width: auto;
    text-decoration: underline;
  }
}
