
.article__title {
  font-size: $font-large;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

.article__subtitle {
  padding: 0 20px 20px 20px;
}

.article__image {
  display: none;
}

.article__content {
  p, h4, ul, ol {
    padding: 0 20px;
  }
  a {
    font-weight: bold;
    display: block;
  }
  h4 {
    font-weight: bold;
  }

  ul, ol, li {
      list-style-position: inside;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  .featured-articles {
    display: block;
    color: #000;
    padding: 0 20px 6px;
  }
}

.article__content--inner {
   padding: 0 20px;
}