.auth-tools {

  padding: 20px;

  label, input {
    display: block;
    width: 100%;
  }

  input {
    margin-bottom: 40px;
    border: 1px #000 solid;
  }



  label {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: bold;

    span {
      font-weight: normal;
    }
  }

  label span {
    color: #999
  }

  input[type="submit"] {
    width: auto;
    margin: 1em 0;
    border: 0;
  }
}

.auth-tools__tandcs {
  label, input {
    margin-bottom: 0;
    display:inline;
    width: auto;
    text-decoration: underline;
  }
}
