
.article-list--section {
  border-bottom: 2px #000 solid;
}

@each $name, $color in $color_list {
  .article-list--section.article-list--#{$name} {
    border-bottom-color: $color;
  }
}



.article-list__item {
  a {
    color: #000;
  }
}

.article-list__item--more {
  a {
    color: blue;
  }
}

.article-list__image {
  display: block;
}

.article-list__title {
  font-weight: bold;
}
