.article__title {
  font-weight: bold;

}

.article__subtitle {
  font-weight: bold;
}

.article__image img {
  width: 100%;
  height: auto;
}


.article__content {
  h4 {
    font-weight: bold;
  }
}
