.breadcrumbs {
  padding: 10px 20px;
  text-transform: uppercase;
  color: #000;
  border-bottom: $border;
  font-size: $font-small;
  font-weight: bold;
}

.breadcrumbs a {
  font-weight: normal;
  color: #000;
  &:after {
    content: " > ";
    color: #000;
  }
}
