
.call-to-action {
  padding: 5px 10px;
}
.call-to-action__nav-item,
.call-to-action__nav-item--challenge {
  font-size: $font-large;
}

.call-to-action__link {
  font-weight: bold;
  text-decoration: underline;
}

.call-to-action__nav-item--login {
  color: #fff;
  margin: 20px 10px;
  padding: 5px 20px;
  font-weight: normal;
  font-size: $font-medium;
  display: inline-block;
}

.call-to-action--surveys {
  padding: 15px 0 0 10px;
}

.call-to-action__nav-item--surveys {
  color: #000;
  text-decoration: underline;
}

.call-to-action__nav-item--back-home {
  padding: 10px 20px;
  display: block;
}