.breadcrumbs {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border-bottom: 2px #e7e7e7 solid;
}

.breadcrumbs a {
  font-weight: normal;
  color: #000;

  &:after {
    content: " > ";
    color: #000;
  }
}
