.heading {
  padding: 10px 20px;
  margin: 0 0 10px 0;
  font-size: $font-small;
  font-weight: bold;
  text-transform: uppercase;
  a {
    color: #000;
  }
}
.heading--auth {
  font-size: $font-large;
}
.heading--section-list {
  margin: 0;
}

.heading--subtitle {
  padding: 0;
}

.heading.heading--article, .heading.heading--section {
  background: transparent;
  border-bottom: $border;
}

.featured-articles__heading {
  border-bottom: $border;
  border-color: #000;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 0 15px;
}

@each $name, $color in $color_list {
  .heading--#{$name} {
    background: $color;
  }

  .heading--section-list.heading--#{$name} {
    border-bottom-color: $color;
  }

  .heading--article.heading--#{$name} {
    border-bottom-color: $color;
  }
}
