.heading {
  font-size: $font-small;
  font-weight: bold;
  text-transform: uppercase;
  a {
    color: #000;
  }
}

@each $name, $color in $color_list {
  .heading--#{$name} {
    background: $color;
  }

  .heading--section-list.heading--#{$name} {
    border-bottom: 2px $color solid;
  }

  .heading--article.heading--#{$name} {
    background: transparent;
    border-bottom: 2px $color solid;
  }
}
