.header {
  background: #000;
  color: #fff;
  overflow: hidden;

  .logo {
    width: 110px;
  }
  .search-form, .languages {
    margin: 0 0 20px 0;
  }
}

.header__navitem {
  float: right;
  line-height: 73px; // Warning: Magic number!
  text-decoration: underline;
  padding-left: 20px;
  font-weight: bold;
  color: #fff;
}

.header__search-title {
  margin: 0 0 20px 0;
}
