.heading--polls {
  background: #cd36f5;
}

.polls {
  background: #cd36f5;
}

.poll-question__title {
  margin: 0 0 1em 0;
}

.poll-choices {
  margin: 0 0 1em 0;
}

.poll-choices__item {
  font-weight: bold;
  margin: 0 0 1em 0;
}
