.service-dir__banner {
  text-align: center;
  padding-top: 10px;
  h1 {
    padding-top: 0;
    margin-top: 0;
  }
}

.service-dir__image {
  background: no-repeat center/contain url(../img/Find-a-clinic.png); 
}

//New Classes
.service-dir__category-title {
  color: $green;
  font-size: $font-large;
  text-decoration: underline;
  font-weight: bold;
}

.service-link-list__ietm {
  display: inline-block;
  a {
    color: #000;
  }
}

.service-dir__container {
  padding: 0 20px 20px;
  li {
    line-height: 2em;
  }
  .call-to-action__link {
    margin-bottom: 15px;
    display: inline-block;
  }

  .call-to-action__nav-item--back {
    color: $green;
  }
}

.service-dir__title, .sd-heading {
  font-size: $font-large;
  font-weight: bold;
}

.service-dir__title--org-name {
  margin-bottom: 10px;
  text-transform: uppercase;
}
  
.service-dir__subtitle {
  line-height: 2em;
  .service-dir__subtitle--main {
    font-size: $font-large;
    text-decoration: underline;
    font-weight: bold;
  }
}

.service-dir__button {
  display: block;
  margin: 10px 0;
  color: $white!important;
  line-height: 30px;
  text-align: center;
  border-radius: 14px;
  font-size: $font-medium;
  background: $orange;
  border: 1px solid $orange;
}

.service-dir__button--outline {
  color: $orange!important;
  background: $white;
}

.service-dir__back a{
  color: $orange;
}

.service-dir__search-form, .sd-search-form {
  input[type="submit"]{
    margin: 10px 0 20px;
  }
}

.service-dir__org-rating {
  padding: 20px 0;
}

.service-dir__org-rating {
  display: inline-block;
  width: 100%;
}

.service-dir__faces {
  text-align: center;
  font-size: 100%;
  float: left;
  width: 33.3333%;
  span {
    display: block;
    margin-top: 10px;
    font-size: $font-small;
  }
}

.sd-search-results a{
  color: $orange;
}

.sd-service-distance, .sd-service-location {
  font-weight: bold;
}

.sd-service-location {
  margin: 0;
}