.service-directory__banner {
  text-align: center;
  padding-top: 10px;
}

.service-directory__image {
  background: no-repeat center/contain url(../img/Find-a-clinic.png); 
}

//New Classes
.service-dir__category-title {
  color: $green;
  font-size: $font-large;
  text-decoration: underline;
  font-weight: bold;
}

.service-link-list__item {
  display: inline-block;
  color: #000;
  a {
    color: #000;
  }
}

.service-directory {
  //padding: 0 20px 20px;
  li {
    line-height: 2em;
  }
  .call-to-action__nav-item--report {
    margin-bottom: 15px;
    display: inline-block;
  }

  .call-to-action__nav-item--back {
    color: $green;
  }
  //Is this inside service-dir__container
  .heading {
    font-size: $font-large;
    font-weight: bold;
  }

  .heading--org-name {
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .heading--subtitle {

  }
  
}


.service-dir__subtitle {
  line-height: 2em;
  .service-dir__subtitle--main {
    font-size: $font-large;
    text-decoration: underline;
    font-weight: bold;
  }
}

.service-dir__button {
  display: block;
  margin: 10px 0;
  color: $white!important;
  line-height: 30px;
  text-align: center;
  border-radius: 14px;
  font-size: $font-medium;
  background: $orange;
  border: 1px solid $orange;
}

.service-dir__button--outline {
  color: $orange!important;
  background: $white;
}

.service-dir__back a{
  color: $orange;
}

.service-dir__search-form, .sd-search-form {
  input[type="submit"]{
    margin: 10px 0 20px;
  }
}

.service-dir-form {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  fieldset {
    text-align: center;
    font-size: 100%;
    float: left;
    width: 33.3333%;
  }
  label {
    display: block;
    margin-top: 10px;
    font-size: $font-small;
  }
}

.sd-search-results a{
  color: $orange;
}

.sd-service-distance, .sd-service-location {
  font-weight: bold;
}

.sd-service-location {
  margin: 0;
}