.service-directory {
  .call-to-action__nav-item {
    color: #000;
    display: block;
    padding: 0 10px;
  }
  .call-to-action__nav-item--change-search {
    padding: 0;
  }
}

.call-to-action__nav-item--back {
  color: #000;
  padding: 0 10px;
}
.call-to-action__nav-item--report {
  margin-bottom: 15px;
  display: inline-block;
}

.service-dir-location {
  border-top: 1px solid  #000;
  .call-to-action__nav-item {
    padding: 0;
  }
}

.service-directory__banner {
  text-align: center;
  padding-top: 10px;
}

.service-directory__feedback-message {
  border-bottom: 1px solid #000;
  font-weight: bold;
  padding: 0 10px 15px;
}

.heading--service-dir-title {
  color: #000;
  padding: 0 10px;
}
.heading--service-dir-subtitle {
  font-weight: bold;
  padding: 0 10px 0;
  font-size: $font-medium;
}

.service-directory__title {
  color: #000;
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  text-decoration: underline;
  font-weight: bold;
  font-size: $font-large;
  text-transform: uppercase;
}

.service-directory__form {
  padding: 0 10px;
  fieldset {
    font-size: 100%;
  }
  label {
    display: inline-block;
    margin-top: 10px;
    font-size: $font-small;
  }
  input[type="checkbox"],
  label[for="checkbox"]{
    display: inline;
  }
  .call-to-action__nav-item--login, 
  input[type="submit"] {
    margin: 10px 0 20px;
  }

  .service-directory__title {
    padding: 0;
  }
}

.service-directory__form--service-rate {
   padding: 0 10px 10px;
}


.service-list {
  padding: 0 10px;
  .service-list__item {
    display: block;
    color: #000;
    line-height: 2em;
    a {
      color: #000;
    }
  }
}
.service-directory__listings {
  padding: 0 10px;
  .service-directory__title {
    padding: 0;
  }
  .service-list {
    padding: 0;
  }
}
.service-directory__form--location-results {
  .service-list {
    padding: 0;
  }
}

.service-list--results {
  border-bottom: 1px solid #000;
  .heading--service-dir-organisation {
    padding: 0; 
  }
  .service-list__item {
    padding: 0 10px 10px 0;
    display: block;
  }
}

.service-dir__button {
  display: block;
  margin: 10px 0;
  color: $white!important;
  line-height: 30px;
  text-align: center;
  border-radius: 14px;
  font-size: $font-medium;
  background: $orange;
  border: 1px solid $orange;
}

.service-dir__button--outline {
  color: $orange!important;
  background: $white;
}
