.search-form {
  input[type="text"] {
    width: 80%;
  }
  input[type="submit"] {
    text-align: left;
  }
}

.search-form--main {
  margin: 10px 0;
}

.search-results {
  a {color: #000;}
  .section-heading {
    font-weight: bold;
  }

  .section-heading,
  .section-article-list  {
    padding: 0 20px 5px;
  }
  .section-heading--search  {
    padding: 15px 20px;
  }
}

.section-heading--search {
  border-bottom: 1px solid gray;

  margin-bottom: 25px;
  text-transform: capitalize;
}
.search--result__title {
  font-weight: bold;
}