.yourwords {
  .heading {
    padding: 10px 10px 0;
  }
  .heading--yourwords-subtitle {
    font-size: $font-small;
    padding: 0 10px;
  }
}

.competition__title,
.competition__title--description  {
  padding: 0 10px;
}

.yourwords-form {
  padding: 10px;
}

