.poll-result {
    padding: 0 0 15px
}

.result-line .option {
    text-align: left;
    display: inline-block;
    margin-right: -5px;
    vertical-align: middle;
}

.result-line .bar {
    text-align: left;
    width: 49%;
    margin-right: -5px;
    display: inline-block;
    vertical-align: middle;
}

.result-line {
    padding: 1px 0;
}

.result-line.winner {
    font-weight: bold;
}

.result-line.winner {
    color: #ff7c44;
}