
.search-results-body {
    clear: both;
    text-decoration: none;
    @media screen and (min-width: 480px) {
      padding: 10px;
    }

  .article-row {
    padding: 10px;
    @media screen and (min-width: 480px) {
    }
  }

  .text-article-col {
    width: 100%;
    @media screen and (min-width: 480px) {
      width: 135%;
    }
  }
}

.search-result-section__title {
   text-transform: uppercase;
   padding: 10px 10px;
   font-size: 14px;
   @media screen and (min-width: 480px) {
     font-size: 17px;
      padding: 10px 0;
    }
}

@each $name, $color in $color_list {
  .search-result-section__title--#{$name} {
     background-color: $color;
     color: $black;
     @media screen and (min-width: 480px) {
       color: $color;
       background: transparent;
     }
  }
}
