
.post-comments {
  p {
   margin: 0;
 }

  .posted-comments-count {
    float: right;
  }
}

.posted-comments-heading {
  clear: both;
  font-size: 100%;
  padding: 0 0 35px;
  color: black;
  a {
    font-size: 100%;
  }
}

.post-comment-title {
  float: left;
}

@each $name, $color in $color_list {
  .post-comments--#{$name} {
    color: $color;
    a {
      color: $color;
    }
  }

  .post-comment--#{$name} {
      .submit-button {
          background: $color;
          color: $white;
      }
  }

  .post-comments--#{$name} .posted-comments-count a {
    background: $color;
    color: $white;
    display: block;
    &:after {
      border-top-color: $color;
    }
  }
}
