{% extends "core/_article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags %}

{% block content %}

<div class="title {{self.get_parent_section.get_effective_extra_style_hints}}">
  <div class="icon">
      {% if self.image %}
        {% image self.image width-98 %}
      {% else %}
        {% image self.get_parent.image width-98 %}<!-- ??????? -->
      {% endif %}
  </div>
     <h6>{{get_parent_section.title}}</h6><!-- ??????? -->
    {%  with parent=self.get_ancestors.last %}
      <h6>{{parent.title}}</h6>
    {% endwith %}
</div>

<div class="block {{self.get_parent_section.get_effective_extra_style_hints}}">
  <h5></h5>
  <h4>{{self.title}}</h4>
  <blockquote>{{self.subtitle}}</blockquote>
  <div class="article-copy">
    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h1>{{ block.value }}</h1>
      {% else %}
      {% if block.block_type == 'image' %}
        {% image block.value width-240 %}
      {% else %}
      {% if block.block_type == 'numbered_list' %}
        <ol>
        {% for item in block.value %}
          <li>{{item}}</li>
        {% endfor %}
        </ol>
      {% else %}
          {{ block }}
      {% endif %}
      {% endif %}
      {% endif %}
    {% endfor %}
    <div class="author">By {{self.owner}} {{self.first_published_at|date:"j F Y"}}</div> <!-- need author -->
    {% get_comment_count for self as comment_count %}
    <div class="comments-count"><a href="#">{{comment_count}} <span>comment{{comment_count|pluralize}}</span></a></div>
    <div class="post-comment">
			<p><textarea rows="5"></textarea></p>
			<a href="#" class="button">Comment</a>
			<a href="#" class="button">ADD anonymously</a>
		</div>
    {# {% render_comment_form for self %}#}
  </div>
</div>
{% get_comment_list for self as comment_list %}
{% recursetree comment_list %}
<hr>
<div class="comment {{self.get_parent_section.get_effective_extra_style_hints}} {% if node.user.is_staff %}staff{% endif %}">
  <p class="by"><strong>{{node.user.profile.alias}}</strong> <span class="date">{{node.submit_date|date:"j F Y"}}</span></p>
  <p>{{node.comment}}</p>
  {# <p><a href="{% url 'TODO' %}" class="report">Report +</a></p>#}
</div>
{# recursion! children of a given comment #}
{% if not node.is_leaf_node %}
  {{ children }}
{% endif %}
{% endrecursetree %}

{% endblock %}
