{% extends "core/_article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags %}

{% block content %}

<div class="title {{self.get_parent_section.get_effective_extra_style_hints}}">
  
  {% with parent_section=self.get_parent_section ancestor=self.get_parent_section.get_ancestors.last %}

    <div class="icon">
      {% if self.image %}
        {% image self.image width-98 %}
      {% elif parent_section.image %}
        {% image parent_section.image width-98 %}
      {% else %}
        {% image ancestor.sectionpage.image width-98 %}
      {% endif %}
    </div>
    <h6>{{ancestor.sectionpage.title}}</h6>
    <h6>{{parent_section.title}}</h6>
    
  {% endwith %}

</div>

<div class="block {{self.get_parent_section.get_effective_extra_style_hints}}">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <h5></h5>
  <h4>{{self.title}}</h4>
  <blockquote>{{self.subtitle}}</blockquote>
  <div class="article-copy">
    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h1>{{ block.value }}</h1>
      {% else %}
      {% if block.block_type == 'image' %}
        {% image block.value width-240 %}
      {% else %}
      {% if block.block_type == 'numbered_list' %}
        <ol>
        {% for item in block.value %}
          <li>{{item}}</li>
        {% endfor %}
        </ol>
      {% else %}
          {{ block }}
      {% endif %}
      {% endif %}
      {% endif %}
    {% endfor %}
    <p class="author">By {{self.owner}} {{self.first_published_at|date:"j F Y"}}</p>
    {% get_comment_count for self as comment_count %}
    <div class="comments-count"><a href="#">{{comment_count}} <span>comment{{comment_count|pluralize}}</span></a></div>
    <div class="post-comment">
      {% if request.user.is_authenticated %}
        {% render_comment_form for self %}
      {% else %}
        <p>Please <a href="{% url 'molo.profiles:auth_login' %}">log in</a> to leave a comment.</p>
      {% endif %}
		</div>
  </div>
</div>
{% get_molo_comments for self as comment_list limit 5 %}
{% recursetree comment_list %}
<hr>
<div class="comment {{self.get_parent_section.get_effective_extra_style_hints}} {% if node.user.is_staff %}staff{% endif %}">
  <p class="by"><strong>{{node.user_name}}</strong> <span class="date">{{node.submit_date|date:"j F Y"}}</span></p>
  <p>{{node.comment}}</p>
  <p><a href="{% url 'molo-comments-report' node.pk %}" class="report">Report +</a></p>
</div>
{# recursion! children of a given comment #}
{% if not node.is_leaf_node %}
  {{ children }}
{% endif %}
{% endrecursetree %}

{% endblock %}
