{% extends "core/_article_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="title {{self.get_parent_section.get_effective_extra_style_hints}}">
  <div class="icon">
      {% if self.image %}
        {% image self.image width-98 %}
      {% else %}
        {% image self.get_parent.image width-98 %}<!-- ??????? -->
      {% endif %}
  </div>
     <h6>{{get_parent_section.title}}</h6><!-- ??????? -->
    {%  with parent=self.get_ancestors.last %}
      <h6>{{parent.title}}</h6>
    {% endwith %}
</div>

<div class="block {{self.get_parent_section.get_effective_extra_style_hints}}">
  <h5></h5>
  <h4>{{self.title}}</h4>
  <blockquote>{{self.subtitle}}</blockquote>
  <div class="article-copy">
    {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h1>{{ block.value }}</h1>
      {% else %}
      {% if block.block_type == 'image' %}
        {% image block.value width-240 %}
      {% else %}
      {% if block.block_type == 'numbered_list' %}
        <ol>
        {% for item in block.value %}
          <li>{{item}}</li>
        {% endfor %}
        </ol>
      {% else %}
          {{ block }}
      {% endif %}
      {% endif %}
      {% endif %}
    {% endfor %}
    <div class="author">By {{self.owner}} {{self.first_published_at|date:"j F Y"}}</div> <!-- need author -->
    <div class="comments-count"><a href="#">12 <span>comments</span></a></div>
    <div class="post-comment">
			<p><textarea rows="5"></textarea></p>
			<a href="#" class="button">Comment</a>
			<a href="#" class="button">ADD anonymously</a>
		</div>
  </div>
</div>
<hr>
<div class="comment {{self.get_parent_section.get_effective_extra_style_hints}}">
	<p class="by"><strong>Display Name</strong> <span class="date">14:02 Mar 2015</span></p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tincidunt ex. Nullam commodo rutrum velit eu hendrerit. </p>
	<p><a href="#" class="report">Report +</a></p>
</div>
<hr>
<div class="comment {{self.get_parent_section.get_effective_extra_style_hints}}">
	<p class="by"><strong>Display Name</strong> <span class="date">14:02 Mar 2015</span></p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tincidunt ex. Nullam commodo rutrum velit eu hendrerit. </p>
	<p><a href="#" class="report">Report +</a></p>
</div>
{% endblock %}
