
{% extends "base.html" %}

{% load static core_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="title turq"></div>
<div class="articles nav">
  <h3 class="article-page-title f-large">{{self.title}}</h3>
  <h5 class="article-page-subtitle"> {{self.subtitle}}</h5>
  {% if self.image %}
  <div class="banner">{% image self.image width-240 %}</div>
  {% endif %}

<article class="article article-page">
  {% for block in self.body %}
      {% if block.block_type == 'heading' %}
          <h1>{{ block.value }}</h1>
      {% else %}
      {% if block.block_type == 'image' %}
        {% image block.value width-240 %}
      {% else %}
      {% if block.block_type == 'numbered_list' %}
        <ol>
        {% for item in block.value %}
          <li>{{item}}</li>
        {% endfor %}
        </ol>
      {% else %}
          {{ block }}
      {% endif %}
      {% endif %}
      {% endif %}
  {% endfor %}
</article>
</div>
{% endblock %}
