
{% extends "base.html" %}
{% load static core_tags poll_votings competition_tag i18n %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block search %}
  <div id="home-search">
    {% include "search/search_block.html" %}
  </div>
{% endblock %}
{% block language %}
    {% include "core/language_block.html" %}
{% endblock %}
{% block content %}
    {% latest_listing_homepage num_count=5 %}
    {% poll_page page=language_page %}
    {# {% your_words_competition page=language_page %} #}
    {% section_listing_homepage %}
{% endblock %}
