{% extends "core/_section_page.html" %}
{% load wagtailcore_tags wagtailimages_tags comments poll_votings static i18n %}

{% block content %}
    <ul class="sub-navigation-list l-indent">
        <li class="sub-navigation-list__item">
            <a href="{{request.site.root_page.url}}">{% trans "Home" %}</a>
        </li>
        <li class="sub-navigation-list__item">
            <a href="">{{self.title}}</a>
        </li>
    </ul>
    <!--
    <div class="title {#{{self.get_effective_extra_style_hints}}#}">
      <div class="icon">
           {#{% if self.get_effective_image %}
              {% image self.get_effective_image width-98 as tmp_photo %}
              <img src="{{ tmp_photo.url }}" alt="{{ self.get_effective_image.title }}"/>
          {% endif %}#}
        </div>
        <h6>{#{{self.title}}#}</h6>
    </div>
    <div class="block  {#{{self.get_effective_extra_style_hints}}">
        <a href="{{request.site.root_page.url}}" class="submit-button">{% trans "Home" %}#}</a>
    </div>
    -->
    {% for section in self.sections %}
        <ul class="sub-category-list sub-category-list{{ self.get_effective_extra_style_hints }}">
            <li class="sub-category-list__item">
                <a href="{% pageurl section %}">{{section.title}}</a>
            </li>
            <li class="sub-category-list__item float-right">
                <a href="{% pageurl section %}">{% trans "View All" %}</a>
            </li>
        </ul>
        {% for page in section.featured_articles %}
            <div class="article-row {{ self.get_effective_extra_style_hints }} l-indent">
                <div class="image-article-col">
                    {% if page.image %}
                      {% image page.image width-98 as tmp_photo %}
                      <img src="{{ tmp_photo.url }}" alt="{{ page.image.title }}" class="img-circle"/>
                    {% endif %}
                </div>

                <div class="text-article-col">
                    <h3><a href="{% pageurl page %}">{{ page.title }}</a></h3>
                    <p>{{ page.subtitle }}</p>
                </div>
            </div>
            {% get_comment_count for page as comment_count %}
            {% if comment_count > 0 %}
              <div class="comments-count"><a href="#">{{comment_count}} <span>{% trans "comment" %}{{comment_count|pluralize}}</span></a></div>
            {% endif %}
            <!--<a href="{# {% pageurl page %} #}" class="submit-button">
                {# {% trans "Read on" %} #}
            </a>-->
        {% endfor %}
      </div>
    {% endfor %}

    {% for page in self.articles %}
      <div class="article-row l-indent">
        <div class="image-article-col">
            {% if page.image %}
                {% image page.image width-100 as tmp_photo %}
                <img src="{{ tmp_photo.url }}" alt="{{ page.image.title }}" class="img-circle" />
            {% endif %}
        </div>
        <div class="text-article-col">
            <h3><a href="{% pageurl page %}">{{page.title}}</a></h3>
            <p>{{page.subtitle}} <a href="{% pageurl page %}">{% trans "Read on" %}</a></p>
        </div>
      </div>
    {% endfor %}

    {% has_questions self as questions %}
    {% if questions %}
    <div class="block {{self.get_effective_extra_style_hints|default:"orange"}}">
      <div class="title">
        <div class="icon"><a href=""><img src="{% static 'img/polls.png' %}" alt="Have Your Say"></a></div>
          <h6><a href="">{% trans "Have Your Say" %}</a></h6>
      </div>
      {% poll_page_in_section page=self %}
      <hr>
    </div>
    {% endif %}
{% endblock %}
