.article__image {
  display: block;
}

@each $name, $color in $color_list {
  .article__content--#{$name} {
    .featured-articles {
      color: $color;
    }
    .featured-articles__heading {
      border-color: $color;
    }
  }
}
