
.call-to-action__nav-item--login {
  margin: 20px;
}

/*.call-to-action--profile  {
  .call-to-action__nav-item--login  {
      margin: 20px 0;
  }
}*/

.call-to-action--surveys {
  padding: 16px 0 0 20px;
  .call-to-action__nav-item--surveys {
    color: #EF9955;
  }
}

.call-to-action--view-profile {
  .call-to-action__nav-item--logout,
  .call-to-action__nav-item--editprofile,
  .call-to-action__nav-item--change-password {
    background: #000;
    border: 0;
    border-radius: 14px;
    color: #fff;
    display: block;
    padding: 2px 0;
    text-align: center;
    margin: 1em 0;
    text-transform: uppercase;
    width: auto;
    text-decoration: none;
  }
}
