.menu {
  background: #000;
  color: #a3a3a3;
   .languages {
    padding: 0 20px;
  }
  a {
    color: #a3a3a3;
  }
}

.menu-items--alt {
  padding: 0;
}

.menu-items .menu__item:first-child {
  display: none;
}

.menu__item {
  display: flex;
  align-items: flex-start;
  padding: 5px 0;
  overflow: auto;
  font-size: $font-small;

  a {
    background: #fff;
    flex: 1;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #000;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: 0;
  }
  span {
    flex: 1.25;
    padding: 10px 20px 0 20px;
    display: block;
    color: #ffffff;
  }
}
.menu {
  .menu-items {
    padding: 0;
    .menu__item--default a {
      background: #000;
    color: #fff;
    }
    .menu__item--service a {
      background: $green;
      color: #000;
    }
  }
}

.footer-links {
  padding: 0 20px 20px 20px;
}
@each $name, $color in $color_list {
  .menu__item--#{$name} a {
    background: $color;
  }
}
