.service-directory {
  .call-to-action__nav-item {
    padding: 0 20px;
    font-weight: bold;
  }
}
.service-directory__banner {
  color: $white;
  background: $green;
}
.service-directory__image {
  background: no-repeat center/contain url(/static/new/img/clinic-finder.png);
  height: 100px;
}
.service-directory__feedback-message {
  padding: 0 20px 15px;
}

.heading--service-dir-title {
  padding: 0 20px 10px;
  margin-top: 0;
}
.heading--service-dir-subtitle {
  padding: 0 20px 0;
}
.heading--organisation-name {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.service-directory__title {
  padding: 10px 20px 0;
}
.service-directory__form {
  padding: 0 20px;
}
.service-directory__listings {
  padding: 10px 20px;
}

.service-list {
  padding: 0 20px;
}
.service-list--results {
  .service-list__item {
    padding: 0 20px 10px 0;
  }
}
.service-directory__form--service-rate {
  padding: 0 20px 20px;
  fieldset {
    margin: 20px 0 0;
  }
}
.service-directory__contact {
  padding: 0 10px;
  .tel {
    font-weight: bold;
  }
}

//Services Feedback
button.smiley.sad {background: url(/static/new/img/Not-helpful.png); border: 0; width: 60px; height: 60px; background-size: 100%; background-repeat: no-repeat;}
button.smiley.sad:hover {background: url(/static/new/img/Active-not-helpful.png); background-size: 100%;}
button.smiley.sad:after{border: 0!important;}
button.smiley.sad:before{border: 0!important;}
button.smiley.neutral {background: url(/static/new/img/Im-neutral.png); border: 0; width: 60px; height: 60px; background-size: 100%; background-repeat: no-repeat;}
button.smiley.neutral:hover {background: url(/static/new/img/Active-im-neutral.png); background-size: 100%;}
button.smiley.neutral:after{height: 0!important;}
button.smiley.neutral:before{border: 0!important;}
button.smiley.happy {background: url(/static/new/img/Very-helpful.png); border: 0; width: 60px; height: 60px; background-size: 100%; background-repeat: no-repeat;}
button.smiley.happy:hover {background: url(/static/new/img/Active-very-helpful.png); background-size: 100%;}
button.smiley.happy:after{border: 0!important;}
button.smiley.happy:before{border: 0!important;}
