
{% load wagtailcore_tags wagtailimages_tags i18n comments %}
{% if articles %}

    <div class="latest-articles">
        <h2 class="latest-article__title {{section.get_effective_extra_style_hints}} f-medium">{% trans "Fresh Stories" %}</h2>
        {% if articles %}
          {% with articles|first as article %}
                {% if article.featured_in_latest %}
                <div class="article-hero-row">
                    <div class="article-hero-story feature-image">
                      {% if article.get_parent_section.get_effective_image %}
                          {% image article.get_parent_section.get_effective_image width-100 as tmp_photo %}
                            <img src="{{ tmp_photo.url }}" alt="{{ article.get_effective_image.title }}" class="image_radius"/>
                        {% else %}
                          <a href="{% pageurl article %}">
                          {% image article.image width-100 as tmp_photo %}
                          <img src="{{ tmp_photo.url }}" alt="{{ article.image.title }}" class="image_radius"/>
                          </a>
                        {% endif %}
                    </div>
                      <h2 class="article-heading f-large">
                          <a href="{% pageurl article %}">{{article.title}}</a>
                      </h2>
                      <p class="f-bigger">{{article.subtitle}}</p>
                </div>
                {% endif %}
        {% endwith %}
        {% endif %}
        <div class="article-story-row">
          {% for article in articles|slice:"1:" %}
              {% if article.featured_in_latest %}
                  <div class="article-story-row--column feature-image">
                    {% if article.get_parent_section.get_effective_image %}
                        {% image article.get_parent_section.get_effective_image width-100 as tmp_photo %}
                          <img src="{{ tmp_photo.url }}" alt="{{ article.get_effective_image.title }}" class="image_radius"/>
                      {% else %}
                        <a href="{% pageurl article %}">
                        {% image article.image width-100 as tmp_photo %}
                        <img src="{{ tmp_photo.url }}" alt="{{ article.image.title }}" class="image_radius"/>
                        </a>
                      {% endif %}
                      <h3 class="article-heading f-medium">
                          <a href="{% pageurl article %}">{{article.title}}</a>
                      </h3>
                      <p>{{article.subtitle}}</p>
                  </div>
              {% endif %}
        {% endfor%}
        </div>
    </div>
{% endif %}
