{% extends 'servicedirectory/content_base.html' %}
{% load i18n %}
{% block inner_content %}

  {% block inner_banner %}
    <div class="service-dir__banner">
      <div class="service-dir__image"></div>
      <h1 class="heading service-dir__heading">{% trans "Clinic Service Finder" %}</h1>
    </div>
  {% endblock %}
  {% block sd_breadcrumbs %}
    <div class="service-dir__breadcrumbs">
      {% if search_term %}
        <span class="service-dir__subtitle">
          {{ search_term }}
        </span>
      {% endif %}
    </div>

  {% endblock %}

  {% comment %}Not a clickable breadcrumb indicator{% endcomment %}
  <h6 class="service-dir__pagination">{% trans "Step 1 of 4" %}</h6>
  <h3 class="service-dir__subtitle">{% trans "Choose the service you need" %}</h3>
  <p class="service-dir__body">
    {% trans "What kind of help are you looking for at the clinic?" %}</p>
  <p class="service-dir__body">{% blocktrans %}Select as many services as you need from the list below.
    This will help refine your search for the clinic.{% endblocktrans %}
  </p>

  <form action="{% url 'molo.servicedirectory:location-search' %}" method="get" class="service-dir__form" novalidate>
    {% if SERVICE_DIRECTORY_MULTI_CATEGORY_SELECT  %}
        {% for keyword in keyword_list %}
        <div class="fieldset-group fieldset-group--categories">
          <fieldset>
            <input type="checkbox" id="{{ keyword.name.split|join:"_"|lower }}" name="keywords[]" value="{{ keyword.name }}" {% if keyword.name in keywords %}checked="checked"{% endif %}/>
            <label for="{{ keyword.name.split|join:"_"|lower }}">{{ keyword.name|truncatechars:30|title }}</label>
          </fieldset>
        </div>
        {% endfor %}
        {% if categories %}
          {% for category in categories  %}
            <input type="hidden" name="categories[]" value="{{ category }}">
          {% endfor %}
        {% endif %}
        <div class="call-to-action">
          <input type="submit" value="{% trans 'Next' %}" class="call-to-action__nav-item--button" />
        </div>
    {% endif %}
    {% if not SERVICE_DIRECTORY_MULTI_CATEGORY_SELECT  %}
      <ul class="service-list service-list--outer">
      {% for category in categories_keywords  %}
        <li class="service-list__item">
          <a class="service-list__anchor" href="{% url 'molo.servicedirectory:location-search' %}?search={{ category.name }}">{{ category.name }}</a>
          <ul class="service-list service-list--inner">
          {% for keyword in category.keywords %}
            <li class="service-list__item">
              <a href="{% url 'molo.servicedirectory:location-search' %}?search={{ keyword }}" class="service-list__anchor--keyword service-list__anchor--keyword-general">{{ keyword }}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
        {% if and_more %}
          <a href="{% url 'molo.servicedirectory:home' %}?category={{ category.name }}" class="call-to-action__load-more">{% trans "Load more" %}</a>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
  </form>
{% endblock %}
