{% extends 'servicedirectory/content_base.html' %}
{% load i18n %}

{% block inner_content %}
<div class="service-dir">
  <h6 class="service-dir__breadcrumbs">{% trans "Step 1 of 4" %}</h6>
  {% comment %}Not a clickable breadcrumb indicator{% endcomment %}
  <h3 class="service-dir__subtitle">{% trans "Choose the service you need" %}</h3>
  <p class="service-dir__body">{% trans "What kind of help are you looking for at the clinic?" %}</p>
  <p class="service-dir__body">{% blocktrans %}Select as many services as you need from the list below.
    This will help refine your search for the clinic.{% endblocktrans %}
  </p>

  <form action="{% url 'molo.servicedirectory:location-search' %}" method="get" class="service-dir__form">
    {% if SERVICE_DIRECTORY_MULTI_CATEGORY_SELECT  %}
      {% for category in categories_keywords %}
        <h3 class="service-dir__subtitle">Category keywords</h3>
          {% for keyword in category.keywords %}
            <fieldset>
            <input type="checkbox" id="{{ keyword.split|join:"_"|lower }}" name="keywords[]" value="{{ keyword }}" {% if keyword in keywords %}checked="checked"{% endif %}/>
            <label for="{{ keyword.split|join:"_"|lower }}">{{ keyword|title }}</label>
            </fieldset>
          {% endfor %}
      {% endfor %}

      {% if categories %}
        <h3 class="service-dir__subtitle">Category</h3>
        {% for category in categories  %}
          <input type="hidden" name="categories[]" value="{{ category }}">
        {% endfor %}
      {% endif %}
    {% endif %}
    <span class="call-to-action">
      <input type="submit" value="{% trans 'Next' %}" class="call-to-action__item--button" />
    </span>
  </form>
  {% if not SERVICE_DIRECTORY_MULTI_CATEGORY_SELECT  %}
  <div class="service-dir__listings">
      {% for category in categories_keywords  %}
      <a class="service-dir__title" href="{% url 'molo.servicedirectory:location-search' %}?search={{ category.name }}">{{ category.name }}</a>
      <ul class="service-list">
        {% for keyword in category.keywords %}
        <li class="service-list__item">
          <a href="{% url 'molo.servicedirectory:location-search' %}?search={{ keyword }}" class="service-directory__search-term">{{ keyword }}</a>
        </li>
        {% endfor %}
        <li class="service-list__item">
          {% if and_more %}
            <a href="{% url 'molo.servicedirectory:home' %}?category={{ category.name }}">
            {% trans "and more" %}...</a>
          {% endif %}
        </li>
      </ul>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}
