{% extends 'servicedirectory/content_base.html' %}

{% load staticfiles %}
{% block inner_content %}
    {% if message %}
    <div class="sd-msg">
        {{ message }}
    </div>
    {% endif %}

    <h1 class="heading heading--org-name">{{ organisation.name }}</h1>
    <h2 class="heading heading--subtitle">Services</h2>
    <ul class="service-link-list">
    {% for category in organisation.categories %}
    <li class="service-link-list__item">
        {{ category.name }},&nbsp;
    </li>
    {% endfor %}
    </ul>
    <p class="service-dir__categories">Old styles</p>

    {% if organisation.about %}
    <h3 class="heading heading--subtitle heading--keywords">What we do</h3>
    <ul class="service-link-list">
        <li class="service-link-list__item service-link-list__item--keywords">
          {{ organisation.about }}
        </li>
    </ul>
    {% endif %}

    {% if organisation.telephone or organisation.email or organisation.web %}
        <h3 class="heading heading--subtitle">Contact</h3>
        <p class="service-dir__contact">
            {% if organisation.telephone %}
            <span class="tel">
                <a href="tel:{{ organisation.telephone }}">{{ organisation.telephone }}</a>
            </span><br/>
            {% endif %}
            {% if organisation.emergency_telephone %}
            <span class="tel">
                <a href="tel:{{ organisation.emergency_telephone }}" target="_blank">{{ organisation.emergency_telephone }}</a>
            </span><br/>
            {% endif %}
            {% if organisation.email %}
            <span class="email">
                <a href="mailto:{{ organisation.email }}">{{ organisation.email }}</a>
            </span><br/>
            {% endif %}
            {% if organisation.web %}
            <span class="web">
                <a href="{{ organisation.web }}" target="_blank">{{ organisation.web }}</a>
            </span>
            {% endif %}
        </p>
    {% endif %}

    {% if organisation.address %}
        <h3 class="heading heading--subtitle">Address</h3>
        <p class="service-dir__address">
            {{ organisation.address }}
        </p>
    {% endif %}

    {% if organisation.availability_hours %}
        <h3 class="heading heading--subtitle">Trading Hours</h3>
        <p class="service-dir__tradinghours">
            {{ organisation.availability_hours }}
        </p>
    {% endif %}

    {% if organisation.age_range_min and organisation.age_range_max %}
        <div class="service-dir__ages">
            {{ organisation.age_range_min }}-{{ organisation.age_range_max }} years
        </div>
    {% endif %}

    <a class="call-to-action__link" href="{% url 'molo.servicedirectory:organisation-report' organisation.id %}?org_name={{ organisation.name | urlencode }}">Is this info correct?</a>

    <a href="{% url 'molo.servicedirectory:organisation-sms' organisation.id %}" class="service-dir__button">Send Clinic Info to Someone</a>

    <a href="{% url 'molo.servicedirectory:organisation-sms-self' organisation.id %}" class="service-dir__button service-dir__button--outline">Send Clinic Info to Yourself</a>

    <br/>

    <h4 class="heading heading--subtitle">How helpful was this service directory entry?</h4>
    <form method="post" action="{% url 'molo.servicedirectory:organisation-rate' organisation.id %}">
        {% csrf_token %}
        <div class="service-dir__org-rating">
            <div class="service-dir__faces">
                <button type="submit" name="rating" value="good" class="smiley happy"></button>
                <span>Very helpful</span>
            </div>
            <div class="service-dir__faces">
                <button type="submit" name="rating" value="average" class="smiley neutral"></button>
                <span>I'm neutral</span>
            </div>
            <div class="service-dir__faces">
                <button type="submit" name="rating" value="poor" class="smiley sad"></button>
                <span>Not helpful</span>
            </div>
        </div>
    </form>

{% endblock %}
