{% extends 'servicedirectory/content_base.html' %}
{% load staticfiles i18n %}
{% block inner_content %}
  {% block inner_banner %}
    <div class="service-dir__banner">
      <h1 class="heading service-dir__heading">
        {% trans "Clinic Service Finder" %}
      </h1>
    </div>
  {% endblock %}
  {% block sd_breadcrumbs %}
    <div class="call-to-action call-to-action--breadcrumbs">
      <a href="{% url 'molo.servicedirectory:home' %}" class="call-to-action__nav-item call-to-action__nav-item--back">Back</a>
    </div>
  {% endblock %}
  {% if message %}
    <div class="service-dir__feedback">
      {{ message }}
    </div>
  {% endif %}
  <h1 class="service-dir__title">{{ organisation.name }}</h1>
  <h2 class="service-dir__subtitle">{% trans "Services they can provide" %}</h2>
  <ul class="service-list service-list--clinics">
    {% for category in organisation.categories %}
      <li class="service-list__item">
        <p class="service-dir__body">{{ category.name }}</p>
      </li>
    {% endfor %}
  </ul>
  {% if organisation.telephone or organisation.email or organisation.web %}
    <h3 class="service-dir__title">{% trans "Contact" %}</h3>
    <h6 class="service-dir__contact">
      {% if organisation.telephone %}
        <a href="tel:{{ organisation.telephone }}" class="service-dir__anchor">
          {{ organisation.telephone }}</a>
      {% endif %}
      {% if organisation.emergency_telephone %}
        <a href="tel:{{ organisation.emergency_telephone }}" class="service-dir__anchor">
          {{ organisation.emergency_telephone }}</a>
      {% endif %}
      {% if organisation.email %}
        <a href="mailto:{{ organisation.email }}" class="service-dir__anchor">
          {{ organisation.email }}</a>
      {% endif %}
      {% if organisation.web %}
        <a href="{{ organisation.web }}" class="service-dir__anchor">
          {{ organisation.web }}</a>
      {% endif %}
    </h6>
  {% endif %}

  {% if organisation.address %}
  <h3 class="service-dir__title">{% trans "Address" %}</h3>
  <ul class="service-list">
    <li class="service-list__item">
        <p class="service-dir__body">
          {{ organisation.address }}</p>
    </li>
  </ul>
  {% endif %}

  {% if organisation.availability_hours %}
  <h3 class="service-dir__title">{% trans "Trading Hours" %}</h3>
  <ul class="service-list">
    <li class="service-list__item">
      <p class="service-dir__body">
        {{ organisation.availability_hours }}</p>
    </li>
  </ul>
  {% endif %}

  {% if organisation.age_range_min and organisation.age_range_max %}
  <ul class="service-list">
    <li class="service-list__item">
      <p class="service-dir__body">{{ organisation.age_range_min }}-{{ organisation.age_range_max }} {% trans "years" %}</p>
    </li>
  </ul>
  {% endif %}
  <div class="call-to-action">
    <a href="{% url 'molo.servicedirectory:organisation-report' organisation.id %}?org_name={{ organisation.name | urlencode }}" class="call-to-action__nav-item">
      {% trans "Report incorrect info" %}
    </a>
    <a href="{% url 'molo.servicedirectory:organisation-sms' organisation.id %}" class="call-to-action__nav-item">
      {% trans "Send Service to Someone" %}
    </a>
    <a href="{% url 'molo.servicedirectory:organisation-sms-self' organisation.id %}" class="call-to-action__nav-item">
      {% trans "Send This Service to Yourself" %}
    </a>
  </div>

  <form method="post" action="{% url 'molo.servicedirectory:organisation-rate' organisation.id %}" class="service-dir__form">
  {% csrf_token %}
    <h2 class="service-dir__title">
      {% trans "How helpful was this service directory entry?" %}
    </h2>
    <fieldset class="service-dir__reaction">
      <label for="good">
        <button id="good" type="submit" name="rating" value="good" class="smiley good"></button>
        {% trans "Very helpful" %}
      </label>
    </fieldset>
    <fieldset class="service-dir__reaction">
      <label for="average">
        <button id="average" type="submit" name="rating" value="average" class="smiley average"></button>
        {% trans "I'm neutral" %}
      </label>
    </fieldset>
    <fieldset class="service-dir__reaction">
      <label for="poor">
        <button id="poor" type="submit" name="rating" value="poor" class="smiley poor"></button>
        {% trans "Not helpful" %}
      </label>
    </fieldset>
  </form>
{% endblock %}
