{% extends 'servicedirectory/content_base.html' %}
{% load staticfiles i18n %}
{% block inner_content %}
  {% if message %}
    <div class="service-dir__feedback">
      {{ message }}
    </div>
  {% endif %}
  <h1 class="service-dir__subtitle">{{ organisation.name }}</h1>
  <h2 class="service-directory__title">{% trans "Services" %}</h2>
  <ul class="service-list">
    {% for category in organisation.categories %}
      <li class="service-list__item">
        {{ category.name }}
      </li>
    {% endfor %}
  </ul>
  {% if organisation.telephone or organisation.email or organisation.web %}
    <h3 class="service-dir__subtitle">{% trans "Contact" %}</h3>
    <h6 class="service-directory__contact">
      {% if organisation.telephone %}
        <a href="tel:{{ organisation.telephone }}">{{ organisation.telephone }}</a>
      {% endif %}
      {% if organisation.emergency_telephone %}
        <a href="tel:{{ organisation.emergency_telephone }}" target="_blank">
          {{ organisation.emergency_telephone }}</a>
      {% endif %}
      {% if organisation.email %}
        <a href="mailto:{{ organisation.email }}">{{ organisation.email }}</a>
      {% endif %}
      {% if organisation.web %}
        <a href="{{ organisation.web }}" target="_blank">{{ organisation.web }}</a>
      {% endif %}
    </h6>
  {% endif %}

  {% if organisation.address %}
  <h3 class="service-dir__subtitle">{% trans "Address" %}</h3>
  <ul class="service-list">
    <li class="service-list__item">
        {{ organisation.address }}
    </li>
  </ul>
  {% endif %}

  {% if organisation.availability_hours %}
  <h3 class="service-dir__subtitle">{% trans "Trading Hours" %}</h3>
  <ul class="service-list">
    <li class="service-list__item">
      {{ organisation.availability_hours }}
    </li>
  </ul>
  {% endif %}

  {% if organisation.age_range_min and organisation.age_range_max %}
  <ul class="service-list">
    <li class="service-list__item">
      {{ organisation.age_range_min }}-{{ organisation.age_range_max }} years
    </li>
  </ul>
  {% endif %}

  <a class="call-to-action__nav-item call-to-action__nav-item--report" href="{% url 'molo.servicedirectory:organisation-report' organisation.id %}?org_name={{ organisation.name | urlencode }}">{% trans "Report incorrect info" %}</a>
  <a class="call-to-action__nav-item" href="{% url 'molo.servicedirectory:organisation-sms' organisation.id %}" class="sd-sms-button primary">{% trans "Send Service to Someone" %}</a>
  <a class="call-to-action__nav-item" href="{% url 'molo.servicedirectory:organisation-sms-self' organisation.id %}" class="sd-sms-button secondary">{% trans "Send This Service to Yourself" %}</a>

  <form method="post" action="{% url 'molo.servicedirectory:organisation-rate' organisation.id %}" class="service-dir__form">
  {% csrf_token %}
  <label class="service-dir__subtitle">{% trans "How helpful was this?" %}</label>
    <fieldset>
      <button type="submit" name="rating" value="good" class="smiley happy"></button>
      <label>{% trans "Very helpful" %}</label>
    </fieldset>
    <fieldset>
      <button type="submit" name="rating" value="average" class="smiley neutral"></button>
      <label>{% trans "I'm neutral" %}</label>
    </fieldset>
    <fieldset>
      <button type="submit" name="rating" value="poor" class="smiley sad"></button>
      <label>{% trans "Not helpful" %}</label>
    </fieldset>
  </form>
{% endblock %}
