{% extends 'servicedirectory/content_base.html' %}
{% load i18n %}
{% block inner_content %}
  <h1 class="service-dir__subtitle">
    {% trans "Which of the following information is incorrect for" %}
    <span class="svc-org-name">{{ organisation_name }}</span>?
  </h1>
  <form method="post" class="service-dir__form">
  {% csrf_token %}
    <fieldset>
        <input type="checkbox" id="contact_details" name="contact_details" value="true"/>
        <label for="contact_details">{% trans "Contact Details" %}</label>
    </fieldset>
    <fieldset>
        <input type="checkbox" id="address" name="address" value="true"/>
        <label for="address">{% trans "Address" %}</label>
    </fieldset>
    <fieldset>
        <input type="checkbox" id="trading_hours" name="trading_hours" value="true"/>
        <label for="trading_hours">{% trans "Trading Hours" %}</label>
    </fieldset>
    <fieldset>
        <input type="checkbox" id="other" name="other" value="true"/>
        <label for="other"> {% trans "Other" %}</label>
    </fieldset>
    <fieldset>
        <label for="other_detail" class="other_detail">
          {% trans "If other, please specify" %}:</label>
        <textarea id="other_detail" name="other_detail" rows="3"></textarea>
    </fieldset>
    <div class="call-to-action">
      <input type="submit" name="send-report" value="Send Report" class="call-to-action__nav-item call-to-action__nav-item--button" />
  </form>
{% endblock %}
