<!---------------------------------->
  <!--START: ORGANISATION RESULTS-->
<!---------------------------------->
<div class="fieldset-group">
  <fieldset>
    <input type="text" name="search" value="{{ search_term }}" />
  <fieldset>
</div>
<div class="fieldset-group">
  {% if SERVICE_DIRECTORY_RADIUS  %}
    <fieldset>
      <label>
        {% trans "Show me results within" %}
        <span class="service-dir__radius">
          <p id="radius_option">{{radius}}</p> {% trans "KMs away" %}
        </span>
      </label>
      <select name="radius">
        {% for value, label in SERVICE_DIRECTORY_RADIUS_OPTIONS %}
          <option {% ifequal value  SERVICE_DIRECTORY_RADIUS %}selected="selected"{% endifequal %} value="{{ value }}">
              {{ label }}
          </option>
        {% endfor %}
      </select>
    </fieldset>
  {% endif %}
</div>
<div class="call-to-action">
  <input type="submit" value="Update search" class="call-to-action__nav-item call-to-action__nav-item--button" disabled="disabled" />
  <input type="hidden" name="location" value="{{ location_term }}" />
  <input type="hidden" name="place_id" value="{{ place_id }}" />
</div>
<!---------------------------------->
  <!--END: ORGANISATION RESULTS-->
<!---------------------------------->


<!---------------------------------->
  <!--START: LOCATION RESULTS-->
<!---------------------------------->
<h6 class="service-dir__address-title">
  {% if SERVICE_DIRECTORY_MULTI_CATEGORY_SELECT %}
    {% with autocomplete_suggestions.predictions|first as topPrediction %}
      <a class="service-dir__address-anchor"
         href="{% url 'molo.servicedirectory:organisation-results' %}?place_id={{ prediction.place_id }}&location={{ location_term }}&search={{ search_term }}{% for category in categories  %}&categories[]={{ category }}{% endfor %}{% for keyword in keywords  %}&keywords[]={{ keyword }}{% endfor %}">
          {{ topPrediction.description }}
        </a>
    {% endwith %}
  {% else %}
    {% with autocomplete_suggestions.predictions|first as topPrediction %}
      <a class="service-dir__address-anchor"
          href="{% url 'molo.servicedirectory:organisation-results' %}?place_id={{ prediction.place_id }}&location={{ location_term }}&search={{ search_term }}">
        {{ topPrediction.description }}
      </a>
    {% endwith %}
  {% endif %}
</h6>

<!------------------------------------------------------------------------------------->
{% if autocomplete_suggestions.status != 'OK' %}
  <h3 class="service-dir__subtitle {% if autocomplete_suggestions.status != 'ZERO_RESULTS' %} error{% endif %}">
    {% if autocomplete_suggestions.status == 'ZERO_RESULTS' %}
        {% trans "No results. Please try changing your search." %}
    {% else %}
        {{ autocomplete_suggestions.error_message }}
    {% endif %}
  </h3>
{% else %}
  <h3 class="service-dir__subtitle">{% trans "Did you mean a different location?" %}</h3>
  <p class="service-dir__body">Please choose the correct location:</p>
{% endif %}

<ul class="service-list service-list--outer">
{% if SERVICE_DIRECTORY_MULTI_CATEGORY_SELECT %}
  {% with autocomplete_suggestions.predictions|first as topPrediction %}
  <h2 class="service-dir__title">
    <a class="service-dir__anchor"
       href="{% url 'molo.servicedirectory:organisation-results' %}?place_id={{ prediction.place_id }}&location={{ location_term }}&search={{ search_term }}{% for category in categories  %}&categories[]={{ category }}{% endfor %}{% for keyword in keywords  %}&keywords[]={{ keyword }}{% endfor %}">
        {{ topPrediction.description }}
    </a>
  </h2>
  <div class="call-to-action">
    <a url="{% url 'molo.servicedirectory:organisation-results' %}?place_id={{ prediction.place_id }}&location={{ location_term }}&search={{ search_term }}{% for category in categories  %}&categories[]={{ category }}{% endfor %}{% for keyword in keywords  %}&keywords[]={{ keyword }}{% endfor %}" class="call-to-action__nav-item call-to-action__nav-item--button">
      {% trans 'Next' %}
    </a>
  </div>
  {% endwith %}
{% else %}
  {% with autocomplete_suggestions.predictions|first as topPrediction %}
    <h2 class="service-dir__title">
      <a class="service-dir__anchor"
          href="{% url 'molo.servicedirectory:organisation-results' %}?place_id={{ prediction.place_id }}&location={{ location_term }}&search={{ search_term }}">
        {{ topPrediction.description }}
      </a>
    </h2>
    <div class="call-to-action">
      <a url="{% url 'molo.servicedirectory:organisation-results' %}?place_id={{ prediction.place_id }}&location={{ location_term }}&search={{ search_term }}" class="call-to-action__nav-item call-to-action__nav-item--button">
        {% trans 'Next' %}
      </a>
    </div>
  {% endwith %}
{% endif %}

<!---------------------------------->
  <!--END: LOCATION RESULTS-->
<!---------------------------------->
