<!---------------------------------->
  <!--START: ORGANISATION RESULTS-->
<!---------------------------------->
<div class="fieldset-group">
  <fieldset>
    <input type="text" name="search" value="{{ search_term }}" />
  <fieldset>
</div>
<div class="fieldset-group">
  {% if SERVICE_DIRECTORY_RADIUS  %}
    <fieldset>
      <label>
        {% trans "Show me results within" %}
        <span class="service-dir__radius">
          <p id="radius_option">{{radius}}</p> {% trans "KMs away" %}
        </span>
      </label>
      <select name="radius">
        {% for value, label in SERVICE_DIRECTORY_RADIUS_OPTIONS %}
          <option {% ifequal value  SERVICE_DIRECTORY_RADIUS %}selected="selected"{% endifequal %} value="{{ value }}">
              {{ label }}
          </option>
        {% endfor %}
      </select>
    </fieldset>
  {% endif %}
</div>
<div class="call-to-action">
  <input type="submit" value="Update search" class="call-to-action__nav-item call-to-action__nav-item--button" disabled="disabled" />
  <input type="hidden" name="location" value="{{ location_term }}" />
  <input type="hidden" name="place_id" value="{{ place_id }}" />
</div>
<!---------------------------------->
  <!--END: ORGANISATION RESULTS-->
<!---------------------------------->
