{% load i18n %}
<form action="{% url 'molo.servicedirectory:location-results'  %}" method="get" class="service-dir__form">
  <div class="fieldset-group">
    <h3 class="service-dir__subtitle">{% trans "Enter the village/town" %}</h3>
    <fieldset>
      <label>
        {% trans "In which village or town would you like to find a service?" %}
      </label>
      <input type="text" name="location" value="{{ location_term }}" placeholder="Enter village or town..."/>
    <fieldset>
  </div>
  <div class="fieldset-group">
    {% if SERVICE_DIRECTORY_RADIUS  %}
      <fieldset>
        <label class="service-dir-hero-label">{% trans "Show me results within" %} {% if value == "" %}__{% else %}{{ value }}{% endif %} {% trans "KMs away" %}</label>
        <select name="radius" value="{{ radius }}" >
          {% for value, label in SERVICE_DIRECTORY_RADIUS_OPTIONS  %}
          <option {% ifequal value  SERVICE_DIRECTORY_RADIUS %}selected="selected"{% endifequal %} value="{{ value }}">
            {{ label }}
          </option>
          {% endfor %}
        </select>
      <fieldset>
    {% endif %}
  </div>
  <input type="submit" value="Search" />
  <input type="hidden" name="search" value="{{ search_term }}" />
</form>
