{% load i18n %}
<form action="{% url 'molo.servicedirectory:location-results'  %}" method="get" class="service-dir__form">
  <div class="fieldset-group">
    <fieldset>
      <input type="text" name="location" value="{{ location_term }}" placeholder="Enter village or town..."/>
    <fieldset>
  </div>
  <div class="fieldset-group">
  {% if SERVICE_DIRECTORY_RADIUS  %}
    {% with SERVICE_DIRECTORY_RADIUS as radius %}
      <fieldset>
        <label class="service-dir-hero-label">
          {% trans "Show me results within" %}
          <span class="service-dir__radius">
            <p id="radius_option">{{radius}}</p>{% trans "KMs away" %}
          </span>
        </label>

        <select id="select_radius" name="radius">
          {% for value, label in SERVICE_DIRECTORY_RADIUS_OPTIONS  %}
            <option value="{{ value }}">
              {{ label }}
            </option>
          {% endfor %}
        </select>
      <fieldset>
    {% endwith %}
  {% endif %}
  </div>
  <div class="call-to-action">
    <input type="submit" value="Search" />
    <input type="hidden" name="search" value="{{ search_term }}" />
  </div>
</form>
